.videofield {
  margin: -0.8em;
  display: flex;
  flex-direction: column;
  height: ~"calc(100vh-16em)";
}
.videofield-header {
  padding: 0.8em;
}
.videofield-body {
  display: flex;
  flex: 1;
}
.videofield-form {
  flex: 1;
  padding: 0 0.8em 0.8em;
}
.videofield-player {
  position: relative;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
