.store-product-container {
  flex: 1;
  display: flex;
  .scrollable();
}
.store-product {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.store-product-media {
  display: flex;
}
.store-product-icon {
  position: absolute;
  background-color: fadeout(@black, 90);
  color: @white;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex: 1;
  .fa {
    font-size: 12em;
    margin: auto;
  }
}
.store-product-media-inner {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  .maha-carousel {
    flex: 1;
  }
}
.store-product-details {
  padding: 0.8em;
}
.store-product-title {
  font-size: 2em;
  line-height: 1.2em;
}
.store-product-description {
  color: fadeout(@black, 60);
  line-height: 1.6em;
  margin: 0 0 0.8em;
}
.store-product-variants {
  margin-bottom: 0.8em;
}

@media (max-width: 414px) {
  .store-product {
    flex: 1;
    .scrollable();
  }
  .store-product-media {
    overflow: hidden;
  }
}
@media (min-width: 415px) {
  .store-product {
    display: flex;
  }
  .store-product-media {
    padding: 0.8em;
    flex: 1;
  }
  .store-product-media-inner {
    img {
      width: 100%;
    }
  }
  .store-product-details {
    padding: 0.8em;
    flex: 1;
  }
}
