@keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes slide {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes zoom {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes flip {
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes fold {
  to {
    opacity: 1;
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes roll {
  0% {
    transform-origin: center;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
