.rw {
  display: flex;
}
.rc {
  display: flex;
}
.r {
  flex: 1;
  display: flex;
}
.ri {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.d12 {
  flex: 0 0 100%;
}
.d11 {
  flex: 0 0 calc(100% * (11 / 12));
}
.d10 {
  flex: 0 0 calc(100% * (10 / 12));
}
.d9 {
  flex: 0 0 calc(100% * (9 / 12));
}
.d8 {
  flex: 0 0 calc(100% * (8 / 12));
}
.d7 {
  flex: 0 0 calc(100% * (7 / 12));
}
.d6 {
  flex: 0 0 calc(100% * (6 / 12));
}
.d5 {
  flex: 0 0 calc(100% * (5 / 12));
}
.d4 {
  flex: 0 0 calc(100% * (4 / 12));
}
.d3 {
  flex: 0 0 calc(100% * (3 / 12));
}
.d2 {
  flex: 0 0 calc(100% * (2 / 12));
}
.d1 {
  flex: 0 0 calc(100% * (1 / 12));
}
@media all and (max-width: 980px) {
  .t12 {
    flex: 0 0 100%;
  }
  .t11 {
    flex: 0 0 calc(100% * (11 / 12));
  }
  .t10 {
    flex: 0 0 calc(100% * (10 / 12));
  }
  .t9 {
    flex: 0 0 calc(100% * (9 / 12));
  }
  .t8 {
    flex: 0 0 calc(100% * (8 / 12));
  }
  .t7 {
    flex: 0 0 calc(100% * (7 / 12));
  }
  .t6 {
    flex: 0 0 calc(100% * (6 / 12));
  }
  .t5 {
    flex: 0 0 calc(100% * (5 / 12));
  }
  .t4 {
    flex: 0 0 calc(100% * (4 / 12));
  }
  .t3 {
    flex: 0 0 calc(100% * (3 / 12));
  }
  .t2 {
    flex: 0 0 calc(100% * (2 / 12));
  }
  .t1 {
    flex: 0 0 calc(100% * (1 / 12));
  }
}
@media all and (max-width: 767px) {
  .m12 {
    flex: 0 0 100%;
  }
  .m11 {
    flex: 0 0 calc(100% * (11 / 12));
  }
  .m10 {
    flex: 0 0 calc(100% * (10 / 12));
  }
  .m9 {
    flex: 0 0 calc(100% * (9 / 12));
  }
  .m8 {
    flex: 0 0 calc(100% * (8 / 12));
  }
  .m7 {
    flex: 0 0 calc(100% * (7 / 12));
  }
  .m6 {
    flex: 0 0 calc(100% * (6 / 12));
  }
  .m5 {
    flex: 0 0 calc(100% * (5 / 12));
  }
  .m4 {
    flex: 0 0 calc(100% * (4 / 12));
  }
  .m3 {
    flex: 0 0 calc(100% * (3 / 12));
  }
  .m2 {
    flex: 0 0 calc(100% * (2 / 12));
  }
  .m1 {
    flex: 0 0 calc(100% * (1 / 12));
  }
}
