main > div > div,
main > div > div > div,
main > div > div > div > div {
  display: flex;
}
main > div > div > div > div > div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
