.maha-form {
  display: flex;
  flex: 1;
  .maha-menus-header {
    background-color: @red;
    padding-top: 0;
    .ui.menu {
      background-color: @red;
      border-color: @white;
      box-shadow: none !important;
      .item {
        border-color: @white !important;
        color: @white !important;
        &:before {
          background-color: fadeout(@white, 60) !important;
        }
        &.active {
          background-color: @white !important;
          color: @red !important;
        }
      }
    }
  }
}
.maha-form-segment {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  border-radius: 0.3em;
  padding: 0.4em 0;
}
.maha-modal-panel-body {
  display: flex;
  .ui.form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .maha-menus {
    flex: 1;
  }
}
.maha-modal-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fadeout(@black, 98);
}
.maha-form-sections {
  position: relative;
  flex: 1;
  .scrollable();
  .maha-form-section:last-child {
    border-bottom: none;
  }
}
.maha-form-section {
  border-bottom: 1px solid fadeout(@black, 90);
  position: static;
  padding: 0;
  margin: 0;
  &.collapsing {
    cursor: pointer;
    &.collapsed .maha-form-section-body {
      display: none;
    }
  }
	input, textarea {
		color: lighten(@black, 40) !important;
	}
	textarea {
		line-height: 1.5em !important;
	}
}
.maha-form-section-header {
  background-color: fadeout(@black, 90);
  padding: 0.8em;
  color: @black, 50;
  margin: 0;
  font-weight: normal;
}
.maha-form-section-body {
  padding: 0.4em 0;
}
.error {
  input, textarea, select, .lookup-field, .dropdown {
    border-color: @red !important;
    background-color: @white !important;
  }
  & > label {
    color: @red !important;
  }
  .error-message {
    background-color: @red !important;
    color: @white !important;
    padding: 5px 10px;
    font-size: .8em;
    margin-top: -5px;
    z-index: 10;
  }
  .ui.label {
    background-color: @red !important;
    color: @white !important;
  }
}
.maha-form-section-instructions {
  color: fadeout(@black, 40);
  line-height: 1.6em;
  margin: 0.4em 0;
  ul {
    padding: 0 1.6em;
  }
}
.maha-form-field {
  &.hidden {
    padding: 0 !important;
  }
  display: flex;
  padding: 0.4em 0.8em;
  line-height: 1.6em;
  margin: 0 !important;
  &.required .maha-form-field-label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: @red;
  }
  flex-direction: column;
  .fields {
    margin: 0 -0.5em !important;
  }
}
.maha-form-field-label {
  color: fadeout(@black, 10);
  font-weight: bold;
}
.maha-form-field-instructions {
  color: fadeout(@black, 40);
  line-height: 1.6em;
  margin: 0.4em 0;
}
.maha-form-field-control {
  flex: 1;
  padding: 0;
}
.maha-form.inline {
  flex: none;
  display: block;
  .maha-form,
  .maha-stack,
  .maha-stack-inner,
  .maha-stack-card,
  .maha-modal-panel {
    flex: none;
    display: block;
  }
  .maha-stack-card {
    position: static;
    transform: none;
    background: none;
  }
  .maha-modal-panel {
    position: static;
    background: none;
  }
  .maha-form-sections {
    overflow-y: visible;
  }
}
.maha-input {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    box-shadow: none;
  }
  &.disabled {
    background-color: fadeout(@black, 97);
    color: fadeout(@black, 90);
    * {
      color: fadeout(@black, 40) !important;
    }
  }
}
.maha-input-placeholder {
  color: fadeout(@black, 70);
  min-height: 2em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  line-height: 2em;
}
.maha-input-tokens {
  padding: 0.2em;
  min-height: 2em;
  line-height: 2em;
}
.maha-input-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
  line-height: 1.7em;
}
.maha-input-field {
  flex: 1;
  display: flex;
  input {
    flex: 1;
    border: none !important;
    outline: none !important;
    background: none !important;
    padding: 0.8em !important;
  }
}
.maha-input-clear {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
