.tickettypesfield {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
}
.tickettypesfield-tickettype {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.tickettypesfield-tickettype-token {
  flex: 1;
}
.tickettypesfield-tickettype-action {
  padding: 0.4em 0.8em 0.4em 0;
  cursor: pointer;
  color: fadeout(@black, 80);
  &:hover .fa {
    color: fadeout(@black, 60);
  }
}
.tickettypesfield-add {
  background-color: fadeout(@black, 97);
  padding: 0.8em;
}
