.date-and-time {
  display:flex;
  flex-direction: column;
  .welcome {
    font-size: 1.4em;
    font-weight:bold;
    flex:1;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .date {
    font-size: .7em;
    flex:1;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time {
    font-size: 2.8em;
    flex:1;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
