.registration-summary {
  padding: 0.8em;
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
}
.registration-summary-tickets {
  margin: 0 0 1em;
  table {
    background: @white;
    width: 100%;
    border-top: 1px solid fadeout(@black, 90);
    border-left: 1px solid fadeout(@black, 90);
  }
  thead {
    td {
      background: fadeout(@black, 97);
      font-weight: bold;
    }
  }
  tr {
    td:nth-child(2) {
      width: 80px;
      text-align: right;
    }
  }
  td, th {
    padding: 0.8em;
    border-bottom: 1px solid fadeout(@black, 90);
    border-right: 1px solid fadeout(@black, 90);
  }
  .registration-summary-total {
    background: fadeout(@black, 97);
    font-weight: bold;
  }
}
.registration-summary-customer {
  margin: 0 0 1em;
}
