.designer-page-sections {
  flex: 1;
}
.designer-page-section {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.designer-page-section-label {
  padding: 0.8em;
  flex: 1;
}
.designer-page-section-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    font-size: 0.8em;
    color: fadeout(@black, 40);
  }
}
