.administrations {
  .ui.table tbody tr {
    td {
      padding: 0.8em !important;
      &:first-child {
        padding: 0 !important;
      }
    }
  }
  .fa-check {
    color: @green;
  }
  .fa-times {
    color: @red;
  }
}
