.access-token {
  display: flex;
}
.access-token-item {
  flex: 1;
}
.access-token-type {
  padding: 0.8em 0.8em 0.8em 0;
}
.access-type-token {
  display: block;
  color: @white;
  padding: .4em .8em;
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  width: 12em;
  background-color: @grey;
}
