.maha-attachments-drive {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: @white;
  position: relative;
}
.maha-attachments-drive-main {
  flex: 1;
  display: flex;
  position: relative;
}
.maha-attachments-drive-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.maha-attachments-drive-head {
  background-color: @red;
  padding: 0 0.5em 0.5em;
  display: flex;
}
.maha-attachments-drive-head-bar {
  background-color: fadeout(@white, 50);
  border-radius: 0.5em;
  display: flex;
  flex: 1;
  .maha-searchbox {
    padding: 0;
  }
}
.maha-attachments-drive-search {
  border-right: 1px solid @red;
  flex: 1;
  .maha-searchbox {
    padding-top: 0;
  }
  .maha-searchbox-input {
    margin: 0 !important;
    .maha-searchbox-icon {
      color: @white !important;
    }
    .maha-searchbox-remove-icon {
      .hover(color, fadeout(@white, 30));
      color: fadeout(@white, 50);
    }
    input {
      color: @white !important;
      &::-webkit-input-placeholder {
        color: fadeout(@white, 20);
      }
      &:-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: fadeout(@white, 20);
      }
    }
  }
}
.maha-attachments-drive-view {
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  flex: 0 0 2.5em;
  .fa {
    color: @white;
    margin: auto;
    font-size: 1.2em;
    line-height: 1em;
  }
  &:hover {
    background-color: fadeout(@white, 80);
  }
}
.maha-attachments-drive-folder {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.maha-attachments-drive-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  padding-right: 6px;
  height: 3em;
}
.maha-attachments-drive-header-breadcrumb {
  flex: 1;
  display: flex;
  cursor: pointer;
}
.maha-attachments-drive-header-icon {
  .hover(color, fadeout(@black, 50));
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 80);
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin: auto;
  }
}
.maha-attachments-drive-header-back {
  flex: 0 0 2em;
  padding: 0.8em 0 0.8em 0.8em;
  cursor: pointer;
  img {
    overflow: hidden;
    border-radius: 0.3em;
    display: block;
    height: 18px;
    width: 18px;
  }
}
.maha-attachments-drive-header-label {
  padding: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: ~"calc(100vw - 3em)";
}
.maha-attachments-drive-results {
  flex: 1;
  display: flex;
}
.maha-attachments-drive-root {
  flex: 1;
  display: flex;
  .scrollable();
}
