.list {
  background-color: @white;
}
.list-section-title {
  padding: 0.4em 0.8em;
  background-color: fadeout(@black, 80);
}
.list-item {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.list-item-details {
  display: flex;
  flex: 1;
}
.list-item-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
