.maha-flash {
  flex: 1;
  display: flex;
  position: relative;
}
.maha-flash-popup {
  position: absolute;
  padding: 1em;
  &.info {
    .maha-flash-popup-icon {
      border-color: @blue;
      .fa {
        color: @blue;
      }
    }
  }
  &.warning {
    .maha-flash-popup-icon {
      border-color: @orange;
      .fa {
        color: @orange;
      }
    }
  }
  &.success {
    .maha-flash-popup-icon {
      border-color: @green;
      .fa {
        color: @green;
      }
    }
  }
  &.error {
    .maha-flash-popup-icon {
      border-color: @red;
      .fa {
        color: @red;
      }
    }
  }
}
.maha-flash-popup-panel {
  display: flex;
  color: @white;
  background-color: lighten(@black, 30);
  border-radius: 0.2em;
  overflow: hidden;
  width: 100%;
  max-width: ~"calc(800px - 2em)";
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.maha-flash-popup-icon {
  border-left: 5px solid @black;
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.6em;
  }
}
.maha-flash-popup-message {
  padding: 0.8em;
  flex: 1;
  display: flex;
  p {
    margin: auto 0;
  }
}
.maha-flash-popup-clear {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  cursor: pointer;
  &:hover .fa {
    color: @white;
  }
  .fa {
    color: fadeout(@white, 20);
    margin: auto;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .maha-flash-popup {
    .translate-y-transition(-100%, 0, .25s);
    top: 0;
    left: 0;
    right: 0;
  }
}
@media (min-width: 769px) {
  .maha-flash-popup {
    .translate-x-transition(100%, 0, .25s);
    bottom: 0;
    right: 0;
  }
}
