.maha-criterion-form {
  .crm-checkboxesfield {
    flex: 1;
    margin: 0 !important;
    .scrollable();
  }
}
.crm-checkboxesfield {
  margin: -0.8em;
}
.crm-checkboxesfield-header {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  .maha-logo {
    font-size: 0.8em;
  }
}
.crm-checkboxesfield-item {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.crm-checkboxesfield-item-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
  .fa-check-circle {
    color: @blue;
  }
  .fa-circle-o {
    color: fadeout(@black, 80);
  }
}
.crm-checkboxesfield-item-label {
  padding: 0.8em;
}
