.maha-dashboard-body.expanded {
  .maha-dashboard-panel-item {
    &.full .maha-dashboard-card-container {
      flex: 1;
    }
    &.hidden {
      display: none;
    }
  }
}
.maha-dashboard-body:not(.expanded) {
  .maha-dashboard-card-container {
    padding-bottom: 125%;
    height: 0;
  }
}
.maha-dashboard-panel.one {
  .expand {
    display: none;
  }
}
.maha-dashboard-card-container {
  position: relative;
  &.hidden {
    display: none;
  }
  .maha-stack {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
.maha-dashboard-card-container {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 0.3em;
  overflow: hidden;
}
.maha-dashboard-card {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.maha-dashboard-card-back {
  color: fadeout(@black, 60);
  cursor: pointer;
  display: flex;
  align-items: center;
  .fa {
    margin-left: 0.8em;
  }
}
.maha-dashboard-card-header {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.maha-dashboard-card-header-details {
  flex: 1;
  padding: 0.8em;
  overflow: hidden;
  h2 {
    margin: 0;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.maha-dashboard-card-header-controls {
  display: flex;
}
.maha-dashboard-card-header-control {
  display: flex;
  .maha-button {
    margin: auto;
    padding: 0.8em 0.7em;
  }
  .fa {
    cursor: pointer;
    margin: auto;
    font-size: 1em;
    color: fadeout(@black, 80);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.maha-dashboard-card-body {
  flex: 1;
  &:not(.scrollable) {
    flex-direction: column;
    display: flex;
  }
  &.scrollable {
    .scrollable();
  }
}
.maha-dashboard-card-body-back {
  border-bottom: 1px solid fadeout(@black, 90);
  padding: 0.4em 0.8em;
}

.maha-dashboard-card-footer {
  border-top: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  padding: 0.8em;
  text-align: center;
}

.maha-dashboard-body:not(.expanded) {
  .crm-report-metrics {
    flex-wrap: wrap;
    .crm-report-metric {
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid fadeout(@black, 90);
      }
    }
    .crm-report-metric:nth-child(2n) {
      border-right: none;
    }
  }
  .crm-report-metric {
    flex: 0 50%;
  }

  .crm-email-campaign-results-header {
    display: block;
  }

  .maha-chart-range {
    font-size: 12px;

    &:after {
      margin: 0 .25em;
    }
  }
}
