@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;
@grey: #666666;
@lightblue: #85B7D9;
@primary_background_color: @black;
@primary_color: @white;

@avatar_background_color: @grey;
@avatar_color: @white;

@splash_background_color: @black;
@splash_color: @white;

@info_color: @blue;
@warning_color: @orange;
@success_color: @green;
@error_color: @red;

@primary_background_color: @black;
@primary_color: @white;

@splash_background_color: @black;
@splash_color: @white;

@info_color: @blue;
@warning_color: @orange;
@success_color: @green;
@error_color: @red;

@import '../../admin/components/asset/icon/style.less';
@import '../../admin/components/asset/info/style.less';
@import '../../admin/components/asset/preview/style.less';
@import '../../admin/components/asset/thumbnail/style.less';
@import '../../admin/components/asset/viewer/style.less';
@import '../../admin/components/assignment/style.less';
@import '../../admin/components/attachment/style.less';
@import '../../admin/components/attachments/device/style.less';
@import '../../admin/components/attachments/drive/style.less';
@import '../../admin/components/attachments/explorer/style.less';
@import '../../admin/components/attachments/importing/style.less';
@import '../../admin/components/attachments/photos/style.less';
@import '../../admin/components/attachments/review/style.less';
@import '../../admin/components/attachments/sources/style.less';
@import '../../admin/components/attachments/style.less';
@import '../../admin/components/attachments/web/style.less';
@import '../../admin/components/audit/style.less';
@import '../../admin/components/avatar/style.less';
@import '../../admin/components/button/style.less';
@import '../../admin/components/buttons/style.less';
@import '../../admin/components/camera/style.less';
@import '../../admin/components/carousel/style.less';
@import '../../admin/components/chart/style.less';
@import '../../admin/components/chooser/style.less';
@import '../../admin/components/collection/filter/style.less';
@import '../../admin/components/collection/filters/style.less';
@import '../../admin/components/collection/style.less';
@import '../../admin/components/collection/table/columns/style.less';
@import '../../admin/components/collection/table/style.less';
@import '../../admin/components/comments/comment/style.less';
@import '../../admin/components/comments/style.less';
@import '../../admin/components/composer/attachments/style.less';
@import '../../admin/components/composer/style.less';
@import '../../admin/components/criteria_builder/style.less';
@import '../../admin/components/criteria_designer/style.less';
@import '../../admin/components/designer/page/content/style.less';
@import '../../admin/components/designer/page/design/style.less';
@import '../../admin/components/designer/style.less';
@import '../../admin/components/drawer/style.less';
@import '../../admin/components/dropzone/style.less';
@import '../../admin/components/embed/style.less';
@import '../../admin/components/emojis/style.less';
@import '../../admin/components/feed/style.less';
@import '../../admin/components/fields/style.less';
@import '../../admin/components/flash/style.less';
@import '../../admin/components/form/addressfield/style.less';
@import '../../admin/components/form/alignmentfield/style.less';
@import '../../admin/components/form/assignmentfield/style.less';
@import '../../admin/components/form/attachmentfield/style.less';
@import '../../admin/components/form/checkbox/style.less';
@import '../../admin/components/form/codefield/style.less';
@import '../../admin/components/form/colorfield/style.less';
@import '../../admin/components/form/criteriafield/style.less';
@import '../../admin/components/form/datefield/style.less';
@import '../../admin/components/form/datetimefield/style.less';
@import '../../admin/components/form/dropdown/style.less';
@import '../../admin/components/form/filefield/style.less';
@import '../../admin/components/form/formatfield/style.less';
@import '../../admin/components/form/htmlfield/style.less';
@import '../../admin/components/form/linkfield/style.less';
@import '../../admin/components/form/lookup/style.less';
@import '../../admin/components/form/lookup2/style.less';
@import '../../admin/components/form/numberfield/style.less';
@import '../../admin/components/form/password/style.less';
@import '../../admin/components/form/permalinkfield/style.less';
@import '../../admin/components/form/phonenumberfield/style.less';
@import '../../admin/components/form/profilefield/style.less';
@import '../../admin/components/form/range/style.less';
@import '../../admin/components/form/rating/style.less';
@import '../../admin/components/form/select/style.less';
@import '../../admin/components/form/smsfield/shortlink/style.less';
@import '../../admin/components/form/smsfield/style.less';
@import '../../admin/components/form/style.less';
@import '../../admin/components/form/tablefield/style.less';
@import '../../admin/components/form/tagfield/style.less';
@import '../../admin/components/form/text/style.less';
@import '../../admin/components/form/textarea/style.less';
@import '../../admin/components/form/timefield/style.less';
@import '../../admin/components/form/toggle_list/style.less';
@import '../../admin/components/form/tokenfield/style.less';
@import '../../admin/components/gallery/style.less';
@import '../../admin/components/image_editor/canvas/style.less';
@import '../../admin/components/image_editor/crop/style.less';
@import '../../admin/components/image_editor/sidebar/style.less';
@import '../../admin/components/image_editor/style.less';
@import '../../admin/components/image_preview/style.less';
@import '../../admin/components/image/style.less';
@import '../../admin/components/import/configure/style.less';
@import '../../admin/components/import/field/style.less';
@import '../../admin/components/import/finalizing/style.less';
@import '../../admin/components/import/intro/style.less';
@import '../../admin/components/import/mapping/style.less';
@import '../../admin/components/import/parsing/style.less';
@import '../../admin/components/import/preview/style.less';
@import '../../admin/components/import/processing/style.less';
@import '../../admin/components/import/style.less';
@import '../../admin/components/import/summary/style.less';
@import '../../admin/components/import/validating/fix/style.less';
@import '../../admin/components/import/validating/review/style.less';
@import '../../admin/components/import/validating/style.less';
@import '../../admin/components/infinite/style.less';
@import '../../admin/components/link/style.less';
@import '../../admin/components/list/style.less';
@import '../../admin/components/loader/style.less';
@import '../../admin/components/logo/style.less';
@import '../../admin/components/menu/style.less';
@import '../../admin/components/message/style.less';
@import '../../admin/components/modal_panel/style.less';
@import '../../admin/components/modal/style.less';
@import '../../admin/components/multiform/style.less';
@import '../../admin/components/page/style.less';
@import '../../admin/components/panel/style.less';
@import '../../admin/components/picklist/style.less';
@import '../../admin/components/popup/style.less';
@import '../../admin/components/preview/style.less';
@import '../../admin/components/progress/bar/style.less';
@import '../../admin/components/progress/pie/style.less';
@import '../../admin/components/prompt/style.less';
@import '../../admin/components/reactions/reaction/style.less';
@import '../../admin/components/reactions/reactions/style.less';
@import '../../admin/components/richtext/style.less';
@import '../../admin/components/scrollpane/style.less';
@import '../../admin/components/search/style.less';
@import '../../admin/components/searchbox/style.less';
@import '../../admin/components/sortable_list/style.less';
@import '../../admin/components/stack/style.less';
@import '../../admin/components/stars/star/style.less';
@import '../../admin/components/stars/starred/style.less';
@import '../../admin/components/steps/style.less';
@import '../../admin/components/table/style.less';
@import '../../admin/components/tabs/style.less';
@import '../../admin/components/tasks/style.less';
@import '../../admin/components/tokens/style.less';
@import '../../admin/components/tooltip/style.less';
@import '../../admin/components/uploader/style.less';
@import '../../admin/components/virtualized/style.less';
@import '../../admin/tokens/account/style.less';
@import '../../admin/tokens/app/style.less';
@import '../../admin/tokens/asset/style.less';
@import '../../admin/tokens/assignee/style.less';
@import '../../admin/tokens/authentication_strategy/style.less';
@import '../../admin/tokens/help_article/style.less';
@import '../../admin/tokens/phone_number/style.less';
@import '../../admin/tokens/presence/style.less';
@import '../../admin/tokens/profile/style.less';
@import '../../admin/tokens/source/style.less';
@import '../../admin/tokens/team/style.less';
@import '../../admin/tokens/token/style.less';
@import '../../admin/tokens/twilio_status/style.less';
@import '../../admin/tokens/user/style.less';
@import '../../apps/appraisals/admin/components/responsibilities/style.less';
@import '../../apps/appraisals/admin/views/appraisals/show/style.less';
@import '../../apps/automation/admin/components/branchesfield/style.less';
@import '../../apps/automation/admin/components/email_preview/style.less';
@import '../../apps/automation/admin/components/flowchart_designer/blocks/ifthen/style.less';
@import '../../apps/automation/admin/components/flowchart_designer/canvas/style.less';
@import '../../apps/automation/admin/components/flowchart_designer/sidebar/style.less';
@import '../../apps/automation/admin/components/flowchart_designer/style.less';
@import '../../apps/automation/admin/components/followsfield/style.less';
@import '../../apps/automation/admin/components/imagefield/style.less';
@import '../../apps/automation/admin/components/imagesfield/style.less';
@import '../../apps/automation/admin/components/sharesfield/style.less';
@import '../../apps/automation/admin/components/workflow_actions/style.less';
@import '../../apps/automation/admin/tokens/bounce_type/style.less';
@import '../../apps/automation/admin/tokens/email/style.less';
@import '../../apps/automation/admin/tokens/service/style.less';
@import '../../apps/automation/admin/tokens/trigger_type/style.less';
@import '../../apps/automation/admin/tokens/trigger/style.less';
@import '../../apps/automation/admin/tokens/workflow_status/style.less';
@import '../../apps/automation/admin/tokens/workflow/style.less';
@import '../../apps/automation/admin/views/workflows/new/style.less';
@import '../../apps/automation/admin/views/workflows/show/style.less';
@import '../../apps/campaigns/admin/components/recipientsfield/style.less';
@import '../../apps/campaigns/admin/components/recordingfield/style.less';
@import '../../apps/campaigns/admin/components/sms_designer/message/style.less';
@import '../../apps/campaigns/admin/components/tofield/style.less';
@import '../../apps/campaigns/admin/dashboard/emails/style.less';
@import '../../apps/campaigns/admin/tokens/campaign_type/style.less';
@import '../../apps/campaigns/admin/tokens/campaign/style.less';
@import '../../apps/campaigns/admin/tokens/recording/style.less';
@import '../../apps/campaigns/admin/tokens/status/style.less';
@import '../../apps/campaigns/admin/views/email/style.less';
@import '../../apps/chat/admin/components/channel/style.less';
@import '../../apps/chat/admin/components/channels/style.less';
@import '../../apps/chat/admin/components/chatbar/style.less';
@import '../../apps/chat/admin/components/details/style.less';
@import '../../apps/chat/admin/components/fullchat/style.less';
@import '../../apps/chat/admin/components/info/style.less';
@import '../../apps/chat/admin/components/subscriptions/style.less';
@import '../../apps/chat/admin/tokens/channel/style.less';
@import '../../apps/chat/admin/tokens/message/style.less';
@import '../../apps/crm/admin/components/access/style.less';
@import '../../apps/crm/admin/components/addresscriteria/style.less';
@import '../../apps/crm/admin/components/channelfield/style.less';
@import '../../apps/crm/admin/components/checkboxesfield/style.less';
@import '../../apps/crm/admin/components/contact_channels/email/style.less';
@import '../../apps/crm/admin/components/contact_channels/style.less';
@import '../../apps/crm/admin/components/contactfield/style.less';
@import '../../apps/crm/admin/components/contactfieldsfield/style.less';
@import '../../apps/crm/admin/components/contactimport/style.less';
@import '../../apps/crm/admin/components/list/style.less';
@import '../../apps/crm/admin/components/program_channels/style.less';
@import '../../apps/crm/admin/components/program_chooser/style.less';
@import '../../apps/crm/admin/components/programform/style.less';
@import '../../apps/crm/admin/components/report/style.less';
@import '../../apps/crm/admin/components/templatefield/style.less';
@import '../../apps/crm/admin/components/timeline/style.less';
@import '../../apps/crm/admin/components/valuesfield/style.less';
@import '../../apps/crm/admin/tokens/access_type/style.less';
@import '../../apps/crm/admin/tokens/contact_avatar/style.less';
@import '../../apps/crm/admin/tokens/contact/style.less';
@import '../../apps/crm/admin/tokens/organization/style.less';
@import '../../apps/crm/admin/tokens/program_access/style.less';
@import '../../apps/crm/admin/tokens/program/style.less';
@import '../../apps/crm/admin/tokens/sender/style.less';
@import '../../apps/crm/admin/views/contacts/show/channels/style.less';
@import '../../apps/crm/admin/views/contacts/show/consent/style.less';
@import '../../apps/crm/admin/views/contacts/show/properties/style.less';
@import '../../apps/crm/admin/views/contacts/show/style.less';
@import '../../apps/crm/admin/views/contacts/style.less';
@import '../../apps/drive/admin/components/access/style.less';
@import '../../apps/drive/admin/components/details/style.less';
@import '../../apps/drive/admin/components/explorer/style.less';
@import '../../apps/drive/admin/components/move/style.less';
@import '../../apps/drive/admin/components/share/methods/style.less';
@import '../../apps/drive/admin/components/share/style.less';
@import '../../apps/drive/admin/components/tasks/style.less';
@import '../../apps/drive/admin/components/uploader/style.less';
@import '../../apps/drive/admin/components/versions/style.less';
@import '../../apps/eatfresh/admin/style.less';
@import '../../apps/eatfresh/admin/tokens/attraction/style.less';
@import '../../apps/eatfresh/admin/tokens/category/style.less';
@import '../../apps/eatfresh/admin/tokens/offering/style.less';
@import '../../apps/events/admin/components/organizersfield/style.less';
@import '../../apps/events/admin/components/scanner/style.less';
@import '../../apps/events/admin/components/sessionsfield/style.less';
@import '../../apps/events/admin/components/ticketfieldsfield/style.less';
@import '../../apps/events/admin/components/tickettypesfield/style.less';
@import '../../apps/events/admin/tokens/event/style.less';
@import '../../apps/events/admin/tokens/organizer_avatar/style.less';
@import '../../apps/events/admin/tokens/organizer/style.less';
@import '../../apps/events/admin/tokens/payment/style.less';
@import '../../apps/events/admin/tokens/session/style.less';
@import '../../apps/events/admin/tokens/ticket_type/style.less';
@import '../../apps/events/admin/views/events/tickets/style.less';
@import '../../apps/finance/admin/components/allocationfield/style.less';
@import '../../apps/finance/admin/components/allocations/style.less';
@import '../../apps/finance/admin/components/amountfield/style.less';
@import '../../apps/finance/admin/components/cardfield/style.less';
@import '../../apps/finance/admin/components/invoice/style.less';
@import '../../apps/finance/admin/components/line_items/style.less';
@import '../../apps/finance/admin/components/paymentsfield/style.less';
@import '../../apps/finance/admin/components/receipt/style.less';
@import '../../apps/finance/admin/components/routingnumberfield/style.less';
@import '../../apps/finance/admin/components/trips_import_finalize/style.less';
@import '../../apps/finance/admin/style.less';
@import '../../apps/finance/admin/tokens/allocations/style.less';
@import '../../apps/finance/admin/tokens/membership/style.less';
@import '../../apps/finance/admin/tokens/payment_type/style.less';
@import '../../apps/finance/admin/tokens/project/style.less';
@import '../../apps/finance/admin/tokens/refund_strategy/style.less';
@import '../../apps/finance/admin/tokens/status/style.less';
@import '../../apps/finance/admin/tokens/type/style.less';
@import '../../apps/finance/admin/views/banks/style.less';
@import '../../apps/finance/admin/views/projects/style.less';
@import '../../apps/forms/admin/components/form_designer/page/design/style.less';
@import '../../apps/forms/admin/components/form_designer/page/fields/style.less';
@import '../../apps/forms/admin/components/form_designer/style.less';
@import '../../apps/forms/admin/components/productfield/style.less';
@import '../../apps/forms/admin/components/rulesfield/style.less';
@import '../../apps/forms/admin/tokens/form/style.less';
@import '../../apps/learning/admin/components/commitments/style.less';
@import '../../apps/learning/admin/style.less';
@import '../../apps/learning/admin/tokens/commitment/style.less';
@import '../../apps/learning/admin/tokens/competency/style.less';
@import '../../apps/learning/admin/tokens/goal/style.less';
@import '../../apps/learning/admin/tokens/plan/style.less';
@import '../../apps/learning/admin/tokens/status/style.less';
@import '../../apps/maha/admin/components/account/account/profiles/style.less';
@import '../../apps/maha/admin/components/account/account/style.less';
@import '../../apps/maha/admin/components/account/notifications/notification_types/style.less';
@import '../../apps/maha/admin/components/account/notifications/style.less';
@import '../../apps/maha/admin/components/account/security/appitems/style.less';
@import '../../apps/maha/admin/components/account/security/devices/style.less';
@import '../../apps/maha/admin/components/account/security/style.less';
@import '../../apps/maha/admin/components/dashboard.new/card/style.less';
@import '../../apps/maha/admin/components/dashboard.new/panel/style.less';
@import '../../apps/maha/admin/components/dashboard.new/sidebar/style.less';
@import '../../apps/maha/admin/components/dashboard.new/style.less';
@import '../../apps/maha/admin/components/dashboard/dateandtime/style.less';
@import '../../apps/maha/admin/components/dashboard/style.less';
@import '../../apps/maha/admin/components/device/browser/style.less';
@import '../../apps/maha/admin/components/gallery_list/style.less';
@import '../../apps/maha/admin/components/help/articles/style.less';
@import '../../apps/maha/admin/components/help/changelog/style.less';
@import '../../apps/maha/admin/components/help/style.less';
@import '../../apps/maha/admin/components/navigation/style.less';
@import '../../apps/maha/admin/components/network/style.less';
@import '../../apps/maha/admin/components/notifications/style.less';
@import '../../apps/maha/admin/components/omnisearch/style.less';
@import '../../apps/maha/admin/components/platform/style.less';
@import '../../apps/maha/admin/components/portal/badge/style.less';
@import '../../apps/maha/admin/components/portal/ribbon/style.less';
@import '../../apps/maha/admin/components/portal/style.less';
@import '../../apps/maha/admin/components/push/style.less';
@import '../../apps/maha/admin/components/revision/style.less';
@import '../../apps/maha/admin/components/sessions/style.less';
@import '../../apps/maha/admin/components/signin/style.less';
@import '../../apps/maha/admin/dashboard/greeting/style.less';
@import '../../apps/maha/admin/roots/help/style.less';
@import '../../apps/maha/admin/style.less';
@import '../../apps/maha/admin/tokens/import/style.less';
@import '../../apps/maha/admin/views/emails/style.less';
@import '../../apps/news/admin/components/feed/feeds/style.less';
@import '../../apps/news/admin/components/feed/style.less';
@import '../../apps/news/admin/components/new/style.less';
@import '../../apps/news/admin/components/post/likes/style.less';
@import '../../apps/news/admin/components/post/style.less';
@import '../../apps/news/admin/tokens/group/style.less';
@import '../../apps/phone/admin/components/phone/button/style.less';
@import '../../apps/phone/admin/components/phone/call/header/style.less';
@import '../../apps/phone/admin/components/phone/call/style.less';
@import '../../apps/phone/admin/components/phone/call/transfer/style.less';
@import '../../apps/phone/admin/components/phone/calls/style.less';
@import '../../apps/phone/admin/components/phone/contacts/style.less';
@import '../../apps/phone/admin/components/phone/dialer/style.less';
@import '../../apps/phone/admin/components/phone/keypad/style.less';
@import '../../apps/phone/admin/components/phone/programs/style.less';
@import '../../apps/phone/admin/components/phone/settings/style.less';
@import '../../apps/phone/admin/components/phone/sms/style.less';
@import '../../apps/phone/admin/components/phone/style.less';
@import '../../apps/phone/admin/components/phone/voicemail/player/style.less';
@import '../../apps/phone/admin/components/phone/voicemail/style.less';
@import '../../apps/phone/admin/components/sms_client/style.less';
@import '../../apps/phone/admin/components/timer/style.less';
@import '../../apps/phone/admin/components/voice_client/style.less';
@import '../../apps/phone/admin/components/voice_list/style.less';
@import '../../apps/phone/admin/roots/phone/style.less';
@import '../../apps/platform/admin/components/tofield/style.less';
@import '../../apps/platform/admin/tokens/filename/style.less';
@import '../../apps/platform/admin/views/articles/style.less';
@import '../../apps/platform/admin/views/queues/style.less';
@import '../../apps/sites/admin/components/sites_import_finalize/style.less';
@import '../../apps/sites/admin/tokens/manager/style.less';
@import '../../apps/sites/admin/tokens/role/style.less';
@import '../../apps/sites/admin/views/types/style.less';
@import '../../apps/stores/admin/components/inventoryfield/style.less';
@import '../../apps/stores/admin/components/mediafield/style.less';
@import '../../apps/stores/admin/components/optionsfield/style.less';
@import '../../apps/stores/admin/components/productform/style.less';
@import '../../apps/stores/admin/tokens/product/style.less';
@import '../../apps/stores/admin/tokens/store/style.less';
@import '../../apps/stores/admin/tokens/variant/style.less';
@import '../../apps/stores/admin/views/stores/show/style.less';
@import '../../apps/team/admin/components/access/style.less';
@import '../../apps/team/admin/components/roles/style.less';
@import '../../apps/team/admin/style.less';
@import '../../apps/team/admin/tokens/email/style.less';
@import '../../apps/team/admin/views/apps/style.less';
@import '../../apps/team/admin/views/users/style.less';
@import '../../apps/training/admin/components/options/style.less';
@import '../../apps/training/admin/components/questions/answers/style.less';
@import '../../apps/training/admin/components/questions/style.less';
@import '../../apps/training/admin/components/quiz_results/style.less';
@import '../../apps/training/admin/components/quiz/style.less';
@import '../../apps/training/admin/components/quizkey/style.less';
@import '../../apps/training/admin/components/review/style.less';
@import '../../apps/training/admin/tokens/administration/style.less';
@import '../../apps/training/admin/tokens/offering/style.less';
@import '../../apps/training/admin/tokens/option/style.less';
@import '../../apps/training/admin/tokens/reviews/style.less';
@import '../../apps/training/admin/views/administrations/show/style.less';
