.help-article-token {
  display: flex;
  flex: 1;
}
.help-article-token-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
}
.help-article-token-icon-block {
  .colorize(background-color);
  border-radius: 3px;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  line-height: 1.6em;
  font-size: 0.8em;
  background-color: @red;
  .fa {
    margin: auto !important;
    color: @white;
  }
}
.help-article-token-label {
  flex: 1;
  padding: 0.8em;
}
