.maha-imageeditor-canvas {
  flex: 1;
  background-color: fadeout(@black, 95);
  padding: 0.8em;
  display: flex;
}
.maha-imageeditor-canvas-frame {
  border: 1px solid @white;
  margin: auto;
  img, canvas {
    display: block;
  }
}
