.maha-imageeditor-canvas {
  flex: 1;
  background-color: fadeout(@black, 95);
  padding: 10px;
  display: flex;
  position: relative;
  img, canvas {
    max-width: 100%;
    margin: auto;
    display: block;
  }
}
