[Unit]
Description=nsqlookup daemon Service
After=network.target

[Service]
PrivateTmp=yes
ExecStart=/usr/local/nsq/bin/nsqlookupd -config /etc/nsq/nsqlookupd.conf
Restart=always

[Install]
WantedBy=multi-user.target
