.maha-app-token {
  position: relative;
  padding: 0.8em;
}
.maha-app-token-icon {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #444444;
  color: #FFF;
  padding: 5px;
  margin-right: 10px;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  &.red { background-color: @red; }
  &.orange { background-color: @orange; }
  &.yellow { background-color: @yellow; }
  &.olive { background-color: @olive; }
  &.green { background-color: @green; }
  &.teal { background-color: @teal; }
  &.blue { background-color: @blue; }
  &.purple { background-color: @purple; }
  &.violet { background-color: @violet; }
  &.pink { background-color: @pink; }
  &.brown { background-color: @brown; }
  &.grey { background-color: @grey; }
  &.black { background-color: @black; }
  .fa {
    margin: 0;
  }
}
