.maha-textarea {
  textarea {
    box-sizing: border-box !important;
    resize: none !important;
    overflow: hidden !important;
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
}
