.app-access {
  .maha-list-title {
    padding: 0;
  }
  .maha-list-item {
    .fa-check {
      color: @green;
    }
    .fa-times {
      color: @red;
    }
  }
}
.user-import-finalize {
  flex:1;
  display:flex;
  .instructions {
    padding: .8em .8em 0;
    margin-bottom: 0 !important;
  }
}
