.email-token {
  display: flex;
  flex: 1;
}
.email-token-icon {
  padding: 0.5em 1em;
  display: flex;
  .fa {
    margin: auto;
  }
  .fa-envelope {
    color: @red;
  }
  .fa-envelope-open {
    color: @green;
  }
}
.email-token-details {
  padding: 0.5em 0.5em 0.5em 0;
  position: relative;
  flex: 1;
  color: #888888 !important;
  small {
    font-size: 0.8em;
    line-height: 1em;
  }
  strong {
    color: @black !important;
  }
}
