.googlepay-button {
  .gpay-button {
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    height: 35px;
    min-height: 35px;
    padding: 8px 24px;
  }
  .gpay-button.black {
    background-color: #000;
    box-shadow: none;
    padding: 8px 24px;
  }
  .gpay-button.white {
    background-color: #fff;
  }
  .gpay-button.short {
    min-width: 90px;
    width: 160px;
  }
  .gpay-button.black.short {
    background-image: url(https://www.gstatic.com/instantbuy/svg/dark_gpay.svg);
  }
  .gpay-button.white.short {
    background-image: url(https://www.gstatic.com/instantbuy/svg/light_gpay.svg);
  }
  .gpay-button.black.active {
    background-color: #5f6368;
  }
  .gpay-button.black.hover {
    background-color: #3c4043;
  }
  .gpay-button.white.active {
    background-color: #fff;
  }
  .gpay-button.white.focus {
    box-shadow: #e8e8e8 0 1px 1px 0, #e8e8e8 0 1px 3px;
  }
  .gpay-button.white.hover {
    background-color: #f8f8f8;
  }
  .gpay-button.white.long {
    background-image: url(https://www.gstatic.com/instantbuy/svg/light/en.svg);
  }
  .gpay-button.black.long {
    background-image: url(https://www.gstatic.com/instantbuy/svg/dark/en.svg);
  }
  .gpay-button.short {
    max-width: 100% !important;
    width: 100% !important;
  }
}
