.crm-email-campaign-results {
  .ui.table {
    border: none;
  }
}
.crm-email-campaign-results-header {
  display: flex;
}
.crm-email-campaign-results-header-item {
  flex: 1;
  padding: 0.8em;
  overflow: hidden;
  .maha-progress-bar {
    margin: 0.4em 0;
  }
  ul {
    margin: 0;
    float: right;
    li:first-child {
      &:after {
        margin: 0 0.5em;
        content: '|';
      }
    }
  }
  li {
    list-style: none;
    display: inline-block;
  }
}
.crm-email-campaign-results-stat {
  display: flex;
}
.crm-email-campaign-results-stat-title {
  flex: 1;
  font-weight: bold;
}
.crm-email-campaign-results-stat-percent {
  text-align: right;
}
