
.maha-import-field {
  .maha-import-field-row {
    display: flex;
  }
  .maha-import-field-value, .maha-import-field-label {
    padding:0.8em;
    flex: 1;
    border-bottom: 1px solid fadeout(@black, 90);
    justify-content: center;
  }
  .maha-import-field-label {
    background-color: fadeout(@black, 97);
    border-right: 1px solid fadeout(@black, 90);
    font-weight:bold;
    display: flex;
    justify-content: center;
    flex-direction: column;  }
}
.button.start-new {
  margin-bottom:20px;
}
.button.download-template {
  margin-left:10px;
}
