.maha-fields {
  background-color: @white;
  display: flex;
  flex-direction: column;
}
.maha-fields-empty {
  padding: 0.4em;
  text-align: center;
}
.maha-fields-disabled {
  border-bottom: 1px solid fadeout(@black, 90);
  font-size: 0.8em;
  cursor: pointer;
  display: flex;
}
.maha-fields-disabled-icon {
  color: fadeout(@black, 80);
  flex: 0 0 3.2em;
  display: flex;
  .fa {
    margin: auto;
  }
}
.maha-fields-disabled-label {
  padding: 0.4em 0;
  color: fadeout(@black, 70);
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
}
.maha-fields-footer {
  padding: 0.8em;
  background-color: fadeout(@black, 95);
}
.maha-field {
  display: flex;
  background-color: @white;
  border-bottom: 1px solid fadeout(@black, 90);
  overflow: hidden;
  &.disabled {
    .maha-field-badge {
      background-color: fadeout(@blue, 90);
    }
    .maha-field-label {
      strong, span {
        color: fadeout(@black, 90);
      }
    }
  }
  &.dragging .maha-field-handle {
    cursor: grabbing !important;
  }
  &.section {
    background-color: fadeout(@black, 30);
    color: @white;
    .fa {
      color: @white !important;
    }
  }
}
.maha-field-handle {
  flex: 0 0 2.5em;
  padding: 0.6em;
  cursor: grab;
  display: flex;
  svg {
    margin: auto;
    fill: fadeout(@black, 80);
    height: 1.3em;
    width: 1.3em;
  }
}
.maha-field-icon {
  padding: 0.6em 0;
}
.maha-field-badge {
  background-color: @blue;
  display: flex;
  border-radius: 0.2em;
  width: 1.8em;
  height: 1.8em;
  .fa {
    font-size: 0.8em;
    color: @white;
    margin: auto;
  }
}
.maha-field-label {
  padding: 0.8em;
  flex: 1;
  span {
    text-transform: uppercase;
    color: fadeout(@black, 60);
    font-size: 0.9em;
  }
}
.maha-field-primary {
  line-height: 2.2em;
  font-size: 0.8em;
  padding: 0.8em;
  color: @green;
}
.maha-field-extra {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    font-size: 1.2em;
    margin: auto;
    cursor: pointer;
  }
}
