.crm-report {
  background-color: @white;
}
.crm-report-chart {
  padding: 0.8em;
}
.crm-report-table {
  border-top: 1px solid fadeout(@black, 90);
  .ui.table {
    border: none
  }
}
.crm-report-key {
  .colorize(background-color);
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
