.voice-campaign-play-token {
  padding-top: 1.8em;
  display: flex;
  height: 120px;
}
.voice-campaign-play-token-inner {
  margin: auto;
  .fa {
    display: block;
    background-color: @red;
    color: @white;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    font-size: 2.4em;
  }
}
