.product-token {
  display: flex;
}
.product-token-photo {
  padding: 0.8em 0 0.8em 0.8em;
  img {
    display: block;
    width: 1.8em;
    height: 1.8em;
  }
}
.product-token-icon {
  background-color: fadeout(@black, 90);
  color: @white;
  display: flex;
  width: 1.8em;
  height: 1.8em;
  .fa {
    margin: auto;
  }
}
.product-token-label {
  padding: 0.8em;
  line-height: 1.8em;
}
