.maha-filefield {
  .ui.button {
    margin: 0;
  }
}
.maha-filefield-file {
  transition: background-image .1s ease;
  margin-bottom: 0.4em;
  border-radius: 0.28em;
  display: flex;
}
.maha-filefield-file-icon {
  display: flex;
  padding: 0.54em 0 0.54em 0.54em;
  .fa {
    margin: auto;
    color: @white;
  }
}
.maha-filefield-file-details {
  flex: 1;
  padding: 0.54em;
  color: @white;
}
.maha-filefield-file-remove {
  display: flex;
  padding: 0.54em 0.54em 0.54em 0;
  cursor: pointer;
  .fa {
    margin: auto;
    color: fadeout(@white, 10);
  }
  &:hover .fa {
    color: @white;
  }
}
