.numbers {
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: none;
  }
}
.numbers-number {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 90);
}
