.flowchart-canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
  svg.flowchart-connector {
    width: 160px;
    height: 30px;
    margin: 0 auto;
    overflow: visible;
    path {
      stroke: lighten(@black, 80);
      stroke-width: 2;
      fill: transparent;
    }
    circle {
      fill: lighten(@black, 80);
    }
  }
}
.flowchart-canvas-body {
  position: relative;
  overflow: hidden;
  cursor: grab;
  flex: 1;
  &.dragging {
    cursor: grabbing;
  }
}
.flowchart-canvas-footer {
  border-top: 1px solid fadeout(@black, 90);
  background-color: @white;
  display: flex;
  flex: 0 0 3.5em;
}
.flowchart-canvas-footer-status {
  color: fadeout(@black, 40);
  padding: 0.8em;
  flex: 1;
}
.flowchart-canvas-footer-save {
  padding: 0.6em;
  display: flex;
  div {
    margin: auto;
  }
}
.flowchart {
  position: absolute;
  top: 0.8em;
  left: ~"calc(50% + 3.2em)";
}
.flowchart-inner {
  overflow: hidden;
  padding: 1em 0 0;
}
.flowchart-box-padding {
  position: relative;
}
.flowchart-box-highlight {
  display: none;
  border: 2px solid @teal;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}
.flowchart-box-actions {
  display: none;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: @teal;
  overflow: hidden;
}
.flowchart-box-action {
  padding: 0.2em .4em;
  cursor: pointer;
  .fa {
    font-size: 0.8em;
    color: fadeout(@white, 30);
  }
  &:hover {
    .fa {
      color: @white;
    }
  }
}
.flowchart-box-item {
  position: relative;
  border-radius: 0.5em;
  border: 2px solid lighten(@black, 80);
  margin: 0 auto;
  cursor: pointer;
  background-color: @white;
  transition: all .25s ease-in-out;
  display: flex;
  &.active, &:hover {
    border-color: @teal;
  }
  &:hover .flowchart-box-actions {
    display: flex;
  }
  .unselectable();
  &.expanded {
    width: 300px;
    height: 200px;
  }
  &:not(.expanded) {
    width: 150px;
    height: 45px;
  }
}
.flowchart-box-body {
  flex: 1;
  overflow: hidden;
}
.flowchart-box-label {
  padding: 1.2em 0.8em 0.8em;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}
.flowchart-box-details {
  color: fadeout(@black, 60);
  line-height: 1.6em;
  text-align: center;
  font-size: 0.8em;
  padding: 0 0.8em 0.8em;
}
.flowchart-box-trigger,
.flowchart-box-ending {
  cursor: auto !important;
  &:hover {
    background-color: @white !important;
  }
}
.flowchart-box-icon {
  border: 1px solid lighten(@black, 80);
  border-radius: 50%;
  color: @white;
  display: flex;
  width: 2em;
  height: 2em;
  line-height: 1.7em;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  .fa {
    margin: auto;
  }
  .fa-phone {
    transform: rotate(135deg);
  }
  .fa-volume-control-phone {
    transform: rotate(-45deg);
  }
  .fa-comment {
    font-size: 0.8em;
  }
  .fa-clock-o {
    font-size: 1.2em;
  }
}
.flowchart-dropzone {
  border-radius: 0.3em;
  border: 2px solid lighten(@black, 80);
  font-weight: bold;
  background-color: lighten(@black, 95);
  color: fadeout(@black, 40);
  padding: ~"calc(1.6em - 4px) 0.4em";
  text-align: center;
  margin: 0 auto;
  width: 175px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 3.2em;
}
.flowchart-branches-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.flowchart-branches-expander {
  margin: 0 auto;
  border: 2px solid lighten(@black, 80);
  background-color: @white;
  border-radius: 0.3em;
  color: #bfbfbf;
  cursor: pointer;
  display: flex;
  width: 2.4em;
  height: 1.2em;
  .fa {
    margin: auto;
  }
  &:hover {
    border-color: @teal;
    color: @teal;
  }
}
.flowchart-branches {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.flowchart-branch {
  flex-direction: column;
  display: flex;
  overflow: hidden;
  .flowchart-segments {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex: 1;
  }
}
.flowchart-branch-label {
  display: flex;
}
.flowchart-branch-label-box {
  display: block;
  border: 2px solid lighten(@black, 80);
  background-color: lighten(@black, 90);
  color: fadeout(@black, 40);
  text-align: center;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding: 0 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  min-height: 2.2em;
  margin: 0 auto;
}
.flowchart-segment {
  display: flex;
  flex-direction: column;
  &.trigger {
    padding: 0;
  }
}
.flowchart-placeholder {
  display: flex;
}
.flowchart-drag-layer {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}
.flowchart-box-add-target {
  position: relative;
  margin: auto;
  height: 60px;
  &.hovering {
    .flowchart-box-add {
      display: block;
    }
  }
}
.flowchart-box-add {
  position: absolute;
  display: none;
  cursor: pointer;
  border-radius: 0.3em;
  border: 2px solid transparent;
  font-weight: bold;
  color: fadeout(@black, 40);
  padding: 0 0.2em;
  text-align: center;
  width: 150px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: lighten(@black, 95);
  border-color: lighten(@black, 80);
  top: 15px;
  margin: 0 5px;
  &:after {
    content: 'DROP HERE';
  }
}
