.numberfield {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.numberfield-header {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  padding: 0.8em;
  background-color: fadeout(@black, 97);
  .maha-input {
    width: 100%;
  }
}
.numberfield-body {
  display: flex;
  flex: 1;
}
.numberfield-list {
  .scrollable();
  flex: 1;
}
.numberfield-number {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.numberfield-number-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 2em;
  }
}
.numberfield-number-label {
  padding: 0.8em;
  flex: 1;
  color: fadeout(@black, 40);
  strong {
    color: @black;
  }
}
