.maha-table {
  width: 100%;
  table {
    background-color: @white;
    width: 100%;
  }
  th, td {
    padding: 0.8em;
  }
  td {
    border-bottom: 1px solid fadeout(@black, 90);
  }
  td.button {
    padding: 0.4em;
    width: 150px;
  }
  td.unpadded {
    padding: 0 !important;
  }
  td.collapsing {
    width: 1px;
  }
  td.right {
    text-align: right;
  }
  td.center {
    text-align: center;
  }
  thead {
    td {
      background-color: fadeout(@black, 30);
      white-space: nowrap;
      color: @white;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: fadeout(@black, 97);
      }
    }
    td.proceed {
      width: 1px;
      padding: 0.8em 0.8em 0.8em 0;
      .fa-chevron-right {
        color: fadeout(@black, 80);
      }
    }
  }
}
