.goal-status {
  color: @grey;
  cursor: pointer;
  &.complete {
    color: @green;
  }
}
@media (max-width: 768px) {
  tr {
    &.pending td:first-child { background: linear-gradient(90deg, @teal, @teal 8px, transparent 8px); }
    &.active td:first-child { background: linear-gradient(90deg, @green, @green 8px, transparent 8px); }
    &.submitted td:first-child { background: linear-gradient(90deg, @blue, @blue 8px, transparent 8px); }
    &.completed td:first-child { background: linear-gradient(90deg, @purple, @purple 8px, transparent 8px); }
  }
}
