.maha-collection-tasks-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-collection-tasks-panel-header {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  text-align: center;
  display: flex;
}
.maha-collection-tasks-panel-header-icon {
  flex: 0 0 3em;
  display: flex;
  color: fadeout(@black, 80);
  cursor: pointer;
  i {
    margin: auto;
  }
}
.maha-collection-tasks-panel-header-title {
  flex: 1;
  padding: 1em 0;
  line-height: 1.4em;
  color: fadeout(@black, 50)
}
.maha-collection-tasks-panel-body {
  flex: 1;
  .scrollable();
}
.maha-collection-tasks-panel-footer {
  border-top: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  display: flex;
  padding: 0.4em;
}
.maha-collection-tasks-panel-footer-item {
  padding: 0.4em;
  flex: 1;
}
