.addressfield {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  position: relative;
  &:focus {
    outline: none !important;
    border-color: #85B7D9;
    border-radius: .28571429rem;
    background: #FFF;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
}
.addressfield-field {
  color: fadeout(@black, 70);
  flex: 1;
  display: flex;
  padding: 0.2em;
  min-height: 2.5em;
  line-height: 2.5em;
  input {
    flex: 1;
    border: none !important;
    outline: none !important;
    background: none !important;
    padding: 0.6em !important;
  }
}
.addressfield-placeholder {
  color: fadeout(@black, 70);
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  line-height: 1.7em;
}
.addressfield-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
  line-height: 1.7em;
}
.addressfield-remove {
  flex: 0 0 2.5em;
  display: flex;
  .fa {
    &:hover {
      color: fadeout(@black, 70);
    }
    margin: auto;
    color: fadeout(@black, 80);
    cursor: pointer;
  }
}
.addressfield-chooser {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.addressfield-chooser-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.addressfield-chooser-body {
  display: flex;
  flex: 1;
}

.addressfield-results {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  position: absolute;
  top: ~"calc(100% - 4px)";
  left: -1px;
  right: -1px;
  border-radius: 0 0 0.5em 0.5em;
  z-index: 10;
}
.addressfield-result {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.addressfield-result-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    color: @red;
    font-size: 1.6em;
  }
}
.addressfield-result-details {
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 60);
  line-height: 1.6em;
  strong {
    color: @black;
  }
}
