div.dropzone {
  flex: 1;
  display: flex;
  position: relative;
  .maha-form-body {
    flex: 1;
  }
}
div.dropzone-block.hidden {
  display: none;
}
div.dropzone-highlight {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid @teal;
  &:after {
    position: absolute;
    padding: 5px;
    font-size: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: @teal;
    text-transform: uppercase;
    color: white;
    content: attr(data-label);
    z-index: 10;
  }
}
div.dropzone-target {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
  background-color: lighten(@teal, 63) !important;
  border: 2px solid @teal !important;
  font-size: 14px !important;
  color: @teal !important;
  padding: 8px !important;
  line-height: 20px !important;
}
div.dropzone-marker {
  background-color: blue;
  height: 1px;
}
div.block {
  position: relative;
  cursor: pointer;
  &:hover {
    min-height: 30px;
  }
  &.active .block-highlight {
    display: block;
  }
  &:hover .block-highlight {
    display: block;
  }
  &:hover .block-actions {
    display: flex;
  }
}
.dropzone-block {
  .maha-hidden-field {
    height: 1.1em;
  }
}
div.block-highlight {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid @teal;
}
div.block-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
div.block-spacer {
  flex: 1;
}
div.block-action {
  background-color: @teal;
  font-size: 16px;
  padding: 3px 8px;
  line-height: 24px;
  .fa {
    color: fadeout(@white, 30);
  }
  &:hover {
    background-color: darken(@teal, 10);
    .fa {
      color: @white;
    }
  }
}
@import '../../../../lib/client/style.less';
@import '../embedded/index.less';
