{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-promise-to-bluebird",
    ["transform-runtime", { "polyfill": false }],
    ["module-resolver", {
      "alias": {
        "@admin": "./src/admin",
        "@apps": "./src/apps",
        "@core": "./src/core",
        "@client": "./src/client",
        "@public": "./src/public"
      }
    }]
  ]
}
