/node_modules
/help
/dist
/dist.staged
/tmp/*
!/tmp/.gitkeep
/config/*
!/config/.gitkeep
!/config/ecosystem.config.js
/docs/files/deploy
/docs/files/*.key
/docs/files/*.crt
/docs/files/*.pem
/docs/files/deploy
/repo
/root
deploy.tgz
*.compiled.js
npm-debug.log
.env
.key
maha.js
REVISION
