.src
.DS_Store
node_modules
/help
/dist
/dist.staged
/tmp/*
!/tmp/.gitkeep
/web/*
!/web/.gitkeep
/src/apps/websites/template/.next/*
!/src/apps/websites/template/.next/.gitkeep
/src/servers/lb/mahaplatform.*
/src/servers/roles/app/files/deploy
/src/servers/group_vars/all/*.yml
/repo
/root
/logs
deploy.tgz
*.compiled.js
npm-debug.log
/.env*
*.key
*.rsa
*.crt
*.csr
*.cer
*.p12
*.pem
ngrok
metadata.csv
./REVISION
/maxmind
!/*/maxmind
nodejs
*.zip
