<table align="center" class="container panel">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last">
        <p>Hi <%= first_name %>,</p>
        <p>A new account has been created for you on the Maha Platform.</p>
        <p>All we need to do right now is make sure this is a valid email address.
        Please click on the link below to activate your account.</p>
        <table class="button radius expand">
          <tbody>
            <tr>
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td><center><a href="<%= activation_url %>" align="center" class="float-center">Activate Account</a></center></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td class="expander"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
