.competency-token {
  flex: 1;
  color: #888888 !important;
  strong {
    color: #000;
  }
}
.goal-token {
  padding: 0.8em;
}
.goal-token-complete {
  background-color: @green;
  color: @white;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-size: 0.9em;
  float: right;
  text-transform: uppercase;
}

.plan-token {
  flex: 1;
  display: flex;
  .plan-token-details {
    padding: 1em;
    flex: 1
  }
  .plan-token-badge {
    padding: 1em 1em 1em 0;
    display: flex;
  }
  .plan-token-status {
    margin: auto;
  }
}

.plan-token-status {
  .border-radius(4px);
  display: block;
  text-align: center;
  color: @white;
  width: 80px;
  font-size: 10px;
  margin: 0;
  padding: 4px;
  &.pending {
    background-color: @grey;
  }
  &.active {
    background-color: @green;
  }
  &.complete {
    background-color: @red;
  }
}
.goal-status {
  color: @grey;
  cursor: pointer;
  &.complete {
    color: @green;
  }
}
