.news-feed {
  position: relative;
  display: flex;
  flex: 1;
  &.open .news-feed-sidebar {
    transform: translateX(0);
  }
}
.news-feed-sidebar {
  display: flex;
}
.news-feed-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.news-feed-main-header {
  background-color: fadeout(@black, 90);
  .link {
    display: block;
    text-align: center;
    padding: 0.4em;
    color: fadeout(@black, 50);
  }
}
.news-feed-main-body {
  display: flex;
  flex: 1;
}

.news-posts {
  width: 100%;
  padding: 0.8em;
}

.news-form-trigger {
  margin: 0 auto 1em;
  max-width: 500px;
  background-color: @white;
  border-radius: 0.5em;
  display: flex;
}
.news-form-trigger-avatar {
  padding: 0.4em 0 0.4em 0.8em;
  display: flex;
  .maha-avatar {
    margin: auto;
    width: 38px;
  }
}
.news-form-trigger-label {
  flex: 1;
  padding: 0.4em 0.4em 0.4em 0.8em;
}
.news-form-trigger-placeholder {
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 60);
  border-radius: 0.5em;
  padding: 0.8em;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 92);
  }
}

.news-feed-form-panel{
  display: flex;
}



.news-feed-form-panel-canvas {
  background-color: @black;
  position: absolute;
  .opacity(0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.news-feed-form-panel {
  transform: translate(-50%, -50%);
  background-color: @white;
  position: absolute;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  max-height: 785px;
  top: 50%;
  left: 50%;
}

@media (min-width: 769px) {
  .news-feed-main-header {
    display: none;
  }
  .news-feed-sidebar {
    position: relative;
    max-width: 350px;
    min-width: 280px;
    flex: 0 0 25%;
    order: 1;
  }
  .news-feed-main {
    order: 2;
  }
}
@media (max-width: 768px) {
  .news-feed-sidebar {
    .transition(transform .15s ease-in-out 0s);
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
  }
  .news-feed {
    position: relative;
    &.open .news-feed-sidebar {
      transform: translateX(0);
    }
  }
}
