.group-token {
  display: flex;
  flex: 1;
}
.group-token-logo {
  padding: 0.8em;
  .maha-logo {
    width: 1.6em;
  }
}
.group-token-details {
  padding: 0.8em 0.8em 0.8em 0;
  color: #888888 !important;
  display: flex;
}
