@import './form/addressfield/style.less';
@import './form/checkboxes/style.less';
@import './form/checkbox/style.less';
@import './form/datefield/style.less';
@import './form/dropdown/style.less';
@import './form/filefield/style.less';

.maha-input {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 0.28em;
  position: relative;
  display: flex;
  width: 100%;
  input {
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
}
.maha-input-field {
  display: flex;
  flex: 1;
  input {
    border: none !important;
  }
}
.maha-input-placeholder {
  color: fadeout(@black, 70);
  min-height: 2em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  line-height: 2em;
}
.maha-input-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
  line-height: 1.75em;
}
.maha-input-clear {
  flex: 0 0 2em;
  display: flex;
  padding: 0.4em;
  cursor: pointer;
  &:hover .fa {
    color: fadeout(@black, 60);
  }
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-text {
  p:last-child {
    margin: 0;
  }
}
.field-invalid {
  .maha-input {
    border-color: @red;
  }
}
.field-error {
  color: @red;
  font-style: italic;
  margin-top: 0.4em;
}
