@import './form/addressfield/style.less';
@import './form/checkboxes/style.less';
@import './form/checkbox/style.less';
@import './form/datefield/style.less';
@import './form/dropdown/style.less';
@import './form/filefield/style.less';

.maha-form {
  border: 1px solid rgba(0,0,0,.05);
  background-color: rgba(255, 255, 255, 1);
  margin: 0 auto 1.8em;
  width: 100%;
  max-width: 770px;
  h1, h2, p {
    margin: 0;
    line-height: 1.5 !important;
  }
}
.maha-form-header {
  display: flex;
}
.maha-form-header-logo {
  padding: 0.8em 0 0.8em 0.8em;
  img {
    width: 80px;
    heoight: 80px;
    display: block;
  }
}
.maha-form-header-details {
  padding: 0.8em;
  flex: 1;
}
.maha-form-body {
  padding: 0;
  .ui.form {
    .field {
      padding: 0.6em 0.8em;
      margin: 0 !important;
    }
    .field label {
      margin: 0 !important;
    }
  }
}
.maha-form-note {
  border-top: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  font-size: 0.8em;
  strong {
    color: @red;
  }
}
.maha-form-thankyou {
  padding: 0.8em;
}
.maha-form-footer {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.8em;
  P {
    margin-bottom: 0.8em;
  }
}
.maha-form-captcha {
  padding: 0.8em;
  min-height: 100px;
}
.maha-form-submit {
  padding: 0.8em;
  .ui.button {
    color: @white !important;
  }
}

.maha-input {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 0.28em;
  position: relative;
  display: flex;
  width: 100%;
  &.disabled {
    background-color: fadeout(@black, 95);
  }
  input {
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
}
.maha-input-field {
  display: flex;
  flex: 1;
  input {
    border: none !important;
  }
}
.maha-input-placeholder {
  color: fadeout(@black, 70);
  min-height: 2em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  line-height: 2em;
}
.maha-input-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
  line-height: 1.75em;
}
.maha-input-clear {
  flex: 0 0 2em;
  display: flex;
  padding: 0.4em;
  cursor: pointer;
  &:hover .fa {
    color: fadeout(@black, 60);
  }
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-text {
  p:last-child {
    margin: 0;
  }
}
.field-invalid {
  .maha-input {
    border-color: @red;
  }
}
.field-error {
  color: @red;
  font-style: italic;
  margin-top: 0.4em;
}
