.maha-cart-discount {
  margin: 0.8em 0 0;
}
.maha-cart-discount-input {
  display: flex;
  background-color: fadeout(@black, 90);
}
.maha-cart-discount-field {
  flex: 1;
  padding: 0.8em;
}
.maha-cart-discount-button {
  padding: 0.8em 0.8em 0.8em 0;
}
.maha-cart-discount-error {
  color: @red;
  font-style: italic;
}
