.crm-campaign-type-token {
  padding: 0.8em;
  display: flex;
}
.crm-campaign-type-token-icon {
  &.outbound_sms,
  &.inbound_sms,
  &.sms {
    background-color: @blue;
  }
  &.outbound_voice,
  &.inbound_voice,
  &.voice {
    background-color: @red;
  }
  &.email {
    background-color: @green;
  }
  &.social {
    background-color: @teal;
  }
  &.postal {
    background-color: @orange;
  }
  margin: auto;
  display: flex;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 2px solid fadeout(@black, 80);
  .fa-phone {
    font-size: 1em !important;
  }
  .fa {
    margin: auto !important;
    color: @white;
    font-size: 0.9em;
  }
}
