enrich {

  streams {

    in {
      raw = RawEvents
    }

    out {
      enriched = EnrichedEvents
      bad = BadEnrichedEvents
      pii = PiiEvents
      partitionKey = ""
    }

    sourceSink {
      enabled = nsq
      aws {
        accessKey = "default"
        secretKey = "default"
      }
      rawChannel = StreamEnrichChannel
      host = 127.0.0.1
      port = 4150
      lookupHost = 127.0.0.1
      lookupPort = 4161
    }

    buffer {
      byteLimit = 4500000
      recordLimit = 500
      timeLimit = 5000
    }

    appName = "snowplow-stream-enrich"
  }
}
