.maha-button {
  .fa {
    margin-right: 0.8em;
  }
  &.basic {
    background: @white !important;
  }
}
.icon {
  padding: 0.8em;
}
.links {
	.link {
		&:last-child {
			&:after {
				content: '';
			}
		}
		&:after {
			color: @black;
			content: ',';
			margin: 0 3px;
		}
	}
}
.link {
	color: @blue;
	cursor: pointer;
	display: inline-block;
	&:hover {
		color: darken(@blue, 10);
	}
}
.text {
	color: @grey;
	display: inline-block;
}
