@twitter: #385b9b;

.social-designer-twitter {
  border: 1px solid lighten(@black, 85);
}
.social-designer-twitter-header {
  display: flex;
}
.social-designer-twitter-logo {
  padding: 12px 0 12px 12px;
  img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    display: block;
  }
}
.social-designer-twitter-details {
  flex: 1;
  padding: 12px;
}
.social-designer-twitter-name {
  font-weight: bold;
}
.social-designer-twitter-username {
  color: fadeout(@black, 50);
  margin: 0 5px;
}
.social-designer-twitter-username {
}
.social-designer-twitter-message {
  word-break: break-word;
  line-height: 1.8em;
}
.social-designer-twitter-photo {
  img {
    width: 100%;
    display: block;
  }
}
