.drive-tasks {
  @media (min-width: 769px) {
    .maha-tasks-title .maha-tasks-title-icon:last-child {
      display: none;
    }
  }
  .maha-list {
    margin: 0;
  }
}
.drive-task {
  display: flex;
  flex: 1;
  & > div {
    padding: 0.8em;
    flex: 1;
  }
}
