.crm-batches {
  flex: 1;
  .scrollable();
  .crm-checkboxesfield {
    margin: 0;
  }
}
.crm-program-label {
  margin: -1em;
  padding: 0.2em 0.8em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: fadeout(@black, 70);
  color: @white;
}

.phonetype {
  background-color: fadeout(@black, 80);
  color: @white;
  font-size: 0.6em;
  padding: 0.4em;
  border-radius: 0.4em;
  width: 4em;
  display: inline-block;
  line-height: 1em;
  text-align: center;
}
