.maha-payment {
  padding: 0.8em;
}
.maha-payment-header {
  margin-bottom: 0.8em;
}
.maha-payment-form {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  border-radius: 0.28em;
  padding: 0.8em;
}
.maha-payment-mandate {
  font-size: 0.8em;
  line-height: 1.6em;
}
