.store-categories {
  background-color: fadeout(@black, 95);
  overflow-x: scroll;
  white-space: nowrap;
  flex: 1;
  &::-webkit-scrollbar-track {
    background: fadeout(@black, 100) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: fadeout(@black, 100) !important;
  }
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
.store-categories-category {
  display: inline-block;
  padding: 0.8em;
  text-align: center;
  border-bottom: 2px solid transparent;
  color: fadeout(@black, 20);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
  &.selected {
    border-color: @red;
    color: @black;
  }
}
