.store-categories {
  background-color: fadeout(@black, 95);
  overflow-x: scroll;
  white-space: nowrap;
}
.store-categories-category {
  display: inline-block;
  padding: 0.8em;
  text-align: center;
  border-bottom: 2px solid transparent;
  color: fadeout(@black, 20);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
  &.selected {
    border-color: @red;
    color: @black;
  }
}
