.maha-notification-types {
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  .maha-notification-types-app:first-child {
    border-radius: 0.5em 0.5em 0 0;
  }
  .maha-notification-types-notification:last-child {
    border-radius: 0 0 0.5em 0.5em;
    border: none;
  }
}
.maha-notification-types-app {
  background-color: fadeout(@black, 93);
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 90);
  line-height: 1.6em;
}
.maha-notification-types-app-icon {
  .border-radius(5px);
  color: #FFF;
  display: flex;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  background-color: @darkgrey;
  float: left;
  margin-right: 1em;
  &.red { background-color: @red; }
  &.orange { background-color: @orange; }
  &.yellow { background-color: @yellow; }
  &.olive { background-color: @olive; }
  &.green { background-color: @green; }
  &.teal { background-color: @teal; }
  &.blue { background-color: @blue; }
  &.purple { background-color: @purple; }
  &.violet { background-color: @violet; }
  &.pink { background-color: @pink; }
  &.brown { background-color: @brown; }
  &.grey { background-color: @grey; }
  &.black { background-color: @black; }
  i {
    margin: auto;
  }
}
.maha-notification-types-notification {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.maha-notification-types-notification-label {
  padding: 0.8em;
  color: fadeout(@black, 40);
  flex: 1;
}
.maha-notification-types-notification-methods {
  display: flex;
}
.maha-notification-types-notification-method {
  .hover(background-color, fadeout(@black, 90));
  border: 1px solid fadeout(@black, 95);
  background-color: fadeout(@black, 97);
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0.4em;
}
.maha-notification-types-notification-method-display,
.maha-notification-types-notification-method {
  padding: 0.4em;
  .fa {
    font-size: 1.2em;
    margin-right: 5px;
  }
  .fa-circle-o {
    color: fadeout(@black, 80);
  }
  .fa-check-circle {
    color: @blue;
  }
}
@media only screen and (max-width: 768px) {
  .maha-notification-types-notification {
    flex-direction: column;
  }
  .maha-notification-types-notification-method {
    flex: 1;
  }
}
