.maha-payment {
  padding: 0.8em;
}
.maha-payment-header {
  margin-bottom: 0.8em;
}
.maha-payment-form {
  border-radius: 0.28em;
  overflow: hidden;
  min-height: 40px;
  flex: 1;
}
.maha-payment-mandate {
  font-size: 0.8em;
  line-height: 1.6em;
}
