.crm-voice-channel {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.crm-voice-channel-body {
  display: flex;
  flex: 1;
}
.crm-voice-channel-footer {
  padding: 0.8em;
}

.crm-voice-channel-result {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.crm-voice-channel-result-token {
  display: flex;
  flex: 1;
}
.crm-voice-channel-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 60);
  }
}

.crm-voice-channel-token {
  display: flex;
  flex: 1;
}
.crm-voice-channel-token-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.4em;
  }
}
.crm-voice-channel-token-label {
  position: relative;
  flex: 1;
  padding: 0.8em;
  color: fadeout(@black, 60);
  strong {
    color: @black;
  }
}
.crm-voice-channel-token-timestamp {
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
  color: @blue;
  font-size: 0.8em;
}
