.maha-attachments-web {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-attachments-web-header {
  background-color: fadeout(@black, 97);
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-attachments-web-body {
  flex: 1;
  display: flex;
}
.maha-attachments-web-preview {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: 0.8em;
  flex-direction: column;
  img {
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
