.appraisal {
  thead th {
    background-color: @black !important;
    color: @white !important;
  }
  table {
    margin-bottom: 0.8em;
  }
  th, td {
    padding: 0.8em !important;
  }
  tbody tr {
    th {
      background-color: fadeout(@black, 97);
    }
    th:first-child {
      width: 82%;
    }
    th:nth-child(2) {
      width: 18%;
    }
    td:nth-child(2) {
      text-align: center;
    }
  }
  td {
    color: fadeout(@black, 40);
  }
  strong {
    color: @black;
  }
}
.appraisal-rating-description {
  margin-bottom: 0.8em;
}
.appraisal-rating-unaswered {
  color: @red;
}
.appraisal-rating-comments {
  padding: 0.8em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 60);
  strong {
    color: fadeout(@black, 40);
  }
}
