.checkout {
  display: flex;
  flex: 1;
}
.checkout-main {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.checkout-main-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.checkout-main-body {
  display: flex;
  flex: 1;
}
.checkout-sidebar {
  flex: 0 0 40%;
  max-width: 400px;
  border-left: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
}
