@import './step1/style.less';
@import './summary/style.less';

.maha-checkout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.maha-checkout-header {
  background-color: @red;
  display: flex;
}
.maha-checkout-header-icon {
  padding: 0.8em;
  font-weight: bold;
  color: fadeout(@white, 10);
  cursor: pointer;
  &:hover {
    color: @white;
  }
}
.maha-checkout-header-title {
  text-align: center;
  padding: 0.8em;
  color: @white;
  flex: 1;
}
.maha-checkout-body {
  display: flex;
  flex: 1;

}
.maha-checkout-main {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.maha-checkout-sidebar {
  flex: 0 0 50%;
  background-color: fadeout(@black, 97);
  border-left: 1px solid fadeout(@black, 90);
}
.maha-checkout-main-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-checkout-main-body {
  display: flex;
  flex: 1;
}
.maha-checkout-sidebar-image {
  background-color: fadeout(@black, 30);
  padding-bottom: 50%;
  position: relative;
  height: 0;
  .maha-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.maha-checkout-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.maha-checkout-panel-message {
  position: relative;
  display: flex;
  flex: 1;
}
.maha-checkout-panel-body {
  padding: 0.8em;
  .scrollable();
  flex: 1;
}
.maha-checkout-panel-content {
  max-width: 625px;
  margin: 0 auto;
  width: 100%;
}
.maha-checkout-panel-footer {
  border-top: 1px solid fadeout(@black, 90);
  background: fadeout(@black, 97);
  padding: 0.4em;
  display: flex;
  .maha-checkout-panel-footer-item:first-child {
    text-align: left;
  }
  .maha-checkout-panel-footer-item:last-child {
    text-align: right;
  }
}
.maha-checkout-panel-footer-item {
  flex: 1;
  padding: 0.4em;
}

@media (min-width: 769px) {
  .maha-checkout-panel-body {
    background-color: fadeout(@black, 90);
  }
  .maha-checkout-panel-content {
    background-color: @white;
    padding: 0.8em;
  }
}
@media (max-width: 768px) {
  .maha-checkout-sidebar {
    display: none;
  }
}
