.store {
  flex-direction: column;
  position: relative;
  display: flex;
  flex: 1;
}
.store-cart-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5em;
  height: 3.5em;
}
.store-header {
  background-color: @green;
  display: flex;
}
.store-header-action {
  flex: 0 0 3.5em;
}
.store-header-title {
  text-align: center;
  padding: 0.8em;
  color: @white;
  flex: 1;
}
.store-main {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.store-main-body {
  position: relative;
  display: flex;
  flex: 1;
  .maha-stack {
    flex: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}
