.store {
  flex-direction: column;
  position: relative;
  display: flex;
  flex: 1;
}
.store-header {
  background-color: @green;
  display: flex;
}
.store-header-action {
  flex: 0 0 3.5em;
}
.store-header-title {
  text-align: center;
  padding: 0.8em;
  color: @white;
  flex: 1;
}
.store-main {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.store-main-body {
  display: flex;
  flex: 1;
}
