.store {
  position: relative;
  display: flex;
  flex: 1;
  .maha-stack {
    flex: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}
.store-cart-icon {
  background-color: @green;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5em;
  height: 3.5em;
  display: flex;
}
