.finance-card {
  margin: -0.4em -0.8em;
}
.finance-card-number {
  flex: 1;
  display: flex;
}
.finance-card-number-input {
  flex: 1;
  display: flex;
}
.finance-card-number-icon {
  padding: 0.6em;
  display: flex;
  img {
    margin: auto;
    width: 32px;
  }
}
