.competencies-resources {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-body {
  border-bottom: 1px solid fadeout(@black, 95);
  flex: 1;
  display: flex;
  .reframe-stack {
    flex: 1;
    position: relative;
  }
}
.competencies-resources-footer {
  border-top: 1px solid fadeout(@black, 95);
  padding: 0.8em;
  color: @blue;
  text-align: center;
}
.competencies-resources-review {
  background-color: @white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.competencies-resources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-panel-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  height: 3em;
}
.competencies-resources-panel-header-back {
  flex: 0 0 2em;
  padding: 0.8em 0 0.8em 0.8em;
  cursor: pointer;
}
.competencies-resources-panel-header-label {
  padding: 0.8em;
  height: 3em;
  overflow: hidden;
  word-break: break-all;
}
.competencies-resources-panel-body {
  flex: 1;
  display: flex;
}
.competencies-resources-strategies {
  flex: 1;
}
.competencies-resources-item {
  flex: 1;
  display: flex;
  border-bottom: 1px solid fadeout(@black, 95);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.competencies-resources-item-detail {
  padding: 0.8em;
  color: fadeout(@black, 40);
  flex: 1;
  strong {
    color: @black;
  }
  .link {
    pointer: cursor;
    color: @blue;
  }

}
.competencies-resources-item-toggle {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    cursor: pointer;
  }
  .fa-circle-o {
    color: fadeout(@black, 60);
  }
  .fa-check-circle {
    color: @blue;
  }
  .fa-briefcase {
    color: @red;
  }
  .fa-tag {
    color: @blue;
  }
  .fa-star {
    color: @yellow;
  }
}
.competencies-resources-item-proceed {
  padding: 0.8em;
  display: flex;
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
