.email-designer-sidebar-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.email-designer-sidebar-panel-header {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 90);
}
.email-designer-sidebar-panel-body {
  flex: 1;
}
