.maha-htmlfield {
  flex: 1;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  overflow: hidden;
  .rdw-editor-toolbar {
    background-color: fadeout(@black, 95);
    padding: 3px 3px 0;
    border: none;
  }
  .rdw-option-wrapper {
    min-width: 20px;
    height: 20px;
    margin: 0 3px;
    border: none;
  }
  .rdw-editor-main {
    padding: 0 0.8em;
    min-height: 200px;
  }
}
