.stores-fulfill {
  padding: 0.8em;
  tr {
    cursor: pointer;
  }
  .fa-square-o {
    color: fadeout(@black, 80);
  }
  .fa-check-square {
    color: @blue;
  }
  .fulfilled {
    color: fadeout(@black, 80);
  }
}
