@import '../../../../core/public/client.less';

html, body {
  height: 100%;
}
body {
  background: fadeout(@black, 97);
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.maha-task-button {
  background: @black;
}

@import './components/ach/style.less';
@import './components/card/style.less';
@import './components/invoice/style.less';
@import './components/payment/style.less';
