<% const tagify = (text,output) => '<'+(output ? '%-' : '%' )+' '+text+' %'+'>' %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <link id="favicon" rel="shortcut icon" href="/imagecache/w=32&h=32/<%= tagify('invoice.program.logo', true) %>" />
    <link href="/admin/css/semantic.min.css" rel="stylesheet" />
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet" />
    <title>Invoice <%= tagify('invoice.code', true) %> | <%= tagify('invoice.program.title', true) %></title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.invoice = <%= tagify('JSON.stringify(invoice)', true) %>;
      window.token = "<%= tagify('token', true) %>";
    </script>
  </body>
</html>
