.assignee-token {
  display: flex;
  flex: 1;
}
.assignee-token-image {
  flex: 0 0 3.2em;
  padding: 0.8em;
  .maha-avatar {
    width: 100%;
  }
}
.assignee-token-icon {
  background-color: fadeout(@black, 80);
  color: @white;
  border-radius: 50%;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  i {
    margin: auto;
  }
}
.assignee-token-name {
  flex: 1;
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  & > * {
    margin: auto 0;
  }
}
