.chatbar {
  flex: 1;
  display: flex;
  .maha-attachments-drive-head,
  .chat-channels-header,
  .maha-modal-panel-header {
    background-color: @blue !important;
  }
  .maha-attachments-drive-search {
    border-right: 1px solid @blue !important;
  }
  .maha-attachments-grid-items,
  .maha-attachments-list-items {
    width: 340px;
  }
  .maha-attachments-grid-item {
    width: ~"calc(100% / 3 - 0.4em)" !important;
  }
  .maha-attachments-photo-item {
    width: ~"calc(100% / 3 - 0.4em)" !important;
    padding-bottom: ~"calc(100% / 3 - 0.4em)";
  }
  .chat-channel-header-info {
    display: none;
  }
  .chat-channels-header-search {
    .maha-searchbox {
      padding: 0 0.8em 0.8em;
    }
  }
}
.chatbar-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
