.error {
  .maha-confirmation {
    color: #9F3A38;
  }
}
.maha-confirmation {
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  .fa-square-o {
    color: fadeout(@black, 80);
  }
  .fa-check-square {
    color: @blue;
  }
}
.maha-confirmation-icon {
  flex: 0 0 1.8em;
}
.maha-confirmation-label {
  flex: 1;
}
