.error {
  .maha-confirmation {
    color: #9F3A38;
  }
}
.maha-confirmation {
  .fa {
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 0.2em;
  }
  .fa-square-o {
    color: fadeout(@black, 80);
  }
  .fa-check-square {
    color: @blue;
  }
}
