.tofield {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  border-radius: 0.3em;
  padding: 0.8em;
}
.tofield-picker {
  display: flex;
  flex: 1;
}
.tofield-picker-filter {
  border-right: 1px solid fadeout(@black, 90);
  flex: 0 0 350px;
  display: flex;
  position: relative;
}
.tofield-picker-main {
  display: flex;
  flex: 1;
}
.tofield-picker-result {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 97);
}
.tofield-picker-result-token {
  display: flex;
  flex: 1;
}
.tofield-picker-result-remove {
  padding: 0.8em;
  cursor: pointer;
  &:hover .fa {
    color: fadeout(@black, 40);
  }
  .fa {
    color: fadeout(@black, 80);
  }
}
