.drive-tasks {
  @media (max-width: 768px) {
  }
  @media (min-width: 769px) {
    .maha-tasks-title .maha-tasks-title-icon:last-child {
      display: none;
    }
  }
}
.drive-task {
  flex: 1;
  padding: 0.8em;
}
