.maha-asset-token {
  width: 100%;
}
.maha-asset-token-click {
  cursor: pointer;
  .hover(background-color, fadeout(@black, 97));
}
.maha-asset-token-details {
  display: flex;
  &.pdf {
    i { color: @red; }
    .maha-asset-token-download { background-color: @red; }
  }
  &.xls {
    i { color: @green; }
    .maha-asset-token-download { background-color: @green; }
  }
  &.doc {
    i { color: @blue; }
    .maha-asset-token-download { background-color: @blue; }
  }
  &.ppt {
    i { color: @orange; }
    .maha-asset-token-download { background-color: @orange; }
  }
  &.jpg, &.gif, &.png {
    i { color: @purple; }
    .maha-asset-token-download { background-color: @purple; }
  }
}
.maha-asset-token-icon {
  position: relative;
  flex: 0 0 3em;
  padding: 0.8em 0.6em;
  display: flex;
  .maha-asset-icon {
    margin: 0 auto;
  }
  i {
    font-size: 3em;
  }
}
.maha-asset-token-text {
  flex: 1;
  padding: 0.8em 0.8em 0.8em 0;
  font-size: 0.8em;
  line-height: 1.4em;
}
.maha-asset-token-filename {
  color: @black;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}
.maha-asset-token-filesize {
  color: fadeout(@black, 60);
  float: left;
}
.maha-asset-token-links {
  clear: both;
  span {
    margin: 0 2px;
  }
}
.maha-asset-token-link {
  .hover(text-decoration, underline);
  cursor: pointer;
  display: inline-block;
  color: @blue;
}
.maha-asset-token-preview {
  background-color: fadeout(@black, 80);
  padding: 0.8em;
}
.maha-asset-token-preview-frame {
  width: 100%;
  max-width: 350px;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  img {
    width: 100%;
  }
}
