.designer {
  flex: 1;
  display: flex;
  background-color: @white;
  flex-direction: column;
}
.designer-body {
  flex: 1;
  display: flex;
}
.designer-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.designer-header {
  padding: 0.35em 0.8em;
  background-color: fadeout(@grey, 97);
  border-bottom: 1px solid fadeout(@black, 90);
  text-align: center;
  .ui.dropdown {
    margin: 0 0.4em;
  }
}
.designer-footer {
  padding: 0.8em;
  background-color: @grey;
}
.designer-preview {
  flex: 1;
  display: flex;
  background-color: fadeout(@black, 97);
  overflow: hidden;
  &.desktop {
    iframe {
      flex: 1;
    }
  }
  &.mobile {
    padding: 1.6em;
    .scrollable();
    iframe {
      margin: auto;
    }
  }
  iframe {
    background-color: @white;
    border: none;
  }
}
.designer-sidebar {
  border-left: 1px solid fadeout(@black, 90);
  flex: 0 0 ~"calc(100% / 3)";
  max-width: 500px;
  min-width: 350px;
  display: flex;
  .maha-modal-panel-header {
    background-color: @grey !important;
  }
}
.designer-sidebar-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.designer-sidebar-panel-header {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 90);
}
.designer-sidebar-panel-body {
  flex: 1;
}
