@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;
@android: #A4C639;
@paypal: #009CDE;

.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body {
  height: auto;
  background: none;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: rgba(0,0,0,.03);
}
.overlay  {
  flex: 1;
  .scrollable();
  padding: 0.8em;
}
.channel {
  margin-bottom: 1.8em;
}
.unsubscribe {
  margin-bottom: 1.8em;
}
.copyright {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
p {
  line-height: 1.8em !important;
}

.maha-field {
  margin: 0 0 1em;
}

@import '../../../../core/client/style.less';
