@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;
@grey: fadeout(@black, 30);
@lightblue: #85B7D9;
@primary_background_color: @black;
@primary_color: @white;

html, body {
  height: 100%;
}
body {
  background: fadeout(@black, 97);
}
#app {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
	  background: fadeout(@black, 92) !important;
	}
	&::-webkit-scrollbar-thumb {
	  background: fadeout(@black, 80) !important;
	}
	&::-webkit-scrollbar {
	  width: 0 !important;
	  height: 0 !important;
	}
}
.transition(@transition) {
  transition: @transition;
}
.translateXY(@x, @y) {
  transform: translate(@x, @y);
}
.translateX(@x) {
  transform: translateX(@x);
}
.translateY(@y) {
  transform: translateY(@y);
}
.opacity(@opacity: 0.5) {
	opacity: @opacity;
}
.expanded(@begin, @end) {
  &.expanded-appear,
  &.expanded-enter,
  &.expanded-exit.expanded-exit-active {
    @begin();
  }
  &.expanded-appear.expanded-appear-active,
  &.expanded-enter.expanded-enter-active,
  &.expanded-exit {
    @end();
  }
}
.opacity-transition(@start, @end, @duration) {
  .transition(opacity @duration ease-in-out 0s);
  .expanded({
    .opacity(@start);
  }, {
    .opacity(@end);
  })
}
.translate-y-transition(@start, @end, @duration) {
  .transition(transform @duration ease-in-out 0s);
  .expanded({
    .translateY(@start);
  }, {
    .translateY(@end);
  })
}
.colorize(@property) {
	&.red { @{property}: @red; }
	&.orange { @{property}: @orange; }
	&.yellow { @{property}: @yellow; }
	&.olive { @{property}: @olive; }
	&.green { @{property}: @green; }
	&.teal { @{property}: @teal; }
	&.blue { @{property}: @blue; }
	&.purple { @{property}: @purple; }
	&.violet { @{property}: @violet; }
	&.pink { @{property}: @pink; }
	&.brown { @{property}: @brown; }
	&.grey { @{property}: @grey; }
	&.black { @{property}: @black; }
}
.colorizeItem(@item, @property) {
	&.red .@{item} { @{property}: @red; }
	&.orange .@{item} { @{property}: @orange; }
	&.yellow .@{item} { @{property}: @yellow; }
	&.olive .@{item} { @{property}: @olive; }
	&.green .@{item} { @{property}: @green; }
	&.teal .@{item} { @{property}: @teal; }
	&.blue .@{item} { @{property}: @blue; }
	&.purple .@{item} { @{property}: @purple; }
	&.violet .@{item} { @{property}: @violet; }
	&.pink .@{item} { @{property}: @pink; }
	&.brown .@{item} { @{property}: @brown; }
	&.grey .@{item} { @{property}: @grey; }
	&.black .@{item} { @{property}: @black; }
}
.hover(@property, @value) {
  &:hover {
    @media (min-width: 769px) {
      @{property}: @value;
    }
  }
}
@import './components/button/style.less';
@import './components/buttons/style.less';
@import './components/form/style.less';
@import './components/image/style.less';
@import './components/loader/style.less';
@import './components/logo/style.less';
@import './components/message/style.less';
@import './components/modal/style.less';
@import './components/modal_panel/style.less';
@import './components/network/style.less';
@import './components/stack/style.less';
@import './components/tasks/style.less';

@import './components/form/addressfield/style.less';
@import './components/form/checkboxes/style.less';
@import './components/form/datefield/style.less';
@import './components/form/dropdown/style.less';
@import './components/form/filefield/style.less';
@import './components/form/recaptcha/style.less';
@import './components/form/text/style.less';
@import './components/form/textarea/style.less';
