.quiz {
  flex: 1;
  display: flex;
}
.quiz-question {
  flex: 1;
  background-color: @red;
  position: relative;
  .colorize(background-color);
  display: flex;
  padding: 1em;
}
.quiz-question-inner {
  @media (max-width: 768px) {
    margin: 2em auto 0;
  }
  @media (min-width: 769px) {
    margin: auto;
  }
  display: flex;
  flex-direction: column;
  max-width: 35em;
  width: 100%;
}
.quiz-question-text {
  margin: 0 auto;
  font-size: 1.6em;
  line-height: 1.6em;
  color: @white;
  text-align: center;
}
.quiz-question-answers {
  counter-reset: answer;
  margin: 2em auto 1em;
  width: 100%;
  max-width: 26em;
}
.quiz-question-answer {
  counter-increment: answer;
  color: @black;
  background-color: @white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@white, 10);
  }
}
.quiz-question-answer-label {
  padding: 1em;
  flex: 1;
  &:before {
    content: counter(answer, upper-alpha) ". ";
  }
}
.quiz-question-answer-response {
  padding: 1em;
  font-size: 0.8em;
  .fa {
    display: block;
    width: 2em;
    height: 2em;
    line-height: 1.1em;
    text-align: center;
    vertical-align: middle;
    color: @white;
    padding: 0.3em;
    border-radius: 50%;
  }
  .fa-times {
    background-color: @red;
    border: 2px solid darken(@red, 10);
  }
  .fa-check {
    background-color: @green;
    border: 2px solid darken(@green, 10);
  }
}
.quiz-question-explanation {
  strong {
    font-size: 1.2em;
    color: @green;
  }
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 0.8em;
}
.quiz-question-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8em;
  background-color: @white;
}
.quiz-summary {
  .colorize(background-color);
  flex: 1;
  display: flex;
  padding: 0.8em;
}
.quiz-summary-inner {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 18em;
  .fa {
    color: @white;
    font-size: 6em;
  }
  h1 {
    margin: 1em 0;
    color: @white;
  }
  p {
    font-size: 1.2em;
    line-height: 1.8em;
    color: @white;
    margin: 0 0 1em;
  }
  .ui.basic.button {
    background-color: @white !important;
  }
}
