.maha-range {
  input {
    width: 100%;
  }
}
.maha-range-legend {
  display: flex;
}
.maha-range-min {
  flex: 1;
  text-align: left;
}
.maha-range-value {
  flex: 1;
  text-align: center;
}
.maha-range-max {
  flex: 1;
  text-align: right;
}
