.maha-range {
  input {
    width: 100%;
  }
}
.maha-range-legend {
  display: flex;
  font-size: 0.8em;
  color: @blue;
}
.maha-range-min {
  flex: 1;
  text-align: left;
}
.maha-range-value {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.maha-range-max {
  flex: 1;
  text-align: right;
}
