.maha-network {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-network-body {
  display: flex;
  flex: 1;
}
.maha-network-revision {
  background-color: @teal;
  color: @white;
  text-align: center;
  padding: 0.8em;
  .link {
    color: @white;
    text-decoration: underline;
  }
}
.maha-network-status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: @white;
  text-align: center;
}
.maha-network-error {
  background-color: @yellow;
}
.maha-network-success {
  background-color: @green;
}
