.maha-attachments-drive {
  .unselectable();
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: @white;
  position: relative;
  .maha-stack {
    flex: 1;
    position: relative;
  }
}
.maha-attachments-drive-main {
  flex: 1;
  display: flex;
  position: relative;
}
.maha-attachments-drive-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.maha-attachments-drive-search {
  background-color: @red;
  .maha-searchbox {
    padding-top: 0;
  }
  .maha-searchbox-input {
    background-color: fadeout(@white, 50);
    border-radius: 0.5em;
    margin: 0 !important;
    .maha-searchbox-icon {
      color: @white !important;
    }
    .maha-searchbox-remove-icon {
      .hover(color, fadeout(@white, 30));
      color: fadeout(@white, 50);
    }
    input {
      color: @white !important;
      &::-webkit-input-placeholder {
        color: fadeout(@white, 20);
      }
      &:-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: fadeout(@white, 20);
      }
    }
  }
}
.maha-attachments-drive-folder {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.maha-attachments-drive-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  padding-right: 6px;
  height: 3em;
}
.maha-attachments-drive-header-breadcrumb {
  flex: 1;
  display: flex;
  cursor: pointer;
}
.maha-attachments-drive-header-icon {
  .hover(color, fadeout(@black, 50));
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 80);
  display: flex;
  cursor: pointer;
  i {
    font-size: 1.2em;
    margin: auto;
  }
}

.maha-attachments-drive-header-back {
  flex: 0 0 2em;
  padding: 0.8em 0 0.8em 0.8em;
  cursor: pointer;
}
.maha-attachments-drive-header-label {
  padding: 0.8em;
  height: 2em;
  overflow: hidden;
  word-break: break-all;
}

.maha-attachments-drive-breadcrumbs {
  flex: 1;
  padding: 0.8em;
  .maha-attachments-drive-breadcrumb {
    margin-right: 0.5em;
    display: inline;
    color: fadeout(@black, 50);
    cursor: pointer;
    &.active {
      color: @black;
    }

  }
  .fa-chevron-right {
    margin-right: 0.5em;
    color: fadeout(@black, 70);
    font-size: 0.8em;
  }
}
.maha-attachments-drive-results {
  flex: 1;
  display: flex;
}
.maha-attachments-drive-root {
  flex: 1;
  display: flex;
  .scrollable();
}
.maha-attachments-drive-items {
  flex: 1;
}
.maha-attachments-drive-item {
  padding: 1;
  border-bottom: 1px solid fadeout(@black, 95);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  .hover(background-color, fadeout(@black, 97));
  &.selected {
    background-color: fadeout(@blue, 90);
    color: darken(@blue, 10);
  }
  &.over {
    box-shadow: inset 0 0 0 2px @blue;
  }
  &.dragging {
    .opacity(0.4);
  }
}
.maha-attachments-drive-item-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  text-align: center;
  .fa-hdd-o { color: @blue; }
  .fa-folder { color: @yellow; }
  .fa-handshake-o { color: @teal; }
  .fa-star { color: @yellow; }
  .fa-trash { color: @purple; }
  i, .maha-asset-thumbnail {
    margin: auto;
  }
  .maha-asset-thumbnail {
    width: 20px;
    height: 20px;
    img {
      display: block;
      width: 100%;
    }
  }
}
.maha-attachments-drive-item-name {
  padding: 0.8em;
  flex: 1;
  .ui.progress {
    margin: 0;
  }
}
.maha-attachments-drive-item-action {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  flex: 0 0 2em;
  i {
    margin: auto;
  }
  .fa-ellipsis-v {
    color: fadeout(@black, 80);
    .hover(color, fadeout(@black, 50));
    font-size: 1.2em;
  }
  .fa-check {
    color: @green;
  }
  .fa-refresh {
    color: fadeout(@black, 80);
  }
  .fa-chevron-right {
    color: fadeout(@black, 80);
  }
}
