.registration-quantity {
  display: inline-flex;
  border: 1px solid fadeout(@black, 90);
  .registration-quantity-action:first-child {
    border-right: 1px solid fadeout(@black, 90);
  }
  .registration-quantity-action:last-child {
    border-left: 1px solid fadeout(@black, 90);
  }
}
.registration-quantity-action {
  background-color: fadeout(@black, 97);
  padding: 0.6em;
  cursor: pointer;
}
.registration-quantity-value {
  padding: 0.6em;
}
