.maha-app {
  display: flex;
  flex: 1;
}

.cordova {
  .maha-account-identity {
    padding-top: 4em;
  }
	.maha-page-header,
  .maha-navigation-header,
  .maha-search-bar,
  .maha-notifications-header,
	.reframe-modal-panel-header {
    padding-top: 1.5em;
	}
  .reframe-flash-popup,
  .reframe-popup-panel {
    top: 1.5em !important;
  }
  .maha-page-header,
  .maha-navigation-header,
  .maha-search-bar,
  .maha-notifications-header,
	.reframe-modal-panel-header {
	  flex: 0 0 5em;
	}
}
