@import './fields/addressfield/style.less';
@import './fields/checkboxes/style.less';
@import './fields/checkbox/style.less';
@import './fields/datefield/style.less';
@import './fields/dropdown/style.less';
@import './fields/filefield/style.less';
@import './fields/productfield/style.less';
@import './payment/methods/style.less';
@import './payment/card/style.less';
@import './payment/googlepay/style.less';
@import './payment/applepay/style.less';
@import './payment/paypal/style.less';
@import './payment/summary/style.less';
@import './payment/style.less';

.maha-input {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.28em;
  position: relative;
  display: flex;
  width: 100%;
  input {
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
}
.maha-input-field {
  display: flex;
  flex: 1;
  input {
    border: none !important;
  }
}
.maha-input-placeholder {
  display: flex;
  flex: 1;
  min-height: 2.5em;
  padding: 0.6em 1em;
  color: fadeout(@black, 75);
  cursor: pointer;
}
.maha-input-token {
  display: flex;
  flex: 1;
  padding: 0.6em 1em;
  cursor: pointer;
}
.maha-input-clear {
  flex: 0 0 2em;
  display: flex;
  padding: 0.4em;
  cursor: pointer;
  &:hover .fa {
    color: fadeout(@black, 60);
  }
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-text {
  p:last-child {
    margin: 0;
  }
}
.field-invalid {
  .maha-input {
    border-color: @red;
  }
}
.field-error {
  color: @red;
  font-style: italic;
  margin-top: 0.4em;
}
