.maha-attachments-photos {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.maha-attachments-photos-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
}
.maha-attachments-photos-header-icon {
  padding: 0.8em 0 0.8em 0.8em;
  img {
    overflow: hidden;
    border-radius: 0.3em;
    display: block;
    height: 18px;
    width: 18px;
  }
}
.maha-attachments-photos-header-label {
  padding: 0.8em;
}
.maha-attachments-photos-body {
  display: flex;
  flex: 1;
}
.maha-attachments-photos-items {
  padding: 0.2em;
  overflow: hidden;
}
.maha-attachments-photo-item {
  position: relative;
  float: left;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  overflow: hidden;
  margin: 0.2em;
  display: flex;
  @media (max-width: 768px) {
    width: ~"calc(100% / 3 - 0.4em)";
    padding-bottom: ~"calc(100% / 3 - 0.4em)";
  }
  @media (min-width: 769px) {
    width: ~"calc(100% / 5 - 0.4em)";
    padding-bottom: ~"calc(100% / 5 - 0.4em)";
  }
  .maha-attachments-photo-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  i {
    margin: auto;
    font-size: 2em;
    background-color: fadeout(@black, 97);
    color: @white;
  }
}
