.maha-imageeditor-canvas {
  background-color: @black;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.maha-imageeditor-canvas-header {
  background-color: lighten(@white, 10);
  padding: 0.8em;
  line-height: 1.8em
}
.maha-imageeditor-canvas-body {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.maha-imageeditor-canvas-footer {
  padding: 0 0.8em;
  display: flex;
  height: 30px;
  input {
    margin: auto;
    width: 100%;
    display: block
  }
}
.maha-imageeditor-canvas-viewport {
  transition: transform 0.25s ease-in, width 0.25s ease-in, height 0.25s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  overflow: hidden;
}
.maha-imageeditor-canvas-flip {
  transition: transform 0.25s ease-in;
  transform-origin: center;
  position: relative;
  display: flex;
  flex: 1;
}
.maha-imageeditor-canvas-frame {
  transition: transform 0.25s ease-in, width 0.25s ease-in, height 0.25s ease-in;
  transform-origin: center;
  position: absolute;
  left: 0;
  top: 0;
  img {
    width: 100%;
    display: block;
  }
}
