.crm-rulesfield-rules {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  margin-bottom: 0.8em;
  .crm-rulesfield-rule:last-child {
    border-bottom: none;
  }
}
.crm-rulesfield-rule {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.crm-rulesfield-rule-label {
  padding: 0.8em;
  flex: 1;
}
.crm-rulesfield-rule-remove {
  padding: 0.8em;
  display: flex;
  cursor: pointer;
  &:hover {
    .fa {
      color: fadeout(@black, 40);
    }
  }
  .fa {
    color: fadeout(@black, 60);
    margin: auto;
  }
}
