.crm-workflow-status-token {
  flex: none !important;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  display: block;
  text-align: center;
  color: @white;
  font-size: 0.8em;
  margin: 0;
  padding: 4px;
  text-transform: uppercase;
  width: 7.5em;
  &.canceled { background-color: @red; }
  &.lost { background-color: @red; }
  &.active { background-color: @yellow; }
  &.completed { background-color: @green; }
}
