.maha-attachment-manager {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: @black;
  overflow: hidden;
  z-index: 1;
}
.maha-attachment-manager-removeall {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  .fa {
    color: @white;
    text-shadow: 0 0 4px fadeout(@black, 15);
    font-size: 2em;
    cursor: pointer;
  }
}
.maha-attachment-manager-widget {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.maha-attachment-manager-main {
  flex: 1;
  position: relative;
  padding: 0.8em;
  overflow: hidden;
  display: flex;
  .fa-circle-o-notch {
    font-size: 3.2em;
    text-shadow: 0 0 3px fadeout(@black, 15);
  }
  .maha-attachment-manager-thumbnail {
    margin: auto;
    width: 100%;
    max-width: 450px;
  }
  .maha-image-preview-image {
    background-size: contain !important;
  }
}
.maha-attachment-manager-thumbnail-document {
  height: 0;
  padding-bottom: 100%;
  background: @white;
  color: @black;
  position: relative;
}
.maha-attachment-manager-thumbnail-document-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: hidden;
}
.maha-attachment-manager-thumbnail-document-content {
  margin: auto;
  text-align: center;
  .fa {
    font-size: 5em;
  }
}
.maha-attachment-manager-thumbnail-document-label {
  margin-top: 0.8em;
}

.maha-attachment-manager-controls {
  background-color: @black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.8em 0;
}
.maha-attachment-manager-button {
  padding: 0 0.8em;
  .button {
    margin: 0;
  }
  .maha-camera {
    width: 0.9em;
    height: 0.9em;
  }
}
.maha-attachment-manager-caption {
  flex: 1;
  input {
    background-color: @white;
    border-radius: 1.4em;
    padding: 0.6em 0.8em;
    width: 100%;
    outline: none;
    border: none;
    &::-webkit-input-placeholder {
      opacity: 0.5;
      font-style: italic;
    }
    &:-moz-placeholder {
      opacity: 0.5;
      font-style: italic;
    }
    &::-moz-placeholder {
      opacity: 0.5;
      font-style: italic;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
      font-style: italic;
    }
  }
}
.maha-attachment-manager-thumbnails {
  background-color: lighten(@black, 30);
  display: flex;
  padding: 0.2em;
  .maha-attachment-manager-thumbnail {
    width: 8em;
    padding: 0.2em;
    &:hover {
      .opacity(0.7);
    }
  }
  .maha-attachment-manager-thumbnail-document-label {
    display: none;
  }
  .fa-circle-o-notch {
    font-size: 1em;
  }
}
.maha-attachment-manager-thumbnail {
  display: block;
  cursor: pointer;
  position: relative;
  .maha-attachment-manager-thumbnail-remove {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    .fa-times {
      color: @white;
      text-shadow: 0 0 2px fadeout(@black, 50);
    }
  }
}
.maha-attachment-manager-thumbnail-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  .fa {
    margin: auto;
    color: @white;
    text-shadow: 0 0 2px fadeout(@black, 50);
  }
}
