.maha-criteria-designer {
  display: flex;
  flex: 1;
}
.maha-criteria-designer-filter {
  flex: 0 0 350px;
  display: flex;
  position: relative;
}
.maha-criteria-designer-results {
  display: flex;
  flex: 1;
}
