.maha-text {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  display: flex;
  background: @white;
  padding: 0.6em 0.8em;
  color: fadeout(@black, 30);
  &.disabled {
    background-color: fadeout(@black, 97);
    color: fadeout(@black, 70);
  }
}
