.contact-header {
  background-color: @grey;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.contact-header-avatar {
  padding: 0.8em;
}
.contact-header-controls {
  display: flex;
}
.contact-header-items {
  margin: 0 auto;
  width: 18em;
  display: flex;
}
.contact-header-item {
  flex: 1;
  padding: 0.8em;
  text-align: center;
}
.contact-header-button {
  display: inline-flex;
  border: none;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
  background-color: fadeout(@white, 5);
  color: @red;
  cursor: pointer;
  text-align: center;
  .fa {
    line-height: 1.9em;
  }
  .fa-phone {
    font-size: 1.4em;
  }
  &.disabled {
    background-color: fadeout(@white, 50);
    color: fadeout(@black, 60);
    cursor: auto;
    &:hover {
      background-color: auto !important;
    }
  }
  &:hover {
    background-color: @white;
  }
  .fa {
    margin: auto;
  }
}

.crm-contact-channels,
.crm-contact-interests {
  .ui.button {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}
.crm-contact-channels-program td,
.crm-contact-interests-program td {
  background-color: fadeout(@black, 97) !important;
  font-weight: bold;
  line-height: 1.6em;
  margin-bottom: 0.8em;
  .maha-image {
    display: inline-block;
    width: 1.6em;
    margin: 0 0.8em -0.5em 0;
  }
}
.crm-contact-channels-channel td,
.crm-contact-interests-topic td {
  color: fadeout(@black, 50);
}
.crm-contact-channels-empty td,
.crm-contact-interests-empty td {
  text-align: center;
  color: fadeout(@black, 50);
}
