.contact-header {
  background-color: @red;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.contact-header-avatar {
  padding: 0.8em;
}
.contact-header-controls {
  display: flex;
}
.contact-header-items {
  margin: 0 auto;
  width: 18em;
  display: flex;
}
.contact-header-item {
  flex: 1;
  padding: 0.8em;
  text-align: center;
}
.contact-header-button {
  display: inline-flex;
  border: none;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
  background-color: @white;
  color: @red;
  cursor: pointer;
  text-align: center;
  .fa {
    font-size: 1em;
    line-height: 1em;
  }
  &.disabled {
    background-color: fadeout(@white, 30);
    cursor: auto;
  }
  .fa {
    margin: auto;
  }
}
