.contact-header-button {
  flex: 1;
  text-align: center;
  button {
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: @white;
    color: @red;
    cursor: pointer;
  }
}

.contact-header-buttons {
  width: 18em;
  margin: 1em auto;
  display: flex;
  .fa {
    font-size: 1.4em;
    line-height: 1em;
  }
}
