.maha-richtext a,
.maha-richtext-link {
  color: @blue;
  text-decoration: underline;
  cursor: pointer;
}
.maha-richtext-code {
  margin: 0.4em 0;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.4em;
  background-color: fadeout(@black, 97);
  color: fadeout(@black, 20);
  padding: 0.5em;
  font-size: 0.9em;
  line-height: 1.6em;
  overflow:auto;
  font-family: monospace;
  white-space: pre;
}
.maha-richtext-snippet {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.2em;
  background-color: fadeout(@black, 97);
  padding: 0 0.5em;
  color: @red;
}
.maha-richtext blockquote {
  border-left: 4px solid #2185d0;
  background-color: fadeout(@black, 95);
  padding: .8em;
  margin: .4em 0;
}
