.maha-addressfield {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 0.28em;
  position: relative;
  .maha-input {
    border: none;
  }
}
.maha-addressfield-results {
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  position: absolute;
  left: -1px;
  right: -1px;
  z-index: 10;
  .maha-addressfield-result:last-child {
    border: none;
  }
  &.down {
    border-radius: 0 0 0.5em 0.5em;
    top: ~"calc(100% - 2px)";
  }
  &.up {
    border-radius: 0.5em 0.5em 0 0;
    bottom: ~"calc(100% - 2px)";
  }
}
.maha-addressfield-result {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &.selected {
    background-color: fadeout(@black, 95);
  }
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.maha-addressfield-result-add {
  padding: 0.8em;
  color: @blue;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.maha-addressfield-result-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    color: @red;
    font-size: 1.2em;
  }
}
.maha-addressfield-result-details {
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 60);
  line-height: 1.4em;
  strong {
    color: @black;
  }
}
.maha-addressfield-street2 {
  border-top: 1px solid fadeout(@black, 90);
  input {
    padding: 0.6em !important;
    border: none !important;
  }
}
.maha-addressfield-link {
  color: @blue;
  font-size: 0.8em;
  cursor: pointer;
}
