.maha-network {
  position: relative;
  flex: 1;
  display: flex;
  &.error .maha-network-status {
    background-color: @yellow;
  }
  &.success .maha-network-status {
    background-color: @green;
  }
}
.maha-network-status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: @white;
  text-align: center;
}
