.crm-timeline {
  .crm-timeline-buttons {
    margin-bottom: 0.8em;
  }
  .ui.basic.buttons {
    background-color: @blue;
    color: @white !important;
    margin-bottom: 0.8em;
    .ui.button {
      border-left-color: @white;
      color: @white !important;
      &:hover {
        background-color: fadeout(@white, 80) !important;
      }
    }
  }
}
.crm-timeline-date {
  text-align: center;
  margin-bottom: 0.8em;
}
.crm-timeline-item-card {
  border: 1px solid fadeout(@black, 85);
  background-color: @white;
  border-radius: .5em;
  margin-bottom: 0.8em;
  overflow: hidden;
}
.crm-timeline-item-card-header {
  background-color: fadeout(@black, 98);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.crm-timeline-item-card-header-toggle {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
.crm-timeline-item-card-header-avatar {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .contact-avatar-token,
  .maha-avatar {
    margin: auto;
    width: 2.4em;
    height: 2.4em;
  }
}
.crm-timeline-item-card-header-details {
  flex: 1;
  padding: 0.8em;
}
.crm-timeline-item-card-header-program {
  font-size: 0.9em;
  color: @blue;
  .maha-image {
    display: inline-block;
    border-radius: 2px;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 10px;
  }
}
.crm-timeline-item-card-header-timestamp {
  color: fadeout(@black, 60);
  font-size: 0.8em;
  margin-right: 0.5em;
}
.crm-timeline-item-card-header-tasks {
  flex: 0 0 2em;
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 60);
  }
}
.crm-timeline-item-card-section {
  border-top: 1px solid fadeout(@black, 90);
  color: fadeout(@black, 50);
  line-height: 1.6em;
  padding: 0.8em;
  display: flex;
  & > div {
    flex: 1;
  }
  strong {
    color: @black;
  }
  ul {
    margin: 0 0 0 1.3em;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  table {
    tr td:first-child {
      width: 180px;
    }
  }
}
.crm-timeline-item-card-file {
  margin: -0.8em;
}
.crm-card-header {
  background: fadeout(@blue, 93);
  padding: 0.8em;
}
.crm-card-body {
  background: fadeout(@blue, 97);
  padding: 0.8em;
}
.crm-blast-action {
  display: flex;
}
.crm-blast-action-label {
  flex: 1;
}
.crm-blast-action-timestamp {
  text-align: right;
  color: fadeout(@black, 70);
}
