.source-token {
  padding: 0;
  display: flex;
  margin: -0.8em;
}
.source-token-icon {
  flex: 0 0 3em;
  padding: 0.8em;
  img {
    width: 100%;
  }
}
.source-token-text {
  flex: 1;
  padding: 0.8em 0;
}