<table class="row collapse">
  <tbody>
    <tr>
      <td class="large-12 first last columns">
        <div class="divider" />
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
