<table class="row collapse">
  <tbody>
    <tr>
      <td class="small-12 large-12 columns first last">
        <%- block.text %>
      </td>
      <td class="expander"></td>
    </tr>
  </tbody>
</table>
