.competencies-resources {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-header {
  padding: 0.8em;
}
.competencies-resources-body {
  border-bottom: 1px solid fadeout(@black, 95);
  flex: 1;
  display: flex;
}
.competencies-resources-footer {
  border-top: 1px solid fadeout(@black, 95);
  padding: 0.8em;
  background-color: fadeout(@yellow, 20);
  color: @blue;
  text-align: center;
  cursor: pointer;
}
.competencies-resources-review {
  background-color: @white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  .competencies-resources-items,
  .maha-message {
    flex: 1;
  }
}

.competencies-resources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-panel-header {
  &:hover {
    background-color: fadeout(@black, 90);
  }
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  cursor: pointer;
}
.competencies-resources-panel-header-back {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
}
.competencies-resources-panel-header-label {
  flex: 1;
  padding: 0.8em;
}
.competencies-resources-panel-header-close {
  background-color: fadeout(@yellow, 20);
  flex: 1;
  padding: 0.8em;
  text-align: center;
  color: @blue;
  cursor: pointer;
}
.competencies-resources-panel-body {
  flex: 1;
  display: flex;
}
.competencies-resources-strategies {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-strategies-header {
  display: flex;
  .maha-message {
    height: 25em;
  }
}
.competencies-resources-strategies-body {
  flex: 1;
}
.competencies-resources-item {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 95);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.competencies-resources-item-detail {
  padding: 0.8em;
  color: fadeout(@black, 40);
  flex: 1;
  strong {
    color: @black;
  }
}
.competencies-resources-item-toggle {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
    cursor: pointer;
  }
  .fa-circle-o {
    color: fadeout(@black, 60);
  }
  .fa-check-circle {
    color: @blue;
  }
  .fa-briefcase {
    color: @red;
  }
  .fa-tag {
    color: @blue;
  }
  .fa-trophy {
    color: @yellow;
  }
  .fa-pencil {
    color: @green;
  }
  .fa-cube {
    color: @brown;
  }
}
.competencies-resources-item-proceed {
  padding: 0.8em;
  display: flex;
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.competencies-resources-custom {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-custom-body {
  flex: 1;
  display: flex;
  padding: 0.8em;
  textarea {
    border: 1px solid fadeout(@black, 90);
    border-radius: 0.5em;
    padding: 0.8em;
    flex: 1;
  }
}
.competencies-resources-custom-footer {
  background-color: fadeout(@black, 30);
  padding: 0.8em;
}
