.maha-versions {
  .scrollable();
  flex: 1;
}
.maha-versions-new {
  border-bottom: 1px solid fadeout(@black, 90);
  padding: 0.8em;
}
.maha-versions-version {
  border-bottom: 1px solid fadeout(@black, 90);
  position: relative;
  cursor: pointer;
  display: flex;
  height: 5.6em;
  &.active {
    background-color: fadeout(@blue, 95) !important;
  }
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-versions-version-active {
  padding: 0.8em;
  display: flex;
  &:hover {
    .fa-circle-o {
      color: @blue;
    }
  }
  .fa {
    margin: auto;
  }
  .fa-circle-o {
    color: fadeout(@black, 80);
  }
  .fa-check-circle {
    color: @blue;
  }
}
.maha-versions-version-details {
  padding: 0.8em;
  flex: 1;
}
.maha-versions-version-title {
  font-weight: bold;
}
.maha-versions-version-timestamp {
  font-size: 0.8em;
  color: fadeout(@black, 40);
}
.maha-versions-version-published {
  position: absolute;
  top: 1em;
  right: 1em;
  color: @green;
  font-size: 0.8em;
  text-transform: uppercase;
}
