.maha-payment-card {
  .maha-payment-form {
    padding: 0.8em;
  }
  .ui.button {
    margin-top: 0.8em;
  }
}
.maha-payment-card-input {
  flex: 1;
  display: flex;
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &.disabled {
    background-color: fadeout(@black, 97);
    color: fadeout(@black, 90);
    * {
      color: fadeout(@black, 90) !important;
    }
  }
  &:focus {
    outline: -webkit-focus-ring-color auto 2px !important;
  }
  input {
    flex: 1;
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    padding: 0.8em 0.6em !important;
    width: 100%;
    &:focus {
      outline: none !important;
    }
  }
}
.maha-payment-card-icon {
  flex: 0 0 2em;
  padding: 0.6em 0 0.6em 0.6em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.6em;
    color: fadeout(@black, 70);
  }
  img {
    margin: auto;
    width: 32px;
  }
}

.maha-payment-card-number {
  flex: 1;
  display: flex;
}
.maha-payment-card-expiration {
  flex: 0 0 5em;
  display: flex;
}
.maha-payment-card-cvv {
  flex: 0 0 3.5em;
  display: flex;
}
.maha-payment-card-clear {
  display: flex;
  padding: 0.6em;
  flex: 0 0 2em;
  .fa {
    &:hover {
      color: fadeout(@black, 70);
    }
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
.maha-payment-error {
  color: @red;
  font-style: italic;
}
