.maha-embed {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.maha-embed-header {
  padding: 0.8em;
}
.maha-embed-body {
  padding: 0 0.8em 0.8em;
  display: flex;
  flex: 1;
  textarea {
    flex: 1;
    padding: 0.8em;
    background: fadeout(@black, 30);
    color: @white;
  }
}
