.responsibilities {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  overflow: hidden;
  .ui.table {
    border-radius: 0;
    border: none;
  }
  .fa {
    cursor: pointer;
  }
  tfoot td {
    border-top: 1px solid fadeout(@black, 90) !important;
  }
}
