.maha-phone-voicemail-player {
  margin: 0 auto 0.8em;
  display: flex;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  cursor: pointer;
  background-color: fadeout(@black, 70);
  &:hover {
    background-color: fadeout(@black, 80);
  }
  &.playing {
    background-color: @green;
    &:hover {
      background-color: lighten(@green, 5);
    }
  }
  .fa {
    margin: auto;
    color: @white;
  }
  .fa-pause {
    font-size: 3em;
  }
  .fa-play {
    font-size: 4em;
    transform: translateX(7px);
  }
}
