.profile-token {
  flex: 1;
  display: flex;
}
.profile-token-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  img {
    margin: auto;
    width: 2.2em;
    height: 2.2em;
    display: block;
    border-radius: 0.5em;
    overflow: hidden;
  }
}
.profile-token-label {
  padding: 0.8em;
  flex: 1;
  color: fadeout(@black, 40);
  strong {
    color: @black;
  }
}
