.maha-omnisearch-panel {
  .translate-y-transition(100%, 0, .5s);
  background-color: @white;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.maha-omnisearch-header {
  border-bottom: 1px solid fadeout(@black, 85);
}
.maha-omnisearch-landing {
  flex: 1;
  display: flex;
  .maha-omnisearch-landing-message {
    margin: auto;
    text-align: center;
    padding: 20px;
    h2 {
      margin: 0 0 20px;
      font-size: 50px;
      i {
        color: fadeout(@black, 80);
      }
    }
    h3 {
      font-size: 22px;
      line-height: 28px;
      margin: 0;
      color: fadeout(@black, 80);
    }
  }
}
.maha-omnisearch-results {
  .scrollable();
  flex: 1;
}
.maha-omnisearch-section-header {
  border-bottom: 1px solid fadeout(@black, 95);
  text-transform: uppercase;
  color: fadeout(@black, 70);
  padding: 0.8em;
  background-color: lighten(@black, 95);
  position: relative;
  line-height: 1.5em;
  font-weight: bold;
}
.maha-omnisearch-section-header-link {
  position: absolute;
  line-height: 1.5em;
  right: 1em;
  top: ~"calc(50% - .75em)";
  color: @blue;
  cursor: pointer;
}
.maha-omnisearch-section-header-icon {
  .colorize(background-color);
  border-radius: 5px;
  color: @white;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background-color: @grey;
  float: left;
  margin-right: 1em;
  i {
    margin: auto;
  }
}
.maha-omnisearch-result {
  .hover(background-color, fadeout(@black, 99));
  border-bottom: 1px solid fadeout(@black, 95);
  background-color: @white;
  cursor: pointer;
  display: flex;
}
.maha-omnisearch-result-icon {
  flex: 0 0 3em;
  display: flex;
  i {
    margin: auto;
  }
  .fa {
    font-size: 1.4em;
  }
  .fa-search {
    font-size: 1em;
    background: #444;
    color: @white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    &:before {
      margin: auto;
    }
  }
}
.maha-omnisearch-result-image {
  flex: 0 0 3em;
  display: flex;
  & > img {
    margin: auto;
  }
  img {
    width: 2em;
    height: 2em;
    display: block;
    border-radius: 50%;
  }
  .maha-avatar,
  .maha-image {
    margin: auto;
    width: 2em;
    height: 2em;
  }
}
.maha-omnisearch-result-details {
  flex: 1;
  padding: 0.5em;
  color: #888;
  line-height: 2em;
}
.maha-omnisearch-result-proceed {
  display: flex;
  padding: 0.8em 0.8em 0.8em 0;
  font-size: 0.8em;
  margin: 0;
  .fa {
    color: fadeout(@black, 80);
    margin: auto !important;
    font-size: 1.2em;
    line-height: 1em;
  }

}
