.contact-token {
  display: flex;
}
.contact-token-avatar {
  padding: 0.4em;
  .maha-avatar {
    width: 2.2em;
  }
  .maha-avatar-wrapper {
    box-shadow: -1px 1px 1px fadeout(@black, 90);
  }
}
.contact-token-label {
  flex: 1;
  padding: 0.8em;
}
