.contact-token {
  display: flex;
  .colorizeItem(maha-avatar-wrapper, background-color);
}
.contact-token-avatar {
  padding: 0.4em 0 0.4em 0.8em;
  .contact-avatar-token {
    width: 2em;
  }
}
.contact-token-label {
  flex: 1;
  padding: 0.8em;
}
