.plan-token {
  flex: 1;
  display: flex;
  .plan-token-details {
    padding: 1em;
    flex: 1
  }
  .plan-token-badge {
    padding: 1em 1em 1em 0;
    display: flex;
  }
  .plan-token-status {
    margin: auto;
  }
}
