.crm-form-card,
.crm-workflow-card {
  .crm-workflow-actions {
    padding: 0;
  }
}
.crm-workflow-actions {
  padding: 0.8em;
  .crm-workflow-action:last-child {
    padding-bottom: 0;
    &:after {
      content: none;
    }
  }
}
.crm-workflow-action {
  display: flex;
  padding-bottom: 1em;
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid fadeout(@black, 85);
    transform: translate(~"calc(.8em + 1px)", 1.6em);
  }
}
.crm-workflow-action-icon {
  flex: 0 0 1.6em;
  display: flex;
}
.crm-workflow-action-action {
  margin: auto;
  border: 2px solid fadeout(@black, 80);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: flex;
  color: @white;
  z-index: 2;
  .fa {
    margin: auto;
    font-size: 0.9em;
  }
  &.trigger {
    background-color: @green;
  }
  &.voice,
  &.sms {
    background-color: @violet;
  }
  &.administrative {
    background-color: @pink;
  }
  &.control {
    background-color: @blue;
  }
  &.communication {
    background-color: @purple;
  }
  &.contact {
    background-color: @teal;
  }
  &.ending {
    background-color: @red;
  }
  &.action {
    background-color: @blue;
  }
  .fa-sitemap {
    font-size: 1em;
  }
}
.crm-workflow-action-label {
  background: @white;
  flex: 1;
  padding-left: 0.8em;
  font-size: 0.8em;
  line-height: 1.4em;
  color: @black;
  .link {
    display: inline;
  }
}
.crm-workflow-action-timestamp {
  color: fadeout(@black, 60);
}
