.crm-form-card,
.crm-workflow-card {
  .crm-workflow-actions {
    padding: 0;
  }
}
.crm-workflow-actions {
  padding: 1.6em;
}
.crm-workflow-action-connector {
  height: 1.4em;
  position: relative;
  overflow: hidden;
  &:before {
    content: ' ';
    border-left: 2px solid lighten(@black, 85);
    left: 1em;
    height: 1.4em;
    position: absolute;
  }
  &:after {
    content: ' ';
    border: 5px solid transparent;
    border-top-color: lighten(@black, 85);
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: ~"calc(1em - 4px)";
  }
}
.crm-workflow-action {
  display: flex;
  background-color: @white;
  overflow: hidden;
}
.crm-workflow-action-icon {
  flex: 0 0 2em;
  display: flex;
  padding: 0.2em;
  color: @white;
  .fa {
    margin: auto;
    font-size: 0.9em;
  }
  &.trigger {
    background-color: @green;
  }
  &.voice,
  &.sms {
    background-color: @violet;
  }
  &.administrative {
    background-color: @pink;
  }
  &.control {
    background-color: @blue;
  }
  &.communication {
    background-color: @purple;
  }
  &.contact {
    background-color: @teal;
  }
  &.ending {
    background-color: @red;
  }
  &.action {
    background-color: @blue;
  }
}
.crm-workflow-action-label {
  border: 1px solid lighten(@black, 85);
  border-left: none;
  background: @white;
  flex: 1;
  padding: 0.6em 0.8em;
  font-size: 0.8em;
  line-height: 1.4em;
  color: @black;
  .link {
    display: inline;
  }
}
.crm-workflow-action-timestamp {
  color: fadeout(@black, 60);
}
