.assignmentfield {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  background: @white;
  padding: 0.2em;
  min-height: 2.5em;
  &:focus {
    outline: none !important;
    border-color: #85B7D9;
    border-radius: .28571429rem;
    background: #FFF;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
}
.assignmentfield-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
}
