.templatefield-templates {
  padding: 0.4em;
}
.templatefield-template {
  text-align: center;
  margin: 0.4em;
  float: left;
  cursor: pointer;
}
.templatefield-template-preview {
  img {
    width: 100%;
  }
}
.templatefield-template-label {
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.8em;
}
@media (max-width: 768px) {
  .templatefield-template {
    width: ~"calc(100% / 2 - 0.8em)";
  }
}
@media (min-width: 769px) {
  .templatefield-template {
    width: ~"calc(100% / 4 - 0.8em)";
  }
}
