.maha-shortlink {
  padding: 0.6em 0.8em 0.6em 0;
  preventDeselect: true;
  cursor: pointer;
  display: flex;
  flex: 1;
  &:hover .fa {
    color: @red;
  }
  .fa {
    font-size: 1.2em;
    line-height: 1em;
    margin: 0 auto;
    color: fadeout(@black, 80);
  }
}
