.crm-criteria {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  display: flex;
  background: @white;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
}
