.maha-video-image {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.maha-video-frame {
  overflow: hidden;
}
.maha-video-player {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
