.maha-form-segment {
  .maha-smsfield {
    margin-top: 1em;
  }
}
.maha-smsfield {
  position: relative;
  textarea {
    box-sizing: border-box;
    border: none;
    width: 100%;
  }
}
.maha-smsfield-segments {
  position: absolute;
  right: 0;
  top: -2em;
  color: fadeout(@black, 50);
  font-size: 0.8em;
  &.max {
    color: @red;
  }
}
.maha-smsfield-editor {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
}
.maha-smsfield-editor-textarea {
  flex: 1;
  textarea {
    border: none !important;
    outline: none !important;
    resize: none !important;
  }
}
