.maha-attachments {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-attachments-sources {
  .scrollable();
  flex: 1;
}
.maha-attachments-source {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid fadeout(@black, 95);
  .hover(background-color, fadeout(@black, 97));
}
.maha-attachments-source-logo {
  flex: 0 0 3em;
  display: flex;
  position: relative;
  & > .fa, & > img {
    margin: auto;
  }
  .fa {
    font-size: 1.8em;
  }
  .fa-globe {
    color: @green;
  }
  .fa-plus-circle {
    color: @red;
  }
  & > img {
    width: 1.6em;
    height: 1.6em;
    display: block;
  }
}
.maha-attachments-source-favicon {
  margin: auto;
  border-radius: 0.3em;
  overflow: hidden;
  width: 1.6em;
  height: 1.6em;
  display: block;
  img {
    width: 100%;
  }
}
.maha-attachments-source-text {
  flex: 1;
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 40);
  strong {
    color: @black;
  }
}
.maha-attachments-source-count {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
}
.maha-attachments-source-count-badge {
  margin: auto;
  background-color: fadeout(@black, 90);
  color: fadeout(@black, 70);
  display: block;
  border-radius: 50%;
  text-align: center;
  font-size: .8em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  font-weight: bold;
}
.maha-attachments-source-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  i {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-attachments-main {
  flex: 1;
  display: flex;
}
.maha-attachments-photos {
  padding: 0.2em;
  overflow: hidden;
}
.maha-attachments-photo {
  position: relative;
  float: left;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  overflow: hidden;
  margin: 0.2em;
  display: flex;
  @media (max-width: 768px) {
    width: ~"calc(100% / 3 - 0.4em)";
    padding-bottom: ~"calc(100% / 3 - 0.4em)";
  }
  @media (min-width: 769px) {
    width: ~"calc(100% / 5 - 0.4em)";
    padding-bottom: ~"calc(100% / 5 - 0.4em)";
  }
  .maha-attachments-photo-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
  }
  i {
    margin: auto;
    font-size: 2em;
    background-color: fadeout(@black, 97);
    color: @white;
  }
}
.maha-attachments-new {
  display: flex;
  flex-wrap: wrap;
}
.maha-attachments-new-source {
  flex: 1 0 50%;
  padding: 0.8em;
  text-align: center;
  img {
    width: 5em;
    display: inline-block;
  }
}
.maha-attachments-footer {
  border-top: 1px solid fadeout(@black, 95);
  padding: 0.8em;
  background-color: @yellow;
  color: @white;
  text-align: center;
  cursor: pointer;
}
.maha-attachments-review-panel {
  background-color: @white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
}
.maha-attachments-review {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.maha-attachments-review-header {
  border-top: 1px solid fadeout(@black, 95);
  padding: 0.8em;
  background-color: @yellow;
  color: @white;
  text-align: center;
  cursor: pointer;
}
.maha-attachments-review-body {
  flex: 1;
  .scrollable();
}
.maha-attachments-review-item {
  border-bottom: 1px solid fadeout(@black, 95);
  display: flex;
}
.maha-attachments-review-item-preview {
  padding: 0.8em 0 0.8em 0.8em;
}
.maha-attachments-review-item-icon {
  display: flex;
  .fa {
    margin: auto;
    font-size: 2.2em;
  }
}
.maha-attachments-review-item-image {
  display: block;
  position: relative;
  width: 2.4em;
  height: 2.4em;
  & > div {
    border-radius: 0.5em;
    position: absolute;
    display:flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: fadeout(@white, 90);
  }
  img {
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.2em;
    position: absolute;
    bottom: -0.2em;
    right: -0.2em;
  }
}
.maha-attachments-review-item-label {
  padding: 0.8em;
  flex: 1;
  .ui.progress {
    margin: 0.5em 0 0 !important;
  }
  .bar {
    width: 100% !important;
  }
}
.maha-attachments-review-item-progress {
  border: 1px solid fadeout(@black, 90);
  overflow: hidden;
  display: block;
  z-index: 1;
  height: 0.5em;
  border-radius: 0.25em;
  background-image:
    repeating-linear-gradient(
      -45deg,
      fadeout(@blue, 60),
      fadeout(@blue, 60) 11px,
      @white 10px,
      @white 20px
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
  transition: width .3s;
  opacity: .6;
  margin: 0.5em 0 0;
}
.maha-attachments-review-item-name {
  max-width: ~"calc(100vw - 8em)";
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.maha-attachments-review-item-remove {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    cursor: pointer;
    height: auto;
    margin: auto;
    color: fadeout(@black, 60);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
