.maha-htmlfield {
  flex: 1;
  background-color: @white;
  .ql-editor {
    font-size: 16px;
    p, li {
      line-height: 1.5;
    }
    li {
      padding-left: 0 !important;
    }
    p {
      margin-bottom: 0;
    }
  }
}
