.drive-move {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.drive-move-body {
  flex: 1;
  display: flex;
  .reframe-stack {
    flex: 1;
    position: relative;
  }
}
.drive-move-footer {
  padding: 0.8em;
  border-top: 1px solid fadeout(@black, 95);
  background-color: fadeout(@black, 97);
}
