.crm-email-preview {
  background-color: fadeout(@black, 25);
  width: 100%;
  position: relative;
  margin: auto;
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0.8em;
  height: ~"calc(360px + 1.6em);";
  .maha-image {
    background: none;
    height: 100%;
  }
  img {
    position: absolute;
    .translateX(-50%);
    display: block;
    margin: auto;
    left: 50%;
    width: auto !important;
    height: 100%;
  }
}
