.email-designer-layout {
  flex: 1;
}
.email-designer-layout-section {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.email-designer-layout-section-handle {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  cursor: grab;
  .fa {
    font-size: 1.2em;
    margin: auto;
    color: fadeout(@black, 60);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.email-designer-layout-section-label {
  flex: 1;
  padding: 0.8em;
}
.email-designer-layout-section-action {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin: auto;
    color: fadeout(@black, 60);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.email-designer-layout-section-add {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.email-designer-layout-section-add-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
}
.email-designer-layout-section-add-label {
  padding: 0.8em;
  flex: 1;
}
