.responsibilities-responsibility {
  margin-bottom: 0.8em;
}
.responsibilities-responsibility-label {
  position: relative;
  margin-bottom: 0.8em;
}
.responsibilities-responsibility-remove {
  position: absolute;
  top: 0;
  right: 0;
  color: @blue;
  text-decoration: underline;
}
