.team-token {
  display: flex;
}
.team-token-logo {
  padding: 0.8em;
  .maha-logo {
    width: 2.3em;
  }
}
.team-token-label {
  padding: 0.8em 0.8em 0.8em 0;
  line-height: 2.3em;
}
span.red { color: @red; }
