.maha-phone-programs {
  background-color: @white;
  flex: 1;
  display: flex;
  position: relative;
}
.maha-phone-programs-header {
  flex: 1;
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-phone-programs-header-token {
  flex: 1;
}
.maha-phone-programs-header-icon {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
  }
}
.maha-phone-programs-chooser {
  background-color: @white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.maha-phone-programs-chooser-item {
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-phone-program {
  flex: 1;
  display: flex;
  cursor: pointer;
}
.maha-phone-program-logo {
  padding: 0.8em 0 0.8em 0.8em;
  .maha-logo {
    width: 2.6em;
  }
}
.maha-phone-program-label {
  flex: 1;
  padding: 0.8em;
  span {
    color:  fadeout(@black, 60);
  }
}
