.paymentmethodfield-methods {
  border: 1px solid fadeout(@black, 90);
  .paymentmethodfield-method:last-child {
    border-bottom: none;
  }
}
.paymentmethodfield-method {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.paymentmethodfield-method-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    font-size: 1.2em;
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.paymentmethodfield-method-mark {
  padding: 0.4em 0 0.4em 0.8em;
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 25px;
    display: block;
  }
}
.paymentmethodfield-method-label {
  flex: 1;
  padding: 0.8em;
  display: flex;
  align-items: center;
}
