.phonesfield {
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: none;
    .phonesfield-number:first-child {
      outline: none !important;
      border-color: @lightblue;
      background: @white;
      box-shadow: none;
    }
  }
}
.phonesfield-number {
  display: flex;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  margin-bottom: 0.4em;
}
.phonesfield-number-field {
  flex: 1;
  .maha-input {
    border: none;
  }
}
.phonesfield-number-action {
  padding: 0.4em 0.4em 0.4em 0;
  display: flex;
  .ui.button {
    padding: 0.7em;
    margin: 0;
  }
  .fa-times {
    color: fadeout(@black, 80);
    font-size: 1.2em;
    margin: auto;
    cursor: pointer;
    &:hover {
      color: fadeout(@black, 20);
    }
  }
}
