@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;

html, body {
  height: auto;
  background: none;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.maha-form-layout {
  flex: 1;
  display: flex;
}
.maha-form-layout-image {
  background-size: cover;
  position: relative;
}
.maha-form-layout-image-caption {
  position: absolute;
  max-width: 340px;
  left: 0.8em;
  bottom: 0.8em;
  padding: 0.8em;
  h1,h2,p {
    margin: 0;
  }
  a {
    text-decoration: underline;
  }
}
.maha-form-layout-content {
  flex: 1;
  order: 1;
}
.maha-form {
  width: 100%;
  margin: 0 auto;
  max-width: 770px;
  h1, h2, p {
    margin: 0;
    line-height: 1.5 !important;
  }
}
.maha-form-header {
  display: flex;
  flex-direction: column;
}
.maha-form-header-image {
  img {
    display: block;
    width: 100%;
  }
}
.maha-form-header-text {
  padding: 0.8em;
  p:last-child {
    margin: 0 !important;
  }
}
.maha-form-body {
  padding: 0;
  .ui.form {
    .field {
      padding: 0.6em 0.8em;
      margin: 0 !important;
    }
    .field label {
      margin: 0 !important;
    }
  }
}
.maha-form-captcha {
  padding: 0.8em;
  min-height: 100px;
}
.maha-form-submit {
  padding: 0.8em;
  .ui.button {
    color: @white !important;
  }
}
.maha-form-confirmation {
  padding: 0.8em;
}
.maha-form-closed {
  padding: 0.8em;
}

div:not(.maha-form-layout.embedded) {
  .maha-form-layout-content {
    .scrollable();
  }
}
div.maha-form-layout.embedded .maha-form {
  border: none;
}
div.maha-form-layout:not(.embedded) {
  .maha-form-layout-content {
    .scrollable();
  }
}
@media (max-width: 768px) {
  .maha-form-layout-image {
    display: none;
  }
}
@media (min-width: 769px) {
  .maha-form-layout-content {
    min-width: 400px;
  }
  .maha-form-layout {
    &.covered {
      .maha-form-layout-content {
        display: flex;
      }
      .maha-form {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-width: 100%;
      }
      .maha-form-body {
        flex: 1;
        .scrollable()
      }
    }
  }
}
@import '@core/client/style.less';
@import './components/form/summary/style.less';
@import './components/form/fields/productfield/style.less';
