global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     2048
    user        haproxy
    group       haproxy
    daemon
    tune.ssl.default-dh-param 2048

defaults
    log                     global
    retries                 3
    option httplog
    option http-server-close
    option http-pretend-keepalive
    option dontlognull
    option forwardfor
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout tunnel          3600s
    timeout http-keep-alive 10s
    timeout http-request    60s
    timeout queue           1m
    timeout check           10s
    maxconn                 5196

frontend http
    mode http
    bind 0.0.0.0:80
    reqadd X-Forwarded-Proto:\ http
    capture request header origin len 128
    http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found }
    rspadd Access-Control-Allow-Headers:\ Origin,\ X-Requested-With,\ Content-Type,\ Accept  if { capture.req.hdr(0) -m found }
    default_backend app

frontend https
    mode http
    bind 0.0.0.0:443 ssl crt /etc/pki/tls/private/mahaplatform.com.pem
    reqadd X-Forwarded-Proto:\ https
    capture request header origin len 128
    http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)] if { capture.req.hdr(0) -m found }
    rspadd Access-Control-Allow-Headers:\ Origin,\ X-Requested-With,\ Content-Type,\ Accept  if { capture.req.hdr(0) -m found }
    default_backend app
    stats enable
    stats uri /haproxy
    stats realm Haproxy\ Statistics
    stats auth mahaplatform:maha

frontend websocket
    mode http
    bind 0.0.0.0:444 ssl crt /etc/pki/tls/private/mahaplatform.com.pem
    reqadd X-Forwarded-Proto:\ https
    default_backend websocket

backend app
    mode http
    option httpchk HEAD /ping HTTP/1.0\r\nUser-agent:\ MAHA-HealthChecker/1.0
    balance roundrobin
    cookie SERVERID insert indirect nocache
    server s1 54.174.210.8:80 check inter 30000 cookie s1
    server s2 54.205.150.47:80 check inter 30000 cookie s2

backend websocket
    mode http
    balance roundrobin
    cookie SERVERID insert indirect nocache
    server s1 54.174.210.8:81 cookie s1
    server s2 54.205.150.47:81 cookie s2
