.maha-phone-button-container {
  margin: 0 auto;
}
.maha-phone-button {
  display: flex;
  background-color: fadeout(@black, 70);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:active {
    transform: scale(0.95, 0.95);
  }
  &:not(.disabled) {
    &:hover {
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: fadeout(@white, 90);
      }
    }
  }
  .fa {
    margin: auto;
    color: @white;
    font-size: 1.6em;
  }
  .fa-mobile {
    font-size: 2em;
  }
  &.disabled {
    cursor: default;
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: fadeout(@white, 50);
    }
    &:active {
      transform: none;
    }
  }
  &.depressed {
    background-color: @blue;
  }
  &.call,
  &.pickup {
    background-color: @green;
  }
  &.hangup {
    background-color: @red;
    .fa {
      transform: rotate(135deg);
      color: @white;
    }
  }
}
.maha-phone-button-label {
  text-align: center;
  font-size: 0.8em;
}
