.maha-select {
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  position:relative;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
  .maha-select-option:last-child {
    border-bottom: none;
  }
}
.maha-select-deselect {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}
.maha-select-option {
  display: flex;
  cursor: pointer;
  &.selected {
    i {
      color: @blue;
    }
  }
  &:hover {
    background-color: fadeout(@black, 97);
  }
  strong {
    color: @black;
  }
}
.maha-select-option-icon {
  display: flex;
  padding: 0.2em 0 0.2em 0.4em;
  i {
    color: fadeout(@black, 80);
    margin: auto;
    font-size: 1.2em;
  }
}
.maha-select-option-label {
  display: flex;
  flex: 1;
  line-height: 1.6em;
  color: fadeout(@black, 40);
  .token {
    padding: 0.2em 0.8em;
    flex: 1;
  }
}
.maha-select-option-empty {
  flex: 1;
  line-height: 1.6em;
  color: fadeout(@black, 40);
  padding: 0.2em 0.8em;
}
