.crm-status-token {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  display: block;
  text-align: center;
  color: @white;
  font-size: 0.8em;
  margin: 0;
  padding: 4px;
  text-transform: uppercase;
  width: 7.5em;
  &.draft { background-color: @grey; }
  &.scheduled { background-color: @teal; }
  &.sent { background-color: @green; }
  &.active { background-color: @green; }
  &.inactive { background-color: @green; }

}
