.organizer-token {
  display: flex;
  .colorizeItem(maha-avatar-wrapper, background-color);
}
.organizer-token-avatar {
  padding: 0.4em 0 0.4em 0.8em;
  display: flex;
  .organizer-avatar-token {
    margin: auto;
    width: 2em;
  }
}
.organizer-token-label {
  flex: 1;
  padding: 0.8em;
}
