.imagesfield {
  margin: -0.8em;
}
.imagesfield-image {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.imagesfield-image-image {
  padding: 0.8em 0 0.8em 0.8em;
}
.imagesfield-image-details {
  padding: 0.8em;
  flex: 1;
}
