@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;
@android: #A4C639;
@paypal: #0079C1;

.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body {
  height: auto;
  background: none;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.maha-form-layout {
  flex: 1;
  display: flex;
}
.maha-form-layout-image {
  background-size: cover;
}
.maha-form-layout-content {
  flex: 1;
  order: 1;
}
.maha-form {
  width: 100%;
  margin: 0 auto;
  max-width: 770px;
  h1, h2, p {
    margin: 0;
  }
}
.maha-form-header-image {
  img {
    display: block;
    width: 100%;
  }
}
.maha-form-header-text {
  padding: 0.8em;
  p:last-child {
    margin: 0 !important;
  }
}
.maha-form-body {
  padding: 0;
  .ui.form {
    .field {
      padding: 0.6em 0.8em;
      margin: 0 !important;
    }
    .field label {
      margin: 0 !important;
    }
  }
}
.maha-form-captcha {
  padding: 0.8em;
}
.maha-form-submit {
  padding: 0.8em;
  .ui.button {
    color: @white !important;
  }
}
.maha-form-confirmation {
  padding: 0.8em;
}
.maha-form-closed {
  padding: 0.8em;
}
.maha-form-footer-text {
  padding: 0.8em;
}

@media (max-width: 768px) {
  .maha-form-layout-image {
    display: none;
  }
  .maha-form-layout-content {
    .scrollable();
  }
}
@media (min-width: 769px) {
  .maha-form-layout-content {
    min-width: 400px;
    .scrollable();
  }
  .maha-form-layout {
    &.covered {
      .maha-form-layout-content {
        display: flex;
      }
      .maha-form {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .maha-form-body,
      .maha-form-confirmation,
      .maha-form-closed,
      .maha-payment {
        flex: 1;
        .scrollable()
      }
    }
  }
}

@import './components/form/style.less';
