@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;
@android: #A4C639;
@paypal: #0079C1;

html, body {
  height: auto;
  background: none;
}

.maha-form {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}
.maha-form-header-image {
  img {
    display: block;
    width: 100%;
  }
}
.maha-form-body {
  padding: 0;
  .ui.form {
    .field {
      padding: 0.8em;
      margin: 0 !important;
    }
    .field label {
      margin: 0 !important;
    }
    .ui.button {
      color: @white !important;
    }
  }
}
.maha-form-captcha {
  padding: 0.8em;
}
.maha-form-submit {
  padding: 0 0.8em 0.8em;
}
.maha-form-closed {
  padding: 0.8em;
}
.maha-form-footer-text {
  padding: 0.8em;
}

@import './components/form/style.less';
