.registration-step1 {
  h1, h2 {
    line-height: 1em;
    margin-bottom: 0.4em;
  }
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.2em;
  }
  p {
    line-height: 1.6em;
    color: fadeout(@black, 40);
  }
}
.registration-step1-sessions {
  border: 1px solid fadeout(@black, 90);
  margin-bottom: 1.4em;
  .registration-step1-session:last-child {
    border-bottom: none;
  }
}
.registration-step1-session {
  border-bottom: 1px solid fadeout(@black, 90);
}

.registration-step1-organizers {
  border: 1px solid fadeout(@black, 90);
  margin-bottom: 1.4em;
  .registration-step1-organizer:last-child {
    border-bottom: none;
  }
}
.registration-step1-organizer {
  border-bottom: 1px solid fadeout(@black, 90);
}

.registration-step1-tickettypes {
  border: 1px solid fadeout(@black, 90);
  margin-bottom: 0.8em;
  .registration-step1-tickettype:last-child {
    border-bottom: none;
  }
}
.registration-step1-tickettype {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.registration-step1-tickettype-token {
  flex: 1;
  display: flex;
  & > div {
    margin: auto 0;
  }
}
.registration-step1-tickettype-config {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
}
.registration-step1-tickettype-config-item {
  padding: 0.2em;
  display: flex;
  & > div {
    margin-left: auto;
  }
}
.registration-step1-tickettype-config-soldout {
  background-color: @red;
  margin: auto 0.8em auto 0;
  color: @white;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  white-space: nowrap;
  border-radius: 0.3em;
}
.registration-step1-tickettype-empty {
  padding: 0.8em;
  color: @red;
}
