@import './overrides.less';

@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;

div.dropzone {
  &.hover {
    border-color: @teal;
    position: relative;
    &:after {
      position: absolute;
      padding: 5px;
      font-size: 10px;
      bottom: 0;
      left: 0;
      transform: translate(-2px, 100%);
      background-color: @teal;
      text-transform: uppercase;
      color: white;
      content: attr(data-label);
    }
  }
  td.first {
    text-align: center;
  }
}
div.dropzone-target {
  border: 2px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  color:  fadeout(@black, 90);
  padding: 5px 0;
}
div.dropzone-marker {
  background-color: blue;
  height: 1px;
}
div.block {
  position: relative;
  cursor: pointer;
  min-height: 30px;
  &.active .block-highlight {
    display: block;
  }
  &:hover .block-highlight {
    display: block;
  }
  &:hover .block-actions {
    display: flex;
  }
}
div.block-highlight {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 2px solid @teal;
}
div.block-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: @teal;
}
div.block-action {
  font-size: 16px;
  padding: 3px 8px;
  line-height: 24px;
  .fa {
    color: fadeout(@white, 30);
  }
  &:hover {
    background-color: fadeout(@black, 85);
    .fa {
      color: @white;
    }
  }
}
div.divider {
  height: 0;
}
