@media only screen and (max-width: 596px) {
  table.body .container {
    width: 100%!important;
  }
}
table.container {
  margin: 0 0 auto;
  Margin: 0 0 auto;
}
table.body > tbody > tr > td.float-center {
  padding: 10px;
}
td.columns,
td.column,
th.columns,
th.column {
  padding-bottom: 0;
}
body,
table.body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
th,
a {
  line-height: 1.5;
}
table.button table td {
  background-color: #BBBBBB;
  color: #666666;
  border: none;
}
h1,
h2,
h3,
h4,
p {
  word-wrap: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px;
}
table.section {
  width: 100%;
}
table.block {
  width: 100%;
}
table.placeholder {
  width: 100%;
}
table.social {
  width: auto !important;
}
table.social table {
  width: auto !important;
}
td.social-service {
  padding: 5px;
}
td.social-service td {
  padding: 5px;
}
table.placeholder td {
  background-color: #EEE;
  height: 300px;
}
