.maha-dashboard-body.expanded {
  .full {
    display: flex;
    flex: 1;
  }
  .hidden {
    display: none;
  }
}
.maha-dashboard-body:not(.expanded) {
  .maha-dashboard-panel-body {
    flex-wrap: wrap;
  }
}
.maha-dashboard-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  &.six .one {
    flex: 0 0 ~"calc(100% / 6)";
  }
  &.five .one {
    flex: 0 0 ~"calc(100% / 5)";
  }
  &.four .one {
    flex: 0 0 ~"calc(100% / 4)";
  }
  &.three .one {
    flex: 0 0 ~"calc(100% / 3)";
  }
  &.two .one {
    flex: 0 0 ~"calc(100% / 2)";
  }
  &.one .one {
    flex: 0 0 100%;
  }
}
.maha-dashboard-panel-header {
  border: 1px solid fadeout(@black, 90);
  border-radius: 5px;
  background-color: @white;
  margin: 0 0.8em;
  display: flex;
  overflow: hidden;
}
.maha-dashboard-panel-header-toggle {
  border-right: 1px solid fadeout(@black, 90);
  color: fadeout(@black, 80);
  cursor: pointer;
  padding: 0.8em;
  &:hover {
    color: fadeout(@black, 60);
  }
}
.maha-dashboard-panel-header-title {
  flex: 1;
  padding: 0.8em;
}
.maha-dashboard-panel-header-action {
  flex: 0 0 2.6em;
  border-left: 1px solid fadeout(@black, 90);
  color: fadeout(@black, 80);
  cursor: pointer;
  padding: 0.8em;
  display: flex;
  &.active {
    background-color: @blue;
    color: @white !important;
  }
  &:hover {
    color: fadeout(@black, 60);
  }
  .fa {
    margin: auto;
  }
}
.maha-dashboard-panel-body {
  flex: 1;
  display: flex;
  padding: 0.4em;
}
.maha-dashboard-panel-item {
  padding: 0.4em;
}
.maha-dashboard-panel-add {
  border: 3px dashed fadeout(@black, 90);
  border-radius: 0.2em;
  height: 0;
  padding-bottom: 125%;
  position: relative;

}
.maha-dashboard-panel-add-inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-dashboard-panel-add-content {
  text-align: center;
  margin: auto;
  color: fadeout(@black, 60);
  font-size: 2em;
  .fa {
    display: block;
    font-size: 2em;
    line-height: 1.6em;
  }
}
