.datasets-manager {
  background-color: @white;
  display: flex;
  flex: 1
}
.datasets-manager-sidebar {
  border-right: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  position: relative;
  flex: 0 0 300px;
  display: flex;
  .maha-modal-panel-header {
    background-color: @grey !important;
  }
}
.datasets-manager-main {
  display: flex;
  flex: 1
}
