.datasets-manager {
  background-color: @white;
  display: flex;
  flex: 1
}
.datasets-manager-sidebar {
  display: flex;
  flex: 0 0 300px;
  border-right: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
}
.datasets-manager-main {
  display: flex;
  flex: 1
}
