.datasets-manager {
  background-color: @white;
  display: flex;
  flex: 1
}
.datasets-manager-sidebar {
  border-right: 1px solid fadeout(@black, 90);
  position: relative;
  flex: ~"0 0 calc(100vh / 3)";
  max-width: 300px;
  display: flex;
  .maha-modal-panel-header {
    background-color: @grey !important;
  }
  .maha-finder-item-icon {
    .fa {
      color: @blue;
    }
  }
}
.datasets-manager-main {
  background-color: lighten(@black, 90);
  display: flex;
  flex: 1;
  .maha-collection-header {
    background-color: @grey !important;
    padding: 0.6em;
  }
  .maha-collection-header-bar > div {
    border-right-color: @grey;
  }
  .maha-collection-table-header {
    background-color: fadeout(@black, 97);
  }
}
.datasets-manager-container {
  .scrollable();
  flex: 1;
}
.datasets-manager-panel {
  max-width: 800px;
  padding: 0.8em;
  margin: 0 auto;
  width: 100%;
}
