.maha-phone-call-header {
  display: flex;
}
.maha-phone-call-header-link {
  display: flex;
  .fa {
    font-size: 1.6em;
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-phone-call-header-program,
.maha-phone-call-header-contact {
  flex: 1;
  text-align: center;
  .maha-avatar,
  .maha-logo,
  .contact-avatar-token {
    width: 4em;
    margin: 1em auto;
  }
  .maha-avatar-text {
    font-size: 2em;
  }
  h4, p {
    text-align: center;
    margin: 0;
  }
  p {
    color: fadeout(@black, 60);
  }
}
