.crm-imagefield-preview {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
}
.crm-imagefield-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  line-height: 1em;
  img {
    display: block;
  }
  .fa {
    cursor: pointer;
    color: @white;
  }
}
