.crm-imagefield-preview {
  position: relative;
  display: inline-block;
  background-color: fadeout(@black, 80);
  img {
    display: block;
  }
}
.crm-imagefield-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8em;
  line-height: 1em;
  .fa {
    cursor: pointer;
    color: @white;
  }
}
