.maha-payment-methods {
  margin-bottom: 1.6em;
}
.maha-payment-methods-options {
  display: inline-flex;
}
.maha-payment-methods-option {
  flex: 1;
  margin-right: 0.4em;
  border: 1px solid fadeout(@black, 80);
  border-radius: 0.2em;
  cursor: pointer;
  display: flex;
  width: 80px;
  &:hover {
    background-color: fadeout(@blue, 90);
  }
  img {
    width: 100%;
    display: block;
  }
}
.maha-payment-methods-option-icon {
  padding: 0.3em;
  display: flex;
  .fa {
    margin: auto;
  }
  .fa-circle-o {
    color: fadeout(@black, 80);
  }
  .fa-check-circle {
    color: @blue;
  }
}
.maha-payment-methods-option-label {
  padding: 0.3em;
}
