.maha-payment-options {
  margin-bottom: 0.8em;
}
@media (min-width: 769px) {
  .maha-payment-options {
    display: flex;
    .maha-payment-option:last-child {
      padding-right: 0;
    }
  }
  .maha-payment-option {
    flex: 1;
    padding-right: 0.8em;
  }
}
@media (max-width: 768px) {
  .maha-payment-option {
    margin-bottom: 0.8em;
  }
}
.maha-payment-button {
  background-color: fadeout(@black, 90);
  border-right: 1px solid @white;
  border-radius: 0.28em;
  color: fadeout(@black, 40);
  padding: 0.8em;
  cursor: pointer;
  position: relative;
  text-align: center;
  &.card {
    background-color: @red;
    color: @white;
  }
  &.ach {
    background-color: @violet;
    color: @white;
  }
  &:hover:after {
    content: ' ';
    background-color: fadeout(@white, 80);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
