@black: #000000;

.maha-image-block {
  &:hover {
    cursor: pointer;
    background-color: fadeout(@black, 95);
    border-radius: 0.5rem;
  }
}
.maha-image-block-image {
  &.rounded {
    overflow: hidden;
    border-radius: 50%;
  }
}
