.contact-avatar-token {
  .colorizeItem(maha-avatar-wrapper, background-color);
  display: block;
  .maha-avatar {
    width: 100%;
  }
  .maha-avatar-wrapper {
    box-shadow: -1px 1px 1px fadeout(@black, 90);
  }
}
