.maha-asset-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
  &.audio {
    min-height: 56px;
  }
  &.video {
    min-height: 240px;
  }
}
.maha-asset-viewer-header {
  border-bottom: 1px solid fadeout(@black, 95);
}
.maha-asset-viewer-body {
  position: relative;
  flex: 1;
  display: flex;
  .maha-message-panel p {
    color: #FFFFFF;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.maha-search-result-icon,
.maha-asset-icon {
  .fa-file-pdf-o { color: @red; }
  .fa-file-word-o { color: @blue; }
  .fa-file-excel-o { color: @green; }
  .fa-file-powerpoint-o { color: @orange; }
  .fa-file-image-o { color: @purple; }
  .fa-file-audio-o { color: @teal; }
  .fa-play-circle { color: @red; }
  .fa-file-text-o { color: @black; }
  .fa-file-text { color: @blue; }
  .fa-map-o { color: @red; }
  .fa-file-video-o { color: @red; }
}

.maha-asset-token {
  width: 100%;
  background-color: @white;
  &.link {
    cursor: pointer;
    .hover(background-color, fadeout(@black, 97));
  }
}
.maha-asset-token-details {
  display: flex;
  &.pdf {
    i { color: @red; }
    .maha-asset-token-download { background-color: @red; }
  }
  &.xls {
    i { color: @green; }
    .maha-asset-token-download { background-color: @green; }
  }
  &.doc {
    i { color: @blue; }
    .maha-asset-token-download { background-color: @blue; }
  }
  &.ppt {
    i { color: @orange; }
    .maha-asset-token-download { background-color: @orange; }
  }
  &.jpg, &.gif, &.png {
    i { color: @purple; }
    .maha-asset-token-download { background-color: @purple; }
  }
}
.maha-asset-token-icon {
  position: relative;
  flex: 0 0 3em;
  padding: 0.8em 0.6em;
  display: flex;
  .maha-asset-icon {
    margin: 0 auto;
  }
  i {
    font-size: 3em;
  }
}
.maha-asset-token-badge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 40px;
  right: 10px;
  border: 2px solid @white;
  border-radius: 50%;
  line-height: 0;
  img {
    width: 100%;
  }
}
.maha-asset-token-text {
  flex: 1;
  padding: 0.8em 0.8em 0.8em 0;
  font-size: 0.8em;
  line-height: 1.4em;
}
.maha-asset-token-filename {
  color: @black;
  font-weight: bold;
}
.maha-asset-token-filesize {
  color: fadeout(@black, 60);
  float: left;
}
.maha-asset-token-links {
  clear: both;
  span {
    margin: 0 5px;
  }
}
.maha-asset-token-link {
  .hover(text-decoration, underline);
  cursor: pointer;
  display: inline-block;
  color: @blue;
}
.maha-asset-token-preview {
  background-color: fadeout(@black, 80);
  padding: 0.8em;
}
.maha-asset-token-preview-frame {
  width: 100%;
  max-width: 350px;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  img {
    width: 100%;
  }
}

.maha-asset-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-asset-preview-main {
  border-right: 1px solid fadeout(@black, 90);
  display: flex;
  flex: 1;
}
.maha-asset-preview-sidebar {
  flex: 0 0 350px;
  display: flex;
}
.maha-asset-info {
  background-color: lighten(@black, 98);
  flex: 1;
  display: flex;
  flex-direction: column;
  .maha-comments {
    flex: 1;
  }
}
.maha-asset-info-header {
  background-color: @white;
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  .maha-asset-token {
    flex: 1;
    overflow: hidden;
  }
}
.maha-asset-preview-body {
  flex: 1;
  display: flex;
}
.maha-asset-thumbnail {
  .maha-image {
    overflow: hidden;
    border-radius: 4px;
  }
}

.maha-asset-info-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  .maha-comments {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .maha-comments-body {
    flex: 1;
    .scrollable();
  }
}
.maha-asset-thumbnail {
  .maha-image {
    overflow: hidden;
    border-radius: 4px;
  }
}
