.maha-numberfield {
  display: flex;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  overflow: hidden;
  .maha-input {
    flex: 1;
    border-radius: 0;
    border: none;
  }
}
.maha-numberfield-units {
  border-left: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  color: fadeout(@black, 70);
  line-height: 2.8em;
  padding: 0 0.4em;
}
