.maha-phone-contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-contacts-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-phone-contacts-body {
  flex: 1;
  display: flex;
}
.maha-phone-contacts-result {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-phone-contacts-result-token {
  flex: 1;
}
.maha-phone-contacts-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
