.maha-phone-contacts-result-token {
  flex: 1;
}
.maha-phone-contacts-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
.maha-phone-contact {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.maha-phone-contact-header {
  text-align: center;
  .contact-avatar-token {
    width: 8em;
    margin: 1.6em auto;
  }
  .maha-avatar-text {
    font-size: 3em;
  }
  h2 {
    margin: 0;
  }
  p {
    color: fadeout(@black, 60);
    margin: 0;
  }
}
.maha-phone-contact-title {
  padding: 0.2em 0.8em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: fadeout(@black, 70);
  color: @white;
}
.maha-phone-contact-body {
  border-top: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  flex: 1;
  .scrollable();
}
.maha-phone-contact-activity {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: @white;
  display: flex;
  &.call .fa {
    background-color: @violet;
  }
  &.email .fa {
    background-color: @pink;
  }
  &.sms .fa {
    background-color: @teal;
  }
}
.maha-phone-contact-activity-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    font-size: 0.8em;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: @white;
    margin: auto;
    border-radius: 50%;
  }
}
.maha-phone-contact-activity-label {
  padding: 0.8em;
  span {
    color: fadeout(@black, 60);
  }
}
