.import-mapping {
  flex: 1;
  display: flex;
  flex-direction: column;
  .import-mapping-warning {
    padding: 0.8em;
    text-align: center;
    font-weight: bold;
  }
  .reframe-table {
    flex: 1;
    position: relative;
    .scrollable()
  }
}
