@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@grey: #767676;
@white: #FFFFFF;
@lightgrey: #DDD;
@mediumgrey: #AAA;
@darkgrey: #444444;

@primary_background_color: @black;
@primary_color: @white;

@avatar_background_color: @darkgrey;
@avatar_color: @white;

@splash_background_color: @black;
@splash_color: @white;

@info_color: @blue;
@warning_color: @orange;
@success_color: @green;
@error_color: @red;

@primary_background_color: @black;
@primary_color: @white;

@splash_background_color: @black;
@splash_color: @white;

@info_color: @blue;
@warning_color: @orange;
@success_color: @green;
@error_color: @red;

@import './chat/admin/components/channel_token/style.less';
@import './chat/admin/components/channel/style.less';
@import './chat/admin/components/channels/style.less';
@import './chat/admin/components/chatbar/style.less';
@import './chat/admin/components/details/style.less';
@import './chat/admin/components/fullchat/style.less';
@import './chat/admin/components/header/style.less';
@import './chat/admin/components/info/style.less';
@import './chat/admin/components/message_token/style.less';
@import './chat/admin/components/subscriptions/style.less';
@import './competencies/admin/components/commitments/style.less';
@import './competencies/admin/style.less';
@import './competencies/admin/tokens/competency_token/style.less';
@import './competencies/admin/tokens/goal_token/style.less';
@import './competencies/admin/tokens/plan_token/style.less';
@import './competencies/admin/tokens/status/style.less';
@import './drive/admin/components/access/style.less';
@import './drive/admin/components/details/style.less';
@import './drive/admin/components/explorer/style.less';
@import './drive/admin/components/move/style.less';
@import './drive/admin/components/share/methods/style.less';
@import './drive/admin/components/share/style.less';
@import './drive/admin/components/tasks/style.less';
@import './drive/admin/components/versions/style.less';
@import './eatfresh/admin/components/style.less';
@import './eatfresh/admin/style.less';
@import './expenses/admin/components/receipt/style.less';
@import './expenses/admin/components/trips_import_finalize/style.less';
@import './expenses/admin/style.less';
@import './expenses/admin/tokens/expense_item_token/style.less';
@import './expenses/admin/tokens/membership_token/style.less';
@import './expenses/admin/tokens/project_member_token/style.less';
@import './expenses/admin/tokens/project_token/style.less';
@import './expenses/admin/tokens/status/style.less';
@import './expenses/admin/tokens/type_token/style.less';
@import './expenses/admin/views/projects/style.less';
@import './maha/admin/components/account/account/profiles/style.less';
@import './maha/admin/components/account/account/style.less';
@import './maha/admin/components/account/notifications/notification_types/style.less';
@import './maha/admin/components/account/notifications/style.less';
@import './maha/admin/components/account/security/appitems/style.less';
@import './maha/admin/components/account/security/devices/style.less';
@import './maha/admin/components/account/security/style.less';
@import './maha/admin/components/asset/style.less';
@import './maha/admin/components/assignment/style.less';
@import './maha/admin/components/attachment_manager/style.less';
@import './maha/admin/components/attachment/style.less';
@import './maha/admin/components/attachmentfield/style.less';
@import './maha/admin/components/attachments/device/style.less';
@import './maha/admin/components/attachments/drive/style.less';
@import './maha/admin/components/attachments/style.less';
@import './maha/admin/components/attachments/url/style.less';
@import './maha/admin/components/audit/style.less';
@import './maha/admin/components/avatar/style.less';
@import './maha/admin/components/button/style.less';
@import './maha/admin/components/buttons/style.less';
@import './maha/admin/components/camera/style.less';
@import './maha/admin/components/carousel/style.less';
@import './maha/admin/components/chooser/style.less';
@import './maha/admin/components/collection/style.less';
@import './maha/admin/components/comments/comment/style.less';
@import './maha/admin/components/comments/style.less';
@import './maha/admin/components/composer/style.less';
@import './maha/admin/components/dashboard/dateandtime/style.less';
@import './maha/admin/components/dashboard/style.less';
@import './maha/admin/components/device/browser/style.less';
@import './maha/admin/components/drawer/style.less';
@import './maha/admin/components/dropzone/style.less';
@import './maha/admin/components/emojis/style.less';
@import './maha/admin/components/export/style.less';
@import './maha/admin/components/feed/style.less';
@import './maha/admin/components/fields/style.less';
@import './maha/admin/components/filters/style.less';
@import './maha/admin/components/flash/style.less';
@import './maha/admin/components/form/checkbox/style.less';
@import './maha/admin/components/form/colorfield/style.less';
@import './maha/admin/components/form/datefield/style.less';
@import './maha/admin/components/form/filefield/style.less';
@import './maha/admin/components/form/lookup/style.less';
@import './maha/admin/components/form/lookup2/style.less';
@import './maha/admin/components/form/password/style.less';
@import './maha/admin/components/form/select/style.less';
@import './maha/admin/components/form/style.less';
@import './maha/admin/components/form/tablefield/style.less';
@import './maha/admin/components/form/text/style.less';
@import './maha/admin/components/form/textarea/style.less';
@import './maha/admin/components/form/timefield/style.less';
@import './maha/admin/components/form/toggle_list/style.less';
@import './maha/admin/components/form/videofield/style.less';
@import './maha/admin/components/form/wysiwyg/style.less';
@import './maha/admin/components/gallery_list/style.less';
@import './maha/admin/components/gallery/style.less';
@import './maha/admin/components/help/style.less';
@import './maha/admin/components/image_preview/style.less';
@import './maha/admin/components/image/style.less';
@import './maha/admin/components/import/complete/style.less';
@import './maha/admin/components/import/configure/style.less';
@import './maha/admin/components/import/field/style.less';
@import './maha/admin/components/import/finalizing/style.less';
@import './maha/admin/components/import/fix/style.less';
@import './maha/admin/components/import/intro/style.less';
@import './maha/admin/components/import/mapping/style.less';
@import './maha/admin/components/import/parsing/style.less';
@import './maha/admin/components/import/preview/style.less';
@import './maha/admin/components/import/processing/style.less';
@import './maha/admin/components/import/review/style.less';
@import './maha/admin/components/import/validating/style.less';
@import './maha/admin/components/infinite/style.less';
@import './maha/admin/components/link/style.less';
@import './maha/admin/components/list/style.less';
@import './maha/admin/components/loader/style.less';
@import './maha/admin/components/logo/style.less';
@import './maha/admin/components/message/style.less';
@import './maha/admin/components/modal_panel/style.less';
@import './maha/admin/components/modal/style.less';
@import './maha/admin/components/navigation/style.less';
@import './maha/admin/components/network/style.less';
@import './maha/admin/components/notifications/style.less';
@import './maha/admin/components/omnisearch/style.less';
@import './maha/admin/components/page/style.less';
@import './maha/admin/components/panel/style.less';
@import './maha/admin/components/platform/style.less';
@import './maha/admin/components/popup/style.less';
@import './maha/admin/components/portal/badge/style.less';
@import './maha/admin/components/portal/ribbon/style.less';
@import './maha/admin/components/portal/style.less';
@import './maha/admin/components/progress/style.less';
@import './maha/admin/components/prompt/style.less';
@import './maha/admin/components/push/style.less';
@import './maha/admin/components/reactions/reaction/style.less';
@import './maha/admin/components/reactions/reactions/style.less';
@import './maha/admin/components/richtext/style.less';
@import './maha/admin/components/scrollpane/style.less';
@import './maha/admin/components/search/style.less';
@import './maha/admin/components/searchbox/style.less';
@import './maha/admin/components/sessions/style.less';
@import './maha/admin/components/signin/style.less';
@import './maha/admin/components/sortable_list/style.less';
@import './maha/admin/components/stack/style.less';
@import './maha/admin/components/stars/star/style.less';
@import './maha/admin/components/stars/starred/style.less';
@import './maha/admin/components/table/style.less';
@import './maha/admin/components/tabs/style.less';
@import './maha/admin/components/tasks/style.less';
@import './maha/admin/components/token/style.less';
@import './maha/admin/components/tooltip/style.less';
@import './maha/admin/components/tray/style.less';
@import './maha/admin/components/uploader/style.less';
@import './maha/admin/style.less';
@import './maha/admin/tokens/app/style.less';
@import './maha/admin/tokens/assignee/style.less';
@import './maha/admin/tokens/presence/style.less';
@import './maha/admin/tokens/source/style.less';
@import './maha/admin/tokens/user/style.less';
@import './platform/admin/views/teams/style.less';
@import './sites/admin/components/htmlfield/style.less';
@import './sites/admin/components/sites_import_finalize/style.less';
@import './sites/admin/tokens/manager_token/style.less';
@import './sites/admin/tokens/role_token/style.less';
@import './sites/admin/views/types/style.less';
@import './team/admin/components/access/style.less';
@import './team/admin/components/roles/style.less';
@import './team/admin/style.less';
@import './team/admin/tokens/email_token/style.less';
@import './team/admin/views/apps/style.less';
@import './team/admin/views/emails/style.less';
@import './team/admin/views/users/style.less';
