.compact-type-token {
  text-align: center;
  padding: 0.4em 0;
  @media (max-width: 768px) {
    padding-right: 0.4em 0 0.4em 0.4em !important;
  }
}
.type-token {
  padding: 0.8em;
  .type-token-badge {
    margin-right: 0.4em;
  }
}
.type-token-badge {
  padding: 4px;
  background-color: @black;
  border-radius: 4px;
  color: @white;
  display: inline-block;
  text-align: center;
}
