@import './methods/style.less';
@import './card/style.less';
@import './googlepay/style.less';
@import './applepay/style.less';
@import './paypal/style.less';

.maha-payment {
  padding: 0.8em;
  position: relative;
}
.maha-payment-header {
  margin-bottom: 0.8em;
}
.maha-payment-form {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  border-radius: 0.28em;
  padding: 0.8em;
}
.maha-payment-label {
  font-weight: bold;
}
.maha-payment-mandate {
  margin: 0.8em 0 !important;
}
.maha-payment-method {
  & > div {
    display: none;
  }
  &.card .maha-payment-card,
  &.ach .maha-payment-ach,
  &.door .maha-payment-door,
  &.googlepay .maha-payment-googlepay,
  &.paypal .maha-payment-paypal,
  &.applepay .maha-payment-applepay {
    display: block;
  }
}
