.finance-cardfield {
  flex: 1;
  display: flex;
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    box-shadow: none;
  }
  &.disabled {
    background-color: fadeout(@black, 97);
    color: fadeout(@black, 90);
    * {
      color: fadeout(@black, 90) !important;
    }
  }
  input {
    flex: 1;
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    padding: 0.8em 0.6em !important;
  }
}
.finance-cardfield-input {
  flex: 1;
  display: flex;
}
.finance-cardfield-icon {
  flex: 0 0 2em;
  padding: 0.6em 0 0.6em 0.6em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.6em;
    color: fadeout(@black, 70);
  }
  img {
    margin: auto;
    width: 32px;
  }
}

.finance-cardfield-number {
  flex: 1;
}
.finance-cardfield-expiration {
  flex: 0 0 5em;
}
.finance-cardfield-cvv {
  flex: 0 0 3.5em;
}
.finance-cardfield-clear {
  display: flex;
  padding: 0.6em;
  flex: 0 0 2em;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
