.maha-phone-keypad {
  display: flex;
  flex-wrap: wrap;
}
.maha-phone-keypad-cell {
  flex: 1 0 ~"calc(100% / 3)";
  display: flex;
  padding: 1.4em 0.8em;
}
.maha-phone-keypad-key {
  margin: auto;
  display: inline-block;
  text-align: center;
  background-color: fadeout(@black, 70);
  width: 3.2em;
  height: 3.2em;
  color: @white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.6em 0;
  &:hover {
    background-color: fadeout(@black, 80);
  }
}
.maha-phone-keypad-number {
  font-size: 1.6em;
  font-weight: bold;
  color: @white;
}
.maha-phone-keypad-letters {
  font-size: 0.6em;
  line-height: 1.6em;
  height: 1.6em;
  color: fadeout(@white, 20);
}
