.crm-sms-message-token-image {
  margin: 0 0 0.8em;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  .maha-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
