.training-options {
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  overflow: hidden;
  .training-options-option:last-child {
    border-bottom: none;
  }
}
.training-options-option {
  display: flex;
  background-color: @white;
  border-bottom: 1px solid fadeout(@black, 90);
}
.training-options-option-label {
  padding: 0.2em;
  min-height: 2.5em;
  flex: 1;
}
.training-options-option-extra {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
.training-options-option-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
}
.training-options-footer {
  padding: 0.4em;
  background-color: fadeout(@black, 95);
}
