.maha-results {
  background-color: @white;
  .scrollable();
  flex: 1;
}
.maha-result {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-result-details {
  flex: 1;
  padding: 0.8em;
  span {
    color: fadeout(@black, 40);
  }
}
.maha-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
