.line-items-token {
  padding: 0.8em;
  .fa {
    color: @black !important;
  }
  th {
    padding: .5em .7em !important;
  }
  tbody td {
    cursor: pointer;
    &:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .expanded > td {
    padding: 0 !important;
    .maha-list-item {
      border: none !important;
    }
  }
  tfoot {
    th {
      border-top: 1px solid fadeout(@black, 90) !important;
      border-right: 1px solid fadeout(@black, 90) !important;
    }
    td {
      border-top: 1px solid fadeout(@black, 90) !important;
    }
  }
}
@media (max-width: 769px) {
  .line-items-token tbody td {
    max-width: ~"calc(100vw - 13em)";
  }
}
