.crm-contact-channels {
  .ui.table {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
  }
  .ui.button {
    width: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}
.crm-contact-channels-channel {
  cursor: pointer;
}
.crm-contact-channels-channel td {
  color: fadeout(@black, 40);
  .fa {
    margin-right: 0.8em;
  }
}
.crm-contact-channels-channel-details {
  background-color: fadeout(@yellow, 97);
  color: fadeout(@black, 40);
  font-size: 0.9em;
  line-height: 1.8em;
}
.crm-contact-channels-empty td {
  color: fadeout(@black, 60);
}
