.maha-form {
  display: flex;
  flex: 1;
  position: relative;
}
.maha-modal-panel-body {
  display: flex;
  .ui.form {
    flex: 1;
    .scrollable();
  }
}
.maha-form-panels > div > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.maha-modal-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fadeout(@black, 98);
}

.maha-form {
  position: relative;
  .ui.segment {
    position: static;
    padding: 0;
    margin: 0 0 1px;
    & > h4 {
      border-top: 1px solid fadeout(@black, 90);
      background-color: fadeout(@black, 95);
      padding: 0.8em;
      color: @black, 50;
      margin: 0;
      font-weight: normal;
    }
    &.collapsing {
      cursor: pointer;
      &.collapsed .section {
        display: none;
      }
    }
  	input, textarea {
  		color: lighten(@black, 40) !important;
  	}
  	textarea {
  		line-height: 1.5em !important;
  	}
  }
  .section {
    padding: 1em;
    & > .field {
      line-height: 1.6em;
      margin-bottom: 1.2em;
      & > label {
        margin-bottom: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .instructions {
    color: fadeout(@black, 40);
    line-height: 1.6em;
    margin-bottom: 0.8em;
    ul {
      padding: 0 1.6em;
    }
  }
  .error {
    input, textarea, select, .lookup-field, .dropdown {
      border-color: @red !important;
      background-color: @white !important;
      border-radius: 5px 5px 0 0 !important;
    }
    & > label {
      color: @red !important;
    }
    .error-message {
      background-color: @red !important;
      color: @white !important;
      padding: 5px 10px;
      font-size: .8em;
      border-radius: 0 0 5px 5px !important;
    }
    .ui.right {
      input {
        border-radius: 5px 0 0 0 !important;
      }
      .ui.label {
        border-radius: 0 5px 0 0 !important;
      }
    }
    .ui.left {
      input {
        border-radius: 0 5px 0 0 !important;
      }
      .ui.label {
        border-radius: 5px 0 0 0 !important;
      }
    }
    .ui.label {
      background-color: @red !important;
      color: @white !important;
    }
  }
}

.maha-input {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
  &.disabled {
    background-color: fadeout(@black, 97) !important;
  }
}
.maha-input-field {
  flex: 1;
  display: flex;
  input {
    flex: 1;
    border: none !important;
    outline: none !important;
    background: none !important;
    padding: 0.8em !important;
  }
}
.maha-input-clear {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
