<style>

</style>

<table className="ui celled unstackable compact table">
  <thead>
    <tr>
      <th colSpan="2">Position Description Review</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div className="appraisal-rating-description">
          <strong>Position Description</strong><br />
          Is the Positions Description up to date? If not, note any changes to your duties over the review period and any items within the existing position description that may need revision.
        </div>
        <div className="appraisal-rating-unaswered">
          This question has not yet been answered
        </div>
      </td>
    </tr>
  </tbody>
</table>
