#app {
  display: flex;
}
.maha-cart {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-cart-header {
  background-color: #DB2828;
  color: #FFFFFF;
  display: flex;
}
.maha-cart-header-icon {
  padding: 0.8em;
  font-weight: bold;
  color: #EEEEEE;
  cursor: pointer;
}
.maha-cart-header-icon:hover {
  color: #FFFFFF;
}
.maha-cart-header-title {
  padding: 0.8em;
  flex: 1;
  text-align: center;
}
.maha-cart-body {
  flex: 1;
  width: 100%;
  padding: 0.8em;
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
  table {
    background: @white;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid fadeout(@black, 90);
    border-left: 1px solid fadeout(@black, 90);
    border-right: 1px solid fadeout(@black, 90);
  }
  thead {
    td {
      border-right: 1px solid fadeout(@black, 90);
      background: fadeout(@black, 97);
      font-weight: bold;
    }
  }
  tbody {
    tr {
      td[colspan="5"] {
        width: 100% !important;
        text-align: center;
        font-style: italic;
      }
      td:nth-child(1) {
        width: 20px;
        span {
          color: fadeout(@black, 80);
          cursor: pointer;
          &:hover {
            color: fadeout(@black, 40);
          }
        }
      }
      td:nth-child(3) {
        width: 80px;
      }
      td:nth-child(4),
      td:nth-child(5) {
        width: 60px;
        text-align: right;
      }
    }
  }
  tfoot {
    tr {
      td:first-child {
        border-right: 1px solid fadeout(@black, 90);
        background: fadeout(@black, 97);
        font-weight: bold;
      }
      td:last-child {
        width: 60px;
        text-align: right;
      }
    }
  }
  td, th {
    padding: 0.6em;
    border-bottom: 1px solid fadeout(@black, 90);
  }
}
.maha-cart-product {
  display: flex;
}
.maha-cart-product-image {
  img {
    width: 32px;
  }
}
.maha-cart-product-details {
  flex: 1;
  padding-left: 0.8em;
}
.maha-cart-product-name {
  line-height: 1em;
}
.maha-cart-product-options {
  color: fadeout(@black, 60);
  font-size: 0.8em;
}
.maha-cart-footer {
  border-top: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  background-color: @white;;
}
.maha-cart-quantity {
  border: 1px solid fadeout(@black, 90);
  display: flex;
  font-size: 0.8em;
  line-height: 1em;
  div {
    border-right: 1px solid fadeout(@black, 90);
    padding: 0.4em;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }
}
.maha-cart-quantity-control {
  flex: 0 0 1.6em;
  cursor: pointer;
  background-color: fadeout(@black, 97);
  color: fadeout(@black, 80);
  &:hover {
    background-color: fadeout(@black, 95);
    color: fadeout(@black, 40);
  }
}
.maha-cart-quantity-value {
  flex: 1;
}
