.paypal-button {
  min-height: 40px;
  background-color: @paypal;
  border-radius: 0.2em;
  display: flex;
  .zoid-outlet {
    max-width: 100% !important;
    width: 100% !important;
  }
  & > span {
    margin: auto;
    color: @white;
  }
}
