.crm-recordingfield-panel {
  padding: 0.8em;
  p {
    line-height: 1.8em;
  }
}
.crm-recordingfield-field {
  display: flex;
  &:focus {
    outline: none !important;
  }
}
.crm-recordingfield-field-phone {
  flex: 1;
  .maha-input {
    border-radius: 0.5em 0 0 0.5em;
    border-right: none;
  }
}
.crm-recordingfield-field-button {
  .ui.button {
    padding: 0.95em 1.5em;
    border-radius: 0 0.5em 0.5em 0;
  }
}
.crm-recordingfield-status {
  border-radius: 0.5em;
  padding: 0.6em 0.8em;
  &.calling {
    border: 1px solid fadeout(@blue, 70);
    background-color: fadeout(@blue, 90);
  }
  &.recording {
    border: 1px solid fadeout(@green, 70);
    background-color: fadeout(@green, 90);
  }
  &.reviewing {
    border: 1px solid fadeout(@yellow, 70);
    background-color: fadeout(@yellow, 90);
  }
  &.processing {
    border: 1px solid fadeout(@green, 70);
    background-color: fadeout(@green, 90);
  }
}

.crm-recordingfield-strategy-type {
  flex: 1;
  display: flex;
}
.crm-recordingfield-strategy-type-icon {
  flex: 0 0 3em;
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
}
.crm-recordingfield-strategy-type-label {
  padding: 0.8em;
}
