.crm-recordingfield {
  display: flex;
}
.crm-recordingfield-field {
  flex: 1;
  .maha-input {
    border-radius: 0.5em 0 0 0.5em;
    border-right: none;
  }
}
.crm-recordingfield-button {
  .ui.button {
    padding: 0.95em 1.5em;
    border-radius: 0 0.5em 0.5em 0;
  }
}
.crm-recordingfield-token {
  margin-bottom: 0.8em;
  width: 100%;
  border: 1px solid fadeout(@black, 90);
  background-color: @white;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  .maha-asset {
    display: flex;
  }
  img {
    width: 3em;
    height: 3em;
  }
}
