.review-question-token {
  margin-bottom: 1.6em;
}
.review-question-token-question {
  background-color: @black;
  color: @white;
  padding: 0.8em;
}
.review-question-token-table {
  overflow: hidden;
  .ui.table {
    border-radius: 0;
    border: none;
  }
  tr.winner {
    background-color: fadeout(@blue, 95);
    color: @blue;
    font-weight: bold;
  }
}
