.domain-status-token {
  display: flex;
  margin: -0.8em;
}
.domain-status-token-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
  .fa-circle-o-notch {
    color: @blue;
  }
  .fa-check-circle-o {
    color: @green;
  }
}
.domain-status-token-details {
  padding: 0.8em 0.8em 0.8em 0;
  flex: 1;
}
