.sessionsfield {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
}
.sessionsfield-session {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.sessionsfield-session-token {
  flex: 1;
}
.sessionsfield-session-action {
  padding: 0.8em 0.8em 0.8em 0;
  cursor: pointer;
  color: fadeout(@black, 80);
  &:hover .fa {
    color: fadeout(@black, 60);
  }
}
.sessionsfield-add {
  background-color: fadeout(@black, 97);
  padding: 0.8em;
}
