.fa-voicemail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(0,0,0,0.4)' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M18.5 6C15.46 6 13 8.46 13 11.5c0 1.33.47 2.55 1.26 3.5H9.74c.79-.95 1.26-2.17 1.26-3.5C11 8.46 8.54 6 5.5 6S0 8.46 0 11.5 2.46 17 5.5 17h13c3.04 0 5.5-2.46 5.5-5.5S21.54 6 18.5 6zm-13 9C3.57 15 2 13.43 2 11.5S3.57 8 5.5 8 9 9.57 9 11.5 7.43 15 5.5 15zm13 0c-1.93 0-3.5-1.57-3.5-3.5S16.57 8 18.5 8 22 9.57 22 11.5 20.43 15 18.5 15z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}
.maha-message .fa-voicemail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(0,0,0,0.6)' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M18.5 6C15.46 6 13 8.46 13 11.5c0 1.33.47 2.55 1.26 3.5H9.74c.79-.95 1.26-2.17 1.26-3.5C11 8.46 8.54 6 5.5 6S0 8.46 0 11.5 2.46 17 5.5 17h13c3.04 0 5.5-2.46 5.5-5.5S21.54 6 18.5 6zm-13 9C3.57 15 2 13.43 2 11.5S3.57 8 5.5 8 9 9.57 9 11.5 7.43 15 5.5 15zm13 0c-1.93 0-3.5-1.57-3.5-3.5S16.57 8 18.5 8 22 9.57 22 11.5 20.43 15 18.5 15z'/></svg>");
  background-size: 1.2em;
}
.maha-phone-client-footer-item.selected .fa-voicemail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(33,133,208)' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M18.5 6C15.46 6 13 8.46 13 11.5c0 1.33.47 2.55 1.26 3.5H9.74c.79-.95 1.26-2.17 1.26-3.5C11 8.46 8.54 6 5.5 6S0 8.46 0 11.5 2.46 17 5.5 17h13c3.04 0 5.5-2.46 5.5-5.5S21.54 6 18.5 6zm-13 9C3.57 15 2 13.43 2 11.5S3.57 8 5.5 8 9 9.57 9 11.5 7.43 15 5.5 15zm13 0c-1.93 0-3.5-1.57-3.5-3.5S16.57 8 18.5 8 22 9.57 22 11.5 20.43 15 18.5 15z'/></svg>");
}
.flowchart-designer-block-icon .fa-voicemail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(255,255,255)' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M18.5 6C15.46 6 13 8.46 13 11.5c0 1.33.47 2.55 1.26 3.5H9.74c.79-.95 1.26-2.17 1.26-3.5C11 8.46 8.54 6 5.5 6S0 8.46 0 11.5 2.46 17 5.5 17h13c3.04 0 5.5-2.46 5.5-5.5S21.54 6 18.5 6zm-13 9C3.57 15 2 13.43 2 11.5S3.57 8 5.5 8 9 9.57 9 11.5 7.43 15 5.5 15zm13 0c-1.93 0-3.5-1.57-3.5-3.5S16.57 8 18.5 8 22 9.57 22 11.5 20.43 15 18.5 15z'/></svg>");
  background-size: 1.3em;
  margin: 0 !important;
}
.flowchart-box-icon .fa-voicemail {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(255,255,255)' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M18.5 6C15.46 6 13 8.46 13 11.5c0 1.33.47 2.55 1.26 3.5H9.74c.79-.95 1.26-2.17 1.26-3.5C11 8.46 8.54 6 5.5 6S0 8.46 0 11.5 2.46 17 5.5 17h13c3.04 0 5.5-2.46 5.5-5.5S21.54 6 18.5 6zm-13 9C3.57 15 2 13.43 2 11.5S3.57 8 5.5 8 9 9.57 9 11.5 7.43 15 5.5 15zm13 0c-1.93 0-3.5-1.57-3.5-3.5S16.57 8 18.5 8 22 9.57 22 11.5 20.43 15 18.5 15z'/></svg>");
  width: 1.8em;
  text-align: center;
  background-size: 1.3em;
  margin: 0 !important;
}
.maha-phone {
  display: flex;
  flex: 1;
}
.maha-phone-main {
  display: flex;
  flex: 1;
}
.maha-phone-sidebar {
  flex: 0 0 350px;
  display: flex;
  position: relative;
}

.maha-phone-container {
  flex: 1;
  position: relative;
  .maha-modal-panel-header {
    background-color: @violet !important;
  }
  .maha-modal-panel-body {
    border-left: 1px solid fadeout(@black, 90);
  }
  .maha-phone-container-panel {
    background-color: @white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
  }
}

.maha-phone-client {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-client-header {
  display: flex;
}
.maha-phone-client-body {
  overflow: hidden;
  display: flex;
  flex: 1;
}
.maha-phone-client-footer {
  border-top: 1px solid fadeout(@black, 90);
  display: flex;
}
.maha-phone-client-footer-item {
  flex: 1;
  padding: 0.8em;
  text-align: center;
  cursor: pointer;
  color: fadeout(@black, 60);
  &.selected {
    color: @blue;
  }
  &:hover {
    background-color: fadeout(@black, 95);
  }
  img {
    font-size: 1.4em;
  }
  .fa {
    font-size: 1.4em;
    display: block;
  }
  .fa-voicemail {
    height: 1em;
  }
  span {
    font-size: 0.8em;
  }
}


.maha-phone-search {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-search-header {
  border-bottom: 1px solid fadeout(@black, 90);
  padding: 0.6em;
  .maha-searchbox {
    background-color: fadeout(@black, 95);
    border-radius: 0.5em;
    padding: 0.4em;
  }
}
.maha-phone-search-body {
  flex: 1;
  display: flex;
}
.maha-phone-search-result {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}

.maha-phone-actions {
  display: flex;
}
.maha-phone-action {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.4em 0.8em 0;
}
