.maha-phone {
  display: flex;
  flex: 1;
}
.maha-phone-main {
  display: flex;
  flex: 1;
}
.maha-phone-sidebar {
  flex: 0 0 350px;
  display: flex;
  position: relative;
}

.maha-phone-container {
  flex: 1;
  position: relative;
  .maha-modal-panel-body {
    border-left: 1px solid fadeout(@black, 90);
  }
  .maha-stack {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.maha-phone-client {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-client-header {
  display: flex;
}
.maha-phone-client-body {
  display: flex;
  flex: 1;
}
.maha-phone-client-footer {
  border-top: 1px solid fadeout(@black, 90);
  display: flex;
}
.maha-phone-client-footer-item {
  flex: 1;
  padding: 0.8em;
  text-align: center;
  cursor: pointer;
  color: fadeout(@black, 60);
  &.selected {
    color: @blue;
  }
  &:hover {
    background-color: fadeout(@black, 95);
  }
  .fa {
    font-size: 1.4em;
    display: block;
  }
  span {
    font-size: 0.8em;
  }
}
