.finance-card-number-field {
  flex: 1;
  display: flex;
}
.finance-card-number-field-input {
  flex: 1;
  display: flex;
}
.finance-card-number-field-icon {
  flex: 0 0 3em;
  padding: 0.6em 0 0.6em 0.6em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.6em;
    color: fadeout(@black, 70);
  }
  img {
    margin: auto;
    width: 32px;
  }
}
