.finance-card-number-field {
  flex: 1;
  display: flex;
}
.finance-card-number-field-input {
  flex: 1;
  display: flex;
}
.finance-card-number-field-icon {
  padding: 0.6em;
  display: flex;
  img {
    margin: auto;
    width: 32px;
  }
}
