.maha-datefield {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.28em;
  display: flex;
}
.maha-datefield-field {
  display: flex;
  flex: 1;
  .maha-input {
    border-radius: 0 !important;
    border: none !important;
  }
}
.maha-datefield-icon {
  border-left: 1px solid fadeout(@black, 95);
  flex: 0 0 2.4em;
  display: flex;
  padding: 0.4em;
  background-color: fadeout(@black, 95);
  .fa {
    color: fadeout(@black, 70);
    margin: auto;
  }
}
