.maha-paymentfield-methods {
  border-radius: 0.28em;
  overflow: hidden;
}
.maha-paymentfield-payment {
  border-radius: 0.28em;
  overflow: hidden;
}
.maha-paymentfield-chosen,
.maha-paymentfield-method {
  display: flex;
  color: @white;
  &.apple {
    border: 1px solid black;
    background-color: @black;
  }
  &.google {
    border: 1px solid @android;
    background-color: @android;
  }
  &.paypal {
    border: 1px solid @paypal;
    background-color: @paypal;
  }
  &.card {
    border: 1px solid @red;
    background-color: @red;
  }
  &.ach {
    border: 1px solid @violet;
    background-color: @violet;
  }
}
.maha-paymentfield-chosen-icon,
.maha-paymentfield-method-icon {
  flex: 0 0 3em;
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.2em;
  }
}
.maha-paymentfield-chosen-label,
.maha-paymentfield-method-label {
  padding: 0.8em;
  flex: 1;
}
.maha-paymentfield-method {
  cursor: pointer;
  position: relative;
  &:hover:after {
    content: ' ';
    background-color: fadeout(@white, 80);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.maha-paymentfield-chosen {
  border-radius: 0.28em 0.28em 0 0;
}
.maha-paymentfield-chosen-change {
  padding: 0.8em;
  color: @white;
  cursor: pointer;
  text-decoration: underline;
}
.maha-paymentfield-form {
  background-color: fadeout(@black, 97);
  border: 1px solid fadeout(@black, 90);
  border-top: none;
  border-radius: 0 0 0.28em 0.28em;
  padding: 0.8em;
}
