.crm-sms-channel {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.crm-sms-channel-body {
  .scrollable();
  scroll-behavior: auto;
  flex: 1;
}
.crm-sms-channel-thread {
  width: 100%;
}
.crm-sms-channel-footer {
  padding: 0.8em;
}
.crm-sms-channel-date-label {
  text-align: center;
  color: fadeout(@black, 60);
  font-size: 0.8em;
  padding: 0.8em;
}
.crm-sms-channel-token {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 0.4em;
  &.program {
    .crm-sms-channel-token-avatar {
      order: 1;
    }
    .crm-sms-channel-token-details {
      text-align: left;
    }
    .crm-sms-channel-token-messages {
      .crm-sms-channel-token-message:first-child {
        .crm-sms-channel-token-message-body {
          border-top-left-radius: 0.3em;
        }
      }
      .crm-sms-channel-token-message:last-child {
        .crm-sms-channel-token-message-body {
          border-bottom-left-radius: 0.3em;
        }
      }
      &:after {
      	border-right-color: @blue;
        left: -5px;
      }
    }
    .crm-sms-channel-token-message-body {
      border-radius: 0 0.3em 0.3em 0;
      background-color: @blue;
      color: @white;
    }
    .crm-sms-channel-token-padding {
      order: 3;
    }
  }
  &.contact {
    .crm-sms-channel-token-avatar {
      order: 3;
    }
    .crm-sms-channel-token-details {
      text-align: right;
    }
    .crm-sms-channel-token-messages {
      .crm-sms-channel-token-message:first-child {
        .crm-sms-channel-token-message-body {
          border-top-right-radius: 0.3em;
        }
      }
      .crm-sms-channel-token-message:last-child {
        .crm-sms-channel-token-message-body {
          border-bottom-right-radius: 0.3em;
        }
      }
      &:after {
        right: -5px;
        border-left-color: fadeout(@black, 90);
      }
    }
    .crm-sms-channel-token-message-body {
      border-radius: 0.3em 0 0 0.3em;
      background-color: fadeout(@black, 90);
      color: fadeout(@black, 40);
    }
    .crm-sms-channel-token-padding {
      order: 1;
    }
  }
}
.crm-sms-channel-token-identity {
  color: fadeout(@black, 40);
  font-size: 0.8em;
  padding-left: 4.8em;
}
.crm-sms-channel-token-block {
  display: flex;
}
.crm-sms-channel-token-avatar {
  flex: 0 0 3.4em;
  padding: 0 0.4em;
  .contact-avatar-token,
  .maha-logo {
    width: 100%;
  }
  .maha-logo-text {
    font-size: 0.8em;
  }
}
.crm-sms-channel-token-details {
  flex: 0 0 50%;
  order: 2;
}
.crm-sms-channel-token-messages {
  position: relative;
  padding: 0 5px;
  &:after {
    top: 1em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-top: -1px;
  }
  .crm-sms-channel-token-message:last-child {
    .crm-sms-channel-token-message-body {
      margin-bottom: 0;
    }
  }
}
.crm-sms-channel-token-message {
  display: flex;
}
.crm-sms-channel-token-message-body {
  padding: 0.6em;
  display: inline-block;
  margin-bottom: 2px;
}
.crm-sms-channel-token-message-error {
  padding: 0.6em;
  .fa {
    color: @red;
  }
}
.crm-sms-channel-token-message-attachment {
  width: 200px;
  img {
    width: 100%;
  }
}
.crm-sms-channel-token-padding {
  flex: 1;
}
