.maha-app-token {
  position: relative;
  padding: 0.8em;
}
.maha-app-token-icon {
  border-radius: 5px;
  background-clip: padding-box;
  background-color: @blue;
  color: @white;
  margin-right: 10px;
  display: inline-flex;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  .fa {
    margin: auto !important;
  }
}
