.news-feed-groups {
  background-color: @white;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.news-feed-groups-header {
  border-bottom: 1px solid fadeout(@black, 90);
}
.news-feed-groups-body {
  flex: 1;
  display: flex;
}
.news-feed-group {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid fadeout(@black, 90);
  &.selected {
    font-weight: bold;
  }
  &:hover {
    background-color: fadeout(@black, 97);
    .news-feed-group-action {
      display: flex;
    }
  }
}
.news-feed-group-icon {
  padding: 0.8em 0 0.8em 0.8em;
  .maha-logo {
    width: 2em;
  }
  .fa {
    background-color: fadeout(@black, 40);
    color: @white;
    border-radius: 0.5em;
    line-height: 2em;
    font-size: 1em;
    width: 2em;
    height: 2em;
    display: block;
  }
}
.news-feed-group-label {
  padding: 0.8em;
  line-height: 2em;
  flex: 1;
}
.news-feed-group-action {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  cursor: pointer;
  display: none;
  &:hover .fa {
    color: fadeout(@black, 40);
  }
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
