.finance-braintree-signup {
  background-color: @yellow;
  display: flex;
}
.finance-braintree-signup-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    color: @white;
    font-size: 2em;
  }
}
.finance-braintree-signup-details {
  flex: 1;
  background-color: @yellow;
  padding: 0.8em;
  p {
    line-height: 1.6em;
  }
  .ui.button {
    margin: 0 0.5em 0.5em 0;
  }
}
