.goal-token {
  padding: 0.8em;
}
.goal-token-complete {
  background-color: @green;
  color: @white;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  font-size: 0.9em;
  float: right;
  text-transform: uppercase;
}
.goal-token-description {
  margin-top: 0.8em;
  background-color: fadeout(@black, 97);
  padding: 0.8em;
}
