.news-post-likes {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 98);
  color: fadeout(@black, 40);
  padding: 0.4em 0.8em;
  .fa {
    cursor: pointer;
    margin-right: 5px;
  }
  .fa-heart-o {
    color: fadeout(@black, 40);
    &:hover {
      color: @black;
    }
  }
  .fa-heart {
    color: fadeout(@red, 20);
    &:hover {
      color: @red;
    }
  }
}
.news-post-likers {
  cursor: pointer;
}
