.news-post-likes {
  .fa {
    cursor: pointer;
    margin-right: 5px;
  }
  .fa-heart-o {
    color: fadeout(@black, 40);
    &:hover {
      color: @black;
    }
  }
  .fa-heart {
    color: fadeout(@red, 20);
    &:hover {
      color: @red;
    }
  }
}
