.competencies-resources {
  background-color: @white;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-header {
  border-bottom: 1px solid fadeout(@black, 95);
}
.competencies-resources-body {
  flex: 1;
  display: flex;
  .reframe-stack {
    flex: 1;
    position: relative;
  }
}

.competencies-resources-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.competencies-resources-panel-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  height: 3em;
}
.competencies-resources-panel-header-back {
  flex: 0 0 2em;
  padding: 0.8em 0 0.8em 0.8em;
  cursor: pointer;
}
.competencies-resources-panel-header-label {
  padding: 0.8em;
  height: 2em;
  overflow: hidden;
  word-break: break-all;
}
.competencies-resources-panel-body {
  flex: 1;
  display: flex;
}
.competencies-resources-item {
  flex: 1;
  display: flex;
  border-bottom: 1px solid fadeout(@black, 95);
}
.competencies-resources-item-detail {
  padding: 0.8em;
  color: fadeout(@black, 40);
  flex: 1;
  strong {
    color: @black;
  }
  span {
    pointer: cursor;
    color: @blue;
  }

}
.competencies-resources-item-toggle {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    cursor: pointer;
  }
  .fa-circle-o {
    color: fadeout(@black, 60);
  }
  .fa-check-circle {
    color: @blue;
  }
}
.competencies-resources-item-proceed {
  padding: 0.8em;
  display: flex;
  .fa {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
