.sharesfield {
  margin: -0.8em;
}
.sharesfield-network {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.sharesfield-network-handle {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  cursor: grab;
  .fa {
    font-size: 1.2em;
    margin: auto;
    color: fadeout(@black, 60);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.sharesfield-network-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  img {
    width: 1.4em;
    height: 1.4em;
    display: block;
    margin: auto;
  }
}
.sharesfield-network-details {
  padding: 0.8em;
  flex: 1;
}
.sharesfield-network-remove {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin: auto;
    color: fadeout(@black, 60);
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.sharesfield-network-add {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.sharesfield-network-add-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    margin: auto;
  }
}
.sharesfield-network-add-label {
  padding: 0.8em;
  flex: 1;
}
