.maha-page {
  padding-top: 1rem;
}
h1,h2,p,ul,ol {
  margin: 0;
}
p {
  min-height: 1.4em;
}
.ui.grid>.row>.column {
  display: inline-flex;
}
.ui.grid {
  height: 100%;
}
@media (max-width: 768px) {
  .ui.grid .row .column.empty {
    display: none;
  }
}
