.workflow-designer {
  flex: 1;
  display: flex;
  background-color: @white;
}
.workflow-designer-main {
  background-color: #e9ebee;
  flex-direction: column;
  flex: 1;
  display: flex;
}
.workflow-designer-sidebar {
  border-left: 1px solid fadeout(@black, 70);
  flex: ~"0 0 calc(100% / 3)";
  max-width: 500px;
  min-width: 350px;
  display: flex;
  .maha-modal-panel-header {
    background-color: @grey !important;
  }
  & > * {
    flex: 1;
  }
}

&.workflow-designer-icon-trigger {
  background-color: @green;
}
&.workflow-designer-icon-verb {
  background-color: @purple;
}
&.workflow-designer-icon-conditional {
  background-color: @blue;
}
&.workflow-designer-icon-delay {
  background-color: @orange;
}
&.workflow-designer-icon-action {
  background-color: @teal;
}
&.workflow-designer-icon-goal {
  background-color: @pink;
}
&.workflow-designer-icon-ending {
  background-color: @red;
}
