.import-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
  p {
    color: fadeout(@black, 40);
  }
  .button {
    margin: 0;
    .fa {
      margin-left: 5px;
    }
  }
  .reframe-list {
    border: 1px solid fadeout(@black, 90);
    border-radius: 0.5em;
  }
  .fa-file-excel-o {
    color: @green;
    font-size: 3em;
  }
}
.import-intro-template {
  padding: 0.8em;
}
.import-intro-template,
.import-intro-incomplete {
  border-top: 1px solid fadeout(@black, 95);
}

.import-intro-incomplete-header {
  position: relative;
  margin-bottom: 0.8em;
  p {
    margin: 0;
    display: inline;
  }
}
.import-intro-deleteall {
  position: absolute;
  right: 0;
}
.import-intro-start {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 95);
}
.import-intro-incomplete {
  padding: 0.8em;
  flex: 1;
  .scrollable();
  .reframe-list-item.reframe-list-item-link {
    display: flex;
  }
}

.import-item {
  padding: 0.8em;
  font-size: 0.8em;
  line-height: 1.4em;
}
.import-intro-deleteall, .import-item-remove {
  color: @blue;
  cursor: pointer;
  display: inline;
  .hover(text-decoration, underline);
}
