.maha-attachments-drive {
  .unselectable();
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: @white;
  position: relative;
}
.maha-attachments-drive-main {
  flex: 1;
  display: flex;
  position: relative;
}
.maha-attachments-drive-list {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.maha-attachments-drive-head {
  background-color: @red;
  padding: 0 0.5em 0.5em;
  display: flex;
}
.maha-attachments-drive-head-bar {
  background-color: fadeout(@white, 50);
  border-radius: 0.5em;
  display: flex;
  flex: 1;
  .maha-searchbox {
    padding: 0;
  }
}
.maha-attachments-drive-search {
  border-right: 1px solid @red;
  flex: 1;
  .maha-searchbox {
    padding-top: 0;
  }
  .maha-searchbox-input {
    margin: 0 !important;
    .maha-searchbox-icon {
      color: @white !important;
    }
    .maha-searchbox-remove-icon {
      .hover(color, fadeout(@white, 30));
      color: fadeout(@white, 50);
    }
    input {
      color: @white !important;
      &::-webkit-input-placeholder {
        color: fadeout(@white, 20);
      }
      &:-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: fadeout(@white, 20);
      }
    }
  }
}
.maha-attachments-drive-view {
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  flex: 0 0 2.5em;
  .fa {
    color: @white;
    margin: auto;
    font-size: 1.2em;
    line-height: 1em;
  }
  &:hover {
    background-color: fadeout(@white, 80);
  }
}
.maha-attachments-drive-folder {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.maha-attachments-drive-header {
  background-color: fadeout(@black, 95);
  display: flex;
  color: fadeout(@black, 50);
  padding-right: 6px;
  height: 3em;
}
.maha-attachments-drive-header-breadcrumb {
  flex: 1;
  display: flex;
  cursor: pointer;
}
.maha-attachments-drive-header-icon {
  .hover(color, fadeout(@black, 50));
  padding: 0.8em 0.8em 0.8em 0;
  color: fadeout(@black, 80);
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin: auto;
  }
}

.maha-attachments-drive-header-back {
  flex: 0 0 2em;
  padding: 0.8em 0 0.8em 0.8em;
  cursor: pointer;
  img {
    overflow: hidden;
    border-radius: 0.3em;
    display: block;
    height: 18px;
    width: 18px;
  }
}
.maha-attachments-drive-header-label {
  padding: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  max-width: ~"calc(100vw - 3em)";
}
.maha-attachments-drive-results {
  flex: 1;
  display: flex;
}
.maha-attachments-drive-root {
  flex: 1;
  display: flex;
  .scrollable();
}
.maha-attachments-drive-items {
  flex: 1;
}
.maha-attachments-drive-item {
  padding: 1;
  border-bottom: 1px solid fadeout(@black, 95);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  .hover(background-color, fadeout(@black, 97));
  &.selected {
    background-color: fadeout(@blue, 90);
    color: darken(@blue, 10);
  }
  &.disabled {
    color: fadeout(@black, 80);
    cursor: auto;
    .fa {
      color: fadeout(@black, 80);
    }
  }
  &.over {
    box-shadow: inset 0 0 0 2px @blue;
  }
  &.dragging {
    .opacity(0.4);
  }
}
.maha-attachments-drive-item-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  text-align: center;
  .fa-hdd-o { color: @blue; }
  .fa-folder { color: @yellow; }
  .fa-handshake-o { color: @teal; }
  .fa-star { color: @yellow; }
  .fa-trash { color: @purple; }
  i, .maha-asset-thumbnail {
    margin: auto;
  }
  .maha-asset-thumbnail {
    width: 20px;
    height: 20px;
    img {
      display: block;
      width: 100%;
    }
  }
}
.maha-attachments-drive-item-name {
  padding: 0.8em;
  flex: 1;
  .ui.progress {
    margin: 0;
  }
}
.maha-attachments-drive-item-action {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  flex: 0 0 2em;
  i {
    margin: auto;
  }
  .fa-ellipsis-v {
    color: fadeout(@black, 80);
    .hover(color, fadeout(@black, 50));
    font-size: 1.2em;
  }
  .fa-check {
    color: @green;
  }
  .fa-refresh {
    color: fadeout(@black, 80);
  }
  .fa-chevron-right {
    color: fadeout(@black, 80);
  }
}



.maha-attachments-drive-grid-items {
  padding: 0.2em;
  overflow: hidden;
}
.maha-attachments-drive-grid-item {
  position: relative;
  float: left;
  cursor: pointer;
  overflow: hidden;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    width: ~"calc(100% / 3 - 0.4em)";
  }
  @media (min-width: 769px) {
    width: ~"calc(100% / 5 - 0.4em)";
  }
}
.maha-attachments-drive-grid-item-preview {
  background-color: fadeout(@black, 97);
  flex: 1;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.maha-attachments-drive-grid-item-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: @white;
}
.maha-attachments-drive-grid-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  .maha-asset-thumbnail {
    margin: auto;
    .maha-image {
      border-radius: 0;
    }
  }
  .maha-asset-icon {
    margin: auto;
    .fa {
      font-size: 4em;
    }
    .fa-folder {
      color: @yellow;
    }
  }
}
.maha-attachments-drive-grid-item-name {
  background-color: fadeout(@black, 90);
  text-align: center;
  padding: 0.4em 0.8em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
