.maha-gallery-list {
  flex: 1;
  .scrollable();
}
.maha-gallery-list-item {
  margin: 0.8em auto 0;
  width: 100%;
  max-width: 450px;
  cursor: pointer;
}
.maha-gallery-list-item-caption {
  padding: 0 0.8em 0.8em;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1.2em;
  color: fadeout(@black, 60);
  text-align: center;
}
