.maha-criteria {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.maha-criteria-alert {
  background-color: fadeout(@yellow, 90);
  color: fadeout(@black, 50);
  padding: 0.8em;
  border-top: 1px solid fadeout(@black, 90);
  text-align: center;
  .fa {
    margin-right: 0.8em;
  }
}
.maha-criteria-body {
  flex: 1;
  display: flex;
}
.maha-criteria-panel {
  .translate-x-transition(100%, 0, .25s);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @white;
  display: flex;
}
.maha-criteria-items {
  flex: 1;
  .scrollable();
  & > .maha-criteria-item > .maha-criteria-item-box {
    padding: 0.8em !important;
    background: none !important;
    border: none !important;
  }
}
.maha-criteria-item.and,
.maha-criteria-item.or {
  & > .maha-criteria-item-box {
    background-color: @white;
  }
}
.maha-criteria-item.and {
  & > .maha-criteria-item-box > .maha-criteria-item:after {
    content: 'and';
  }
}
.maha-criteria-item.or {
  & > .maha-criteria-item-box > .maha-criteria-item:after {
    content: 'or';
  }
}
.maha-criteria-item {
  .ui.button {
    text-transform: uppercase;
  }
  &:after {
    display: block;
    margin: 0 0 0.4em;
    color: fadeout(@black, 60);
    text-transform: uppercase;
  }
}
.maha-criteria-item-box {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  padding: 0.6em 2em 0.6em 0.6em;
  border-radius: 0.2em;
  position: relative;
  margin-bottom: 0.4em;
  cursor: pointer;
  color: fadeout(@black, 40);
}
.maha-criteria-item-remove {
  position: absolute;
  right: 0.6em;
  top: 0.6em;
  color: fadeout(@black, 60);
  cursor: pointer;
  &:hover {
    color: fadeout(@black, 40);
  }
}
.maha-criteria-property {
  color: @blue;
}
.maha-criteria-result {
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-criterion {
  flex: 1;
  display: flex;
}
.maha-criterion-items {
  .scrollable();
  flex: 1;
}
.maha-criterion-footer {
  background-color: fadeout(@black, 97);
  border-top: 1px solid fadeout(@black, 90);
  padding: 0.8em;
}
.maha-criterion-type {
  padding: 0.2em 0.8em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: fadeout(@black, 70);
  color: @white;
}
.maha-criterion-item {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-criterion-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  .maha-select-option-icon {
    padding: 0.4em 0 0.4em 0.4em;
  }
  .maha-select-option-label .token {
    padding: 0.4em;
  }
}
.maha-criterion-form-header {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 20);
  padding: 0.8em;
  .maha-select {
    border: none !important;
    background: none !important;
  }
  .maha-select-option {
    border-bottom: none;
  }
  .maha-select-option-label {
    color: fadeout(@white, 10);
  }
  .fa-check-circle {
    color: lighten(@blue, 20) !important;
  }
  .fa-circle-o {
    color: @white;
  }
}
.maha-criterion-form-body {
  flex-direction: column;
  display: flex;
  flex: 1;
  .maha-search-header {
    border-bottom: 1px solid fadeout(@black, 90)
  }
}
.maha-criterion-form-panel {
  flex: 1;
  padding: 0.8em;
}
.maha-criterion-field {
  margin-bottom: 0.8em;
}
.maha-criterion-form-chooser {
  background-color: fadeout(@black, 97);
  border-bottom: 1px solid fadeout(@black, 90);
  padding: 0.8em;
}
.maha-criterion-form-footer {
  background-color: fadeout(@black, 97);
  border-top: 1px solid fadeout(@black, 90);
  padding: 0.8em;
}
