.store-carticon {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 0.8em;
  &:hover {
    background-color: fadeout(@black, 97);
  }
  .fa {
    font-size: 1.4em;
    margin: auto;
    color: @white;
  }
}
.store-carticon-count {
  position: absolute;
  display: block;
  width: 1.2em;
  height: 1.2em;
  top: .5em;
  right: .5em;
  font-size: .8em;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
  background-color: @red;
  color: @white;
}
