.training-option-token {
  padding: 0.8em;
  .training-option-token-training:last-child {
    margin-bottom: 0;
  }
}
.training-option-token-training {
  border: 1px solid fadeout(@black, 95);
  padding: 0.8em;
  margin-bottom: 0.8em;
  background-color: fadeout(@black, 97);
}
