.administrations {
  .ui.table tbody tr {
    td.user-cell {
      padding: 0 !important;
    }
    td {
      padding: 0.8em !important;
    }
  }
  .fa-check {
    color: @green;
  }
  .fa-times {
    color: @red;
  }
  .maha-avatar {
    width: 1.6em;
  }
}
