.store-catalog {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.store-catalog-header {
  display: flex;
  overflow: hidden;
  width: 100vw
}
.store-catalog-body {
  flex: 1;
  .scrollable();
}
.store-catalog-item {
  display: flex;
  cursor: pointer;
  padding: 0.8em;
  float: left;
  @media (max-width: 320px) {
    width: 100%
  }
  @media (min-width: 321px) and (max-width: 475px) {
    width: ~"calc(100% / 2)";
    &:nth-child(2n) {
      border-right: none;
    }
  }
  @media (min-width: 476px) and (max-width: 725px) {
    width: ~"calc(100% / 3)";
    &:nth-child(3n) {
      border-right: none;
    }
  }
  @media (min-width: 726px) and (max-width: 975px) {
    width: ~"calc(100% / 4)";
    &:nth-child(4n) {
      border-right: none;
    }
  }
  @media (min-width: 976px) and (max-width: 1225px) {
    width: ~"calc(100% / 5)";
    &:nth-child(5n) {
      border-right: none;
    }
  }
  @media (min-width: 1226px) and (max-width: 1475px) {
    width: ~"calc(100% / 6)";
    &:nth-child(6n) {
      border-right: none;
    }
  }
  @media (min-width: 1476px) and (max-width: 1725px) {
    width: ~"calc(100% / 7)";
    &:nth-child(7n) {
      border-right: none;
    }
  }
  @media (min-width: 1726px) {
    width: ~"calc(100% / 8)";
    &:nth-child(8n) {
      border-right: none;
    }
  }
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.store-catalog-item-inner {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  .maha-image {
    margin: 0 auto;
    img {
      display: block;
      width: 150px;
      height: 150px;
    }
  }
}
.store-catalog-item-icon {
  background-color: fadeout(@black, 90);
  color: @white;
  display: inline-flex;
  width: 150px;
  height: 150px;
  .fa {
    font-size: 5em;
    margin: auto;
  }
}
.store-catalog-item-details {
  margin-top: 0.8em;
  height: 5em;
  h3 {
    margin: 0;
    font-size: 1em;
  }
  p {
    color: fadeout(@black, 40);
    margin: 0;
    font-size: 1em;
  }
}
