.flowchart-canvas {
  flex: 1;
  overflow: scroll;
  position: relative;
}
.flowchart {
  padding: 1em;
  position: absolute;
  top: 0.8em;
  left: ~"calc(50% + 3.2em)";
  overflow: hidden;
  transform: translateX(-50%);
}
.flowchart-box-padding {
  padding: 0 0.4em;
  margin: 0 auto;
  position: relative;
  &:after {
    content: " ";
    border: 6px solid transparent;
    border-top-color: #bfbfbf;
    width: 0;
    height: 0;
    position: absolute;
    top: 5.6em;
    left: ~"calc(50% - 5px)";
  }
}
.flowchart-box-highlight {
  display: none;
  border: 2px solid @teal;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}
.flowchart-box-actions {
  display: none;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: @teal;
  overflow: hidden;
}
.flowchart-box-action {
  padding: 0.2em .4em;
  cursor: pointer;
  .fa {
    font-size: 0.8em;
    color: fadeout(@white, 30);
  }
  &:hover {
    .fa {
      color: @white;
    }
  }
}
.flowchart-box-item {
  position: relative;
  border-radius: 0.3em;
  border: 2px solid fadeout(@black, 80);
  background-color: @white;
  padding: 1.2em 0.8em 0.8em;
  margin: 0 auto;
  width: 175px;
  cursor: pointer;
  z-index: 2;
  &.active .flowchart-box-highlight,
  &:hover .flowchart-box-highlight {
    display: block;
  }
  &:hover .flowchart-box-actions {
    display: flex;
  }
}
.flowchart-box-label {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}
.flowchart-box-details {
  color: fadeout(@black, 40);
  min-height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  font-size: 0.8em;
  overflow: hidden;
  span {
    background-color: fadeout(@yellow, 75);
  }
}
.flowchart-box-trigger,
.flowchart-box-ending {
  cursor: auto !important;
  &:hover {
    background-color: @white !important;
  }
}
.flowchart-box-icon {
  border: 2px solid fadeout(@black, 80);
  border-radius: 50%;
  color: @white;
  display: flex;
  width: 2em;
  height: 2em;
  line-height: 1.7em;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  .fa {
    margin: auto;
  }
  .fa-phone {
    transform: rotate(135deg);
  }
  .fa-volume-control-phone {
    transform: rotate(-45deg);
  }
  .fa-comment {
    font-size: 0.8em;
  }
  .fa-clock-o {
    font-size: 1.2em;
  }
}
.flowchart-dropzone {
  border-radius: 0.3em;
  border: 2px solid fadeout(@black, 80);
  font-weight: bold;
  background-color: lighten(@black, 95);
  color: fadeout(@black, 40);
  padding: ~"calc(1.6em - 4px) 0.4em";
  text-align: center;
  margin: 0 auto;
  width: 175px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 2.9em;
}
.flowchart-target {
  position: relative;
  margin: 0 auto 3em;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    height: 3em;
    border-left: 2px solid #bfbfbf;
    left: 50%;
  }
}
.flowchart-branches {
  background-color: lighten(@black, 97);
  padding-top: 2.6em;
  position: relative;
  display: flex;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 2.6em;
    border-left: 2px solid #bfbfbf;
    left: 50%;
  }
  &:after {
    content: " ";
    border: 6px solid transparent;
    border-top-color: #bfbfbf;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -1.8em;
    left: ~"calc(50% - 5px)";
  }
  .flowchart-branch:first-child {
    &:before {
      right: ~"calc(50% - 2px)";
      border-left: none;
      border-right: 2px solid #bfbfbf;
    }
    &:after {
      left: 50%;
    }
  }
  .flowchart-branch:last-child {
    &:before {
      left: auto;
      right: ~"calc(50% - 2px)";
      border-left: none;
      border-right: 2px solid #bfbfbf;
    }
    &:after {
      right: 50%;
    }
  }
}
.flowchart-branch {
  min-width: 190px;
  position: relative;
  padding: 3em 0 0;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  .flowchart-segments {
    flex-direction: column;
    display: flex;
    flex: 1;
    .flowchart-placeholder {
      flex: 1;
    }
  }
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &:before {
    left: 50%;
    border-left: 2px solid #bfbfbf;
  }
  &:after {
    width: 100%;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
  }
}
.flowchart-branch-label {
  position: absolute;
  z-index: 2;
  top: 2.4em;
  left: 50%;
  transform: translate(-50%, -50%);
  &:after {
    content: " ";
    border: 6px solid transparent;
    border-top-color: #bfbfbf;
    width: 0;
    height: 0;
    position: absolute;
    top: 2.4em;
    left: ~"calc(50% - 5px)";
  }
}
.flowchart-branch-label-box {
  display: block;
  border: 2px solid fadeout(@black, 80);
  background-color: @white;
  color: fadeout(@black, 40);
  text-align: center;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding: 0 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
.flowchart-segment {
  padding-top: 3em;
  position: relative;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  &.trigger {
    padding: 0;
    &:before {
      height: 0;
    }
  }
  &.ending {
    .flowchart-box-padding {
      &:after {
        content: none;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px solid #bfbfbf;
    left: 50%;
  }
}
.flowchart-placeholder {
  padding-top: 3em;
  overflow: hidden;
  z-index: 2;
  min-height: 3em;
}
.flowchart-drag-layer {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
}
