.flowchart-canvas {
  flex: 1;
  display: flex;
  padding: 0.8em;
  overflow: scroll;
}
.workflow {
  margin: 0.8em auto;
}
.flowchart-box-padding {
  padding: 0 0.4em;
}
.flowchart-box-highlight {
  display: none;
  border: 2px solid @teal;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}
.flowchart-box-actions {
  display: none;
  border-radius: 0.3em;
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: @teal;
  overflow: hidden;
}
.flowchart-box-action {
  padding: 0.2em .4em;
  cursor: pointer;
  .fa {
    font-size: 0.8em;
    color: fadeout(@white, 30);
  }
  &:hover {
    background-color: fadeout(@black, 85);
    .fa {
      color: @white;
    }
  }
}
.flowchart-box-item {
  position: relative;
  border-radius: 0.3em;
  border: 2px solid fadeout(@black, 80);
  background-color: @white;
  padding: 1.2em 0.8em 0.8em;
  margin: 0 auto;
  width: 175px;
  cursor: pointer;
  &.active .flowchart-box-highlight,
  &:hover .flowchart-box-highlight {
    display: block;
  }
  &:hover .flowchart-box-actions {
    display: flex;
  }
}
.flowchart-box-label {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}
.flowchart-box-details {
  color: fadeout(@black, 40);
  line-height: 1.6em;
  text-align: center;
  font-size: 0.8em;
  overflow: hidden;
  span {
    background-color: fadeout(@yellow, 75);
  }
}
.flowchart-box-trigger,
.flowchart-box-ending {
  cursor: auto !important;
  &:hover {
    background-color: @white !important;
  }
}
.flowchart-box-icon {
  border: 2px solid fadeout(@black, 80);
  border-radius: 50%;
  color: @white;
  display: flex;
  width: 2em;
  height: 2em;
  line-height: 1.7em;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  .fa {
    margin: auto;
  }
  .fa-phone {
    transform: rotate(135deg);
  }
  .fa-volume-control-phone {
    transform: rotate(-45deg);
  }
  .fa-comment {
    font-size: 0.8em;
  }
  .fa-clock-o {
    font-size: 1.2em;
  }
}
.flowchart-dropzone {
  border-radius: 0.3em;
  border: 2px solid fadeout(@black, 80);
  font-weight: bold;
  background-color: lighten(@black, 95);
  color: fadeout(@black, 40);
  padding: ~"calc(1.6em - 4px) 0.4em";
  text-align: center;
  margin: 0 auto;
  width: 175px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 2em;
}
.flowchart-connector {
  display: flex;
  & > .flowchart-line {
    padding: 1em;
    &:before {
      border-left: 2px solid lighten(@black, 75);
      left: 50%;
    }
  }
}
.flowchart-branches {
  display: flex;
}
.flowchart-branch {
  min-width: 175px;
  .flowchart-line:first-child {
    padding: 3em;
    &:before {
      border-top: 2px solid lighten(@black, 75);
      border-left: 2px solid lighten(@black, 75);
      left: 50%;
      width: 100%;
    }
  }
  .flowchart-line:last-child {
    padding: 1em;
    &:before {
      border-left: 2px solid lighten(@black, 75);
      border-bottom: 2px solid lighten(@black, 75);
      left: 50%;
      width: 100%;
    }
  }
}
.flowchart-branches {
  .flowchart-branch:last-child > .flowchart-line:before {
    border-left: none !important;
    border-right: 2px solid lighten(@black, 75);
    left: 0 !important;
    width: calc(50% + 2px);
  }
}
.flowchart-line {
  flex: 1;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }
}
.flowchart-line-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: 2px solid fadeout(@black, 80);
  background-color: @white;
  color: fadeout(@black, 40);
  text-align: center;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding: 0 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
