<p><%= contact_name %>,</p>

<p>
  Thank you for submitting an attraction to EatFresh WNY. Unfortunately,
  your request has been denied because it does not meet our criteria. See
  below for more information:
</p>

<p style="border:1px solid #c9ba9b;background:#fffaf3;color:#573a08;padding:10px;border-radius:5px;">
  <%= rejection_reason %>
</p>

<p>
  Sincerely,<br/>
  The EatFresh WNY team
</p>
