.account-token {
  display: flex;
  flex: 1;
}
.account-token-avatar {
  padding: 0.8em;
  .maha-avatar {
    width: 1.6em;
  }
}
.account-token-details {
  position: relative;
  flex: 1;
  color: #888888 !important;
  strong {
    color: @black !important;
  }
}
.account-token-details {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
}
.account-token-details-inner {
  margin: auto 0;
  line-height: 1.2em;
}
.account-token-activity {
  color: @red;
  margin-left: 5px;
  font-size: 0.8em;
  line-height: 2em;
}
