@black: #000000;
@white: #FFFFFF;

.maha-carousel-block-slide {
  display: flex;
  flex-direction: column;
}
.maha-carousel-block-slide-caption-content {
  color: @white;
  padding: 1rem;
}
@media (max-width: 768px) {
  .ui.container.grid .maha-carousel-block {
    margin: 0 -1rem;
  }
}
