@black: #000000;
@white: #FFFFFF;

.maha-carousel-block-slide {
  position: relative;
  display: flex;
  flex-direction: column;
}
.maha-carousel-block-slide-image {
}
.maha-carousel-block-slide-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: fadeout(@black, 50);
  color: @white;
  padding: 0.8em;
}
.maha-carousel-block-slide-caption-content {
}
