@black: #000000;
@white: #FFFFFF;

.maha-carousel-block-slide {
  position: relative;
  display: flex;
  flex-direction: column;
}
.maha-carousel-block-slide-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.maha-carousel-block-slide-caption-content {
  background-color: fadeout(@black, 50);
  color: @white;
  padding: 1rem;
}
@media (max-width: 768px) {
  .ui.container.grid .maha-carousel-block {
    margin: 0 -1rem;
  }
}
