.maha-contactfield-options {
  flex: 1;
  .scrollable();
}
.maha-contactfield-option {
  border-bottom: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
