.crm-criterion {
  flex: 1;
  display: flex;
}
.crm-criterion-fields {
  .scrollable();
  flex: 1;
}
.crm-criterion-field {
  padding: 0.8em;
  border-bottom: 1px solid fadeout(@black, 95);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
