.maha-filters {
  flex: 1;
  position: relative;
  overflow:hidden;
  .maha-modal-panel {
    &.slide-enter, &.slide-exit {
    	.transition(transform .25s ease-in-out 0s);
    }
    &.slide-exit.slide-exit-active, &.slide-enter {
    	.translateX(100%);
    }
    &.slide-enter.slide-enter-active, &.slide-exit {
    	.translateX(0);
    }
  }
}
.maha-filters-item-description {
  flex: 0 0 2em;
  display: flex;
  .maha-filters-item-count {
    margin: auto;
    background-color: fadeout(@black, 85);
    border-radius: 50%;
    color: @white;
    text-align: center;
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    font-size: .7em;
    line-height: 2em;
  }
}
.maha-filters-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-filters-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  .maha-search-header {
    border-bottom: 1px solid fadeout(@black, 95);
  }
}
.maha-filters-footer {
  .hover(background-color, fadeout(@black, 90));
  text-align: center;
  padding: 0.4em;
  cursor: pointer;
  color: fadeout(@black, 50);
}
.maha-filters-item {
  .hover(background-color, fadeout(@black, 97));
  display: flex;
  line-height: 1.6em;
  cursor: pointer;
  border-bottom: 1px solid fadeout(@black, 95);
}
.maha-filters-item-content {
  flex: 1;
  display: flex;
}
.maha-filters-item-title {
  flex: 1;
  padding: 0.8em;
}
.maha-filters-item-icon {
  flex: 0 0 2em;
  display: flex;
  .fa {
    margin: auto;
  }
  .fa-chevron-right {
    color: fadeout(@black, 90);
  }
  .fa-check {
    color: @green;
  }
  .fa-times {
    color: @red;
  }
}
