.chatbar {
  flex: 1;
  position: relative;
  background-color: @white;
  .chat-channels-header,
  .maha-modal-panel-header,
  .maha-searchbox {
    background-color: @blue !important;
  }
  .chat-channel-header-info {
    display: none;
  }
  .maha-searchbox {
    padding: 0 0.8em 0.8em;
  }
}
.chatbar-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
