.attraction-token,
.category-token,
.offering-token {
	flex: 1;
	display: flex;
}
.attraction-token-photo,
.category-token-photo,
.offering-token-photo {
	display: flex;
  .maha-image {
		margin: auto 0 auto 0.8em;
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    display: block;
		overflow: hidden;
		img {
			width: 100%;
		}
  }
}
.attraction-token-title,
.category-token-title,
.offering-token-title {
  padding: 0.8em;
	min-height: 2.1em;
  line-height: 1.6em;
  flex: 1;
}
