.addressesfield {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  overflow: hidden;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: none;
    .addressesfield-address:first-child {
      outline: none !important;
      border-color: @lightblue;
      background: @white;
      box-shadow: none;
    }
  }
}
.addressesfield-address {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
}
.addressesfield-address-field {
  flex: 1;
  .addressfield {
    border: none;
  }
}
.addressesfield-address-action {
  padding: 0.4em 0.4em 0.4em 0;
  display: flex;
  .ui.button {
    padding: 0.7em;
    margin: 0;
  }
  .fa-times {
    color: fadeout(@black, 80);
    font-size: 1.2em;
    margin: auto;
    cursor: pointer;
    &:hover {
      color: fadeout(@black, 20);
    }
  }
}
.addressesfield-add {
  padding: 0.4em 0.8em;
  background-color: fadeout(@black, 98);
  .link {
    font-size: 0.8em;
  }
}
