.line-items-instructions {
  color: fadeout(@black, 40);
  margin-bottom: 0.8em;
}
.line-items-inline {
  .link {
    margin-top: 0.8em;
  }
}
.line-items-table {
  table.ui.unstackable.table {
    border-radius: 0.5em 0.5em;
    margin: 0 0 0.8em;
  }
  thead, tfoot {
    th {
      background-color: fadeout(@black, 90) !important;
    }
    td, th {
      padding: .5em .7em !important;
    }
  }
  tbody {
    td:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    td:nth-child(3),
    td:nth-child(4) {
      width: 2em;
    }
  }
  tfoot {
    th {
      border-top: 1px solid fadeout(@black, 90) !important;
    }
    td {
      border-top: 1px solid fadeout(@black, 90) !important;
    }
  }
  .alert {
    margin-top: 0.8em;
  }
}
.line-items-action {
  &.disabled .fa {
    color: fadeout(@black, 80);
  }
  text-align: center;
  cursor: pointer;
  .fa {
    color: fadeout(@black, 50);
  }
  &:hover .fa {
    color: @black;
  }
}
@media (max-width: 769px) {
  .line-items tbody td {
    max-width: ~"calc(100vw - 20em)";
  }
}
