.finance-line-items {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  overflow: hidden;
  table.ui.table {
    border-radius: 0;
    border: none;
    margin: 0 !important;
  }
}
.finance-line-items-empty {
  td {
    text-align: center !important;
  }
}
.finance-line-items-header {
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4) {
    width: 70px;
  }
  th:nth-child(5) {
    width: 35px;
  }
}
.finance-line-items-row {
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4) {
    text-align: right;
    width: 70px;
  }
}
.finance-line-items-total {
  td:nth-child(2) {
    font-weight: bold;
    text-align: right;
  }
  td:first-child,
  td:nth-child(3) {
    background-color: fadeout(@black, 97);
  }
}
.finance-line-items-addon {
  td:nth-child(2) {
    text-align: right;
  }
}

.finance-line-items-row,
.finance-line-items-addon {
  td:last-child {
    width: 35px;
    text-align: center;
    cursor: pointer;
    &.disabled .fa {
      color: fadeout(@black, 80);
    }
    &:hover .fa {
      color: @black;
    }
    .fa {
      color: fadeout(@black, 50);
    }
  }
}
.finance-line-items-actions {
  border-top: 1px solid fadeout(@black, 90);
  padding: 0.8em;
}
