.maha-cart {
  width: 100%;
  padding: 0.8em;
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
  table {
    background: @white;
    width: 100%;
    border-top: 1px solid fadeout(@black, 90);
    border-left: 1px solid fadeout(@black, 90);
  }
  thead {
    td {
      background: fadeout(@black, 97);
      font-weight: bold;
    }
  }
  tbody {
    tr {
      td:nth-child(2) {
        width: 40px;
        text-align: right;
      }
      td:nth-child(3),
      td:nth-child(4) {
        width: 60px;
        text-align: right;
      }
    }
  }
  tfoot {
    tr {
      td:first-child {
        border-right: 1px solid fadeout(@black, 90);
        background: fadeout(@black, 97);
        font-weight: bold;
      }
      td:last-child {
        width: 60px;
        text-align: right;
      }
    }
  }
  td, th {
    padding: 0.6em;
    border-bottom: 1px solid fadeout(@black, 90);
    border-right: 1px solid fadeout(@black, 90);
  }
}

.maha-cart-product {
  display: flex;
}
.maha-cart-product-image {
  img {
    width: 32px;
  }
}
.maha-cart-product-details {
  flex: 1;
  padding-left: 0.8em;
}
.maha-cart-product-name {
  line-height: 1em;
}
.maha-cart-product-options {
  color: fadeout(@black, 60);
  font-size: 0.8em;
}
