.crm-recording-token {
  background-color: @green;
  border-radius: 50%;
  display: flex;
  width: 2em;
  height: 2em;
  cursor: pointer;
  &:hover {
    background-color: darken(@green, 10);
  }
  .fa {
    color: @white;
    margin: auto !important;
    font-size: 0.8em;
  }
}
