.crm-recording-token {
  border-radius: 50%;
  display: flex;
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: fadeout(@black, 70);
  &:hover {
    background-color: fadeout(@black, 80);
  }
  &.playing {
    background-color: @green;
    &:hover {
      background-color: lighten(@green, 5);
    }
  }
  .fa {
    color: @white;
    margin: auto !important;
    font-size: 0.8em;
  }
}
