.maha-message {
	position: relative;
  display: flex;
	padding: 0 0.8em 0 0;
	flex: 1;
	.colorize(background-color);
	&.red,&.orange,&.yellow,&.green,&.blue,&.purple,&.violet,&.teal {
		h3, p {
			color: @white !important;
		}
		.ui.button {
			box-shadow: 0 0 0 1px @white inset !important;
			background: none !important;
			color: @white !important;
			&:hover {
				box-shadow: 0 0 0 1px @white inset !important;
				background: fadeout(@white, 80) !important;
				color: @white !important;
			}
		}
		i {
			box-shadow: 0 0 0 0.1em fadeout(@white, 40) inset;
			background: none !important;
			color: @white !important;
		}
	}
}
.maha-message-panel {
	margin: auto;
  text-align: center;
  width: 350px;
	padding: 3.2em 0.8em;
  h3 {
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 0;
		color: fadeout(@black, 40);
  }
  p {
    color: fadeout(@black, 40);
		line-height: 1.8em;
  }
  .ui.button {
		margin: 1.6em 0 0;
    display: block;
		background: none !important;
		cursor: pointer;
  }
	.maha-buttons {
		margin: 0 -0.4em;
	}
}
.maha-message-panel-icon {
	margin: 0 0 0.5em;
	h2 {
		font-size: 3.5em;
	}
	i {
		border-radius: 50% !important;
		line-height: 1 !important;
		padding: .5em !important;
		box-shadow: 0 0 0 0.1em fadeout(@black, 90) inset;
		width: 2em !important;
		height: 2em !important;
		color: fadeout(@black, 40);
		background-color: fadeout(@white, 20);
		.colorize(color);
	}
	img {
		border-radius: 50% !important;
		line-height: 1 !important;
		padding: 1.5em !important;
		box-shadow: 0 0 0 0.25em fadeout(@black, 90) inset;
		width: 7em !important;
		height: 7em !important;
		background-color: fadeout(@white, 40);
	}
}
