.maha-phone-receiver {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-receiver-inactive {
  background-color: fadeout(@black, 97);
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.maha-phone-receiver-inactive-avatar {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
    border-radius: 50%;
    color: @white;
    text-align: center;
  }
  .fa-play {
    background-color: @green;
  }
  .fa-pause {
    background-color: @red;
  }
}
.maha-phone-receiver-inactive-label {
  padding: 0.8em;
  flex: 1;
  span {
    color: fadeout(@black, 60);
  }
}
.maha-phone-receiver-inactive-timer {
  padding: 0.8em 0.8em 0.8em 0;
  color: @blue;
  line-height: 2.6em;
}
.maha-phone-receiver-active {
  flex: 1;
  display: flex;
}
.maha-phone-call {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  background-color: @white;
}
.maha-phone-call-header {
  display: flex;
  padding: 0.8em;
  &.inbound {
    .maha-phone-call-header-program {
      order: 3;
    }
    .maha-phone-call-header-conact {
      order: 1;
    }
  }
  &.outbound {
    .maha-phone-call-header-program {
      order: 1;
    }
    .maha-phone-call-header-conact {
      order: 3;
    }
  }
}
.maha-phone-call-header-link {
  display: flex;
  order: 2;
  .fa {
    font-size: 1.6em;
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-phone-call-header-program,
.maha-phone-call-header-contact {
  flex: 1;
  text-align: center;
  .maha-logo,
  .contact-avatar-token {
    width: 4em;
    margin: 1em auto;
  }
  .maha-avatar-text {
    font-size: 2em;
  }
  h4, p {
    text-align: center;
    margin: 0;
  }
  p {
    color: fadeout(@black, 60);
  }
}
.maha-phone-call-timer {
  padding: 0.8em;
  text-align: center;
  .crm-timer {
    color: fadeout(@black, 40);
    font-size: 1.4em;
  }
}
.maha-phone-call-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-call-actions {
  margin-top: 1.6em;
  display: flex;
}
.maha-phone-call-action {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-phone-call-button {
  margin: 0 auto;
  display: inline-flex;
  background-color: fadeout(@black, 80);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 85);
  }
  .fa {
    margin: auto;
    color: @white;
    font-size: 1.4em;
  }
  &.depressed {
    background-color: @blue;
  }
  &.pickup {
    background-color: @green;
    &:hover {
      background-color: lighten(@green, 5);
    }
  }
  &.hangup {
    background-color: @red;
    &:hover {
      background-color: lighten(@red, 5);
    }
    .fa {
      transform: rotate(135deg);
      color: @white;
    }
  }
}
.maha-phone-call-label {
  text-align: center;
  padding: 0.4em 0;
  font-size: 0.8em;
}
