.maha-phone-call {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: @white;
}
.maha-phone-call-program {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
}
.maha-phone-call-contact {
  text-align: center;
  padding: 0.8em;
  .contact-avatar-token {
    width: 8em;
    margin: 1em auto;
  }
  .maha-avatar-text {
    font-size: 3em;
  }
  h2, p {
    text-align: center;
    margin: 0;
  }
  p {
    color: fadeout(@black, 60);
  }
}
.maha-phone-call-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.maha-phone-call-timer {
  height: 2em;
  text-align: center;
  h3 {
    text-align: center;
    margin: 0;
    color: fadeout(@black, 60);
  }
}
.maha-phone-call-actions {
  display: flex;
}
.maha-phone-call-action {
  flex: 1;
  display: flex;
}
.maha-phone-call-button {
  margin: 0 auto;
  display: inline-flex;
  background-color: fadeout(@black, 80);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
  .fa {
    margin: auto;
    color: @white;
    font-size: 1.4em;
  }
  &.depressed {
    background-color: fadeout(@black, 90);
    .fa {
      color: fadeout(@black, 60);
    }
  }
  &.pickup {
    background-color: @green;
    &:hover {
      background-color: lighten(@green, 5);
    }
  }
  &.hangup {
    background-color: @red;
    &:hover {
      background-color: lighten(@red, 5);
    }
    .fa {
      transform: rotate(135deg);
      color: @white;
    }
  }
}
