#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
@import '../../../../lib/client/style.less';
@import './components/carticon/style.less';
@import './components/catalog/style.less';
@import './components/categories/style.less';
@import './components/product/style.less';
@import './components/quantity/style.less';
@import './components/store/style.less';
