<% const t = (text,output) => '<'+(output ? '%-' : '%' )+' '+text+' %'+'>' %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/css/semantic.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <%= t('logo = program.logo || team.logo', false) %>
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="/imagecache/fit=cover&w=180&h=180<%= t('logo', true) %>">
    <link id="favicon" rel="shortcut icon" href="/imagecache/fit=cover&w=180&h=180<%= t('logo', true) %>">
    <title><%= t('store.title', true) %></title>
    <meta property="og:title" content="<%= t('store.title', true) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= t('store.url', true) %>" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://dev.mahaplatform.com:8080/maha.js"></script>
    <script>
      window.token = <%= t('JSON.stringify(token)', true) %>;
      window.store = <%= t('JSON.stringify(store)', true) %>;
    </script>
  </body>
</html>
