.maha-imageeditor {
  flex: 1;
  display: flex;
}
.maha-imageeditor-sidebar {
  flex: 0 0 ~"calc(100% / 3)";
  border-right: 1px solid fadeout(@black, 90);
  display: flex;
}
.maha-imageeditor-panel {
  flex: 1;
  padding: 0.8em;
}
.maha-imageeditor-canvas {
  flex: 1;
  background-color: fadeout(@black, 95);
  padding: 0.8em;
  display: flex;
}
.maha-imageeditor-canvas-frame {
  border: 1px solid @white;
  margin: auto;
  img, canvas {
    display: block;
  }
}
