.stores-productform {
  flex-direction: column;
  display: flex;
  flex: 1;
}
.stores-productform-header {
  display: flex;
}
.stores-productform-body {
  display: flex;
  flex: 1;
}
.variantsfield-variants {
  &.selectable {
    tr {
      cursor: pointer;
      &:hover {
        background-color: fadeout(@black, 97);
      }
    }
  }
}
.variantsfield-variant {
  &.inactive td {
    color: fadeout(@black, 80);
  }
  th, td {
    padding: 0.8em !important;
    &.unpadded {
      padding: 0 !important;
    }
  }
  .fa-check-square {
    color: @blue;
  }
  .fa-chevron-right {
    color: fadeout(@black, 80);
  }
  .maha-numberfield {
    margin: -0.4em;
    width: 80px;
  }
  .fa-check {
    font-size: 1.4em;
    color: @green
  }
}
.variantsfield-variant-action {
  cursor: pointer;
  color: fadeout(@black, 80);
  &:hover {
    color: fadeout(@black, 40);
  }
}
