.crm-program-channels {
  background-color: @white;
  display: flex;
  flex: 1;
}
.crm-program-channels-types {
  background-color: fadeout(@black, 90);
}
.crm-program-channels-type {
  padding: 1em;
  color: fadeout(@black, 60);
  cursor: pointer;
  &.selected {
    background-color: fadeout(@black, 90) !important;
  }
  &:hover {
    background-color: fadeout(@black, 95);
  }
  .fa {
    font-size: 1.2em;
  }
}
.crm-program-channels-sidebar {
  flex: 0 0 350px;
  display: flex;
}
.crm-program-channels-body {
  flex: 1;
  display: flex;
}
.crm-program-channels-channels {
  .scrollable();
  flex: 1;
}
.crm-program-channels-channel {
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &.selected {
    background-color: fadeout(@black, 95) !important;
  }
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
