.maha-phone-voicemail-result-token {
  display: flex;
  flex: 1;
}
.maha-phone-voicemail-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 60);
  }
}

.maha-phone-voicemail-token {
  display: flex;
  flex: 1;
}
.maha-phone-voicemail-token-icon {
  flex: 0 0 1.2em;
  padding: 0.8em 0 0.8em 0.6em;
  display: flex;
  .fa {
    margin: auto;
    color: @blue;
    font-size: 0.8em;
  }
}
.maha-phone-voicemail-token-avatar {
  padding: 0.8em 0 0.8em 0.6em;
  display: flex;
  position: relative;
  .contact-avatar-token {
    margin: auto;
    width: 2.2em;
  }
  .maha-logo-text {
    font-size: 0.8em;
  }
  .fa {
    background-color: @white;
    color: @blue;
    border: 1px solid @white;
    border-radius: 50%;
    position: absolute;
    bottom: 1em;
    right: -0.3em;
    font-size: 0.9em;
  }
}
.maha-phone-voicemail-token-label {
  position: relative;
  flex: 1;
  padding: 0.8em;
  span {
    color: fadeout(@black, 60);
  }
}
.maha-phone-voicemail-token-timestamp {
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
  color: @blue;
  font-size: 0.8em;
}
