.maha-notifications {
  flex: 1;
  display: flex;
  position: relative;
}
.maha-notifications-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.maha-notifications-frame {
  .translate-y-transition(-100%, 0, .25s);
  position: absolute;
  top: 0.8em;
  right: 0;
  left: 0;
  display: flex;

}
.maha-notifications-panel {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: @white;
  width: ~"calc(100% - 2em)";
  @media only screen and (min-width: 769px) {
    max-width: ~"calc(800px - 2em)";
  }
}
.maha-notifications-header {
  background-color: @red;
}
.maha-notifications-item {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 95);
  position: relative;
}
.maha-notifications-item-avatar {
  flex: 0 0 3.5em;
  padding: 0.8em 0 0.8em 0.8em;
  img {
    width: 100%;
  }
}
.maha-notifications-item-label {
  padding: 0.8em 2.4em 0.8em 0.8em;
  color: fadeout(@black, 50);
  strong {
    color: @black;
  }
}
.maha-notifications-item-remove {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  cursor: pointer;
  color: fadeout(@black, 20);
  .hover(color, fadeout(@black, 40));
}
