.fullchat {
  flex: 1;
  display: flex;
  background-color: @white;
  .channel-token-proceed {
    display: none;
  }
  .chat-channel {
    flex: 1;
  }
  .chat-info {
    border-left: 1px solid fadeout(@black, 90);
  }
  .fullchat-channel {
    .maha-message {
      border-left: 1px solid fadeout(@black, 90);
    }
  }
  .chat-channels-header,
  .maha-modal-panel-header,
  .maha-searchbox {
    background-color: @blue !important;
  }
  .fullchat-info {
    display: none;
  }
  &.info .fullchat-info {
    display: flex;
  }
  .chat-channels-header-search {
    .maha-searchbox-input {
      background-color: fadeout(@white, 70);
    }
    .maha-searchbox-remove-icon {
      .hover(color, fadeout(@white, 10));
      color: fadeout(@white, 30);
    }
    .maha-searchbox-icon {
      color: @white;
    }
    input {
      color: @white !important;
      &::-webkit-input-placeholder {
        color: fadeout(@white, 20);
      }
      &:-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-moz-placeholder {
        color: fadeout(@white, 20);
      }
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: fadeout(@white, 20);
      }
    }
  }
}
.fullchat-info {
  flex: 0 0 33%;
  max-width: 420px;
  min-width: 280px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.fullchat-left {
  flex: 0 0 25%;
  max-width: 420px;
  min-width: 280px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.fullchat-channel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.fullchat-channel-header {
  background-color: fadeout(@black, 30);
  display: flex;
}
.fullchat-channel-header-detail {
  padding: 0.8em 0 0.8em 0.8em;
  flex: 1;
  line-height: 1.75em;
  color: @white;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.fullchat-channel-header-action {
  flex: 0 0 3.2em;
  padding: 0.8em;
  cursor: pointer;
  display: flex;
  &:hover {
    background-color: fadeout(@black, 20);
  }
  .fa {
    margin: auto;
    font-size: 1.2em;
    color: @white;
  }
}
.fullchat-channel-body {
  flex: 1;
  display: flex;
  border-left: 1px solid fadeout(@black, 90);
}
