.program-access-token {
  display: flex;
}
.program-access-token-details {
  flex: 1;
}
.program-access-token-type {
  padding: 0.4em 0.8em;
  display: flex;
  .program-access-type-token {
    margin: auto;
  }
}
