.import-summary {
  flex: 1;
}
.import-summary-item {
  display: flex;
  border-bottom: 1px solid fadeout(@black, 95);
}
.import-summary-item-icon {
  display: flex;
  padding: 0.8em 0 0.8em 0.8em;
}
.import-summary-item-icon-circle {
  margin: 0 auto auto;
  display: flex;
  border-radius: 50%;
  padding: 0.3em;
  &.green {
    background-color: @green;
  }
  &.red {
    background-color: @red;
  }
  &.teal {
    background-color: @teal;
  }
  .fa {
    line-height: 1.4em;
    font-size: 1em;
    margin: auto;
    color: @white;
  }
}
.import-summary-item-label {
  line-height: 2em;
  padding: 0.8em;
  flex: 1;
  ul {
    margin: 0;
    padding: 0 0 0 1.4em;
  }
  li {
    color: fadeout(@black, 40);
    line-height: 1.4em;
  }
}
.import-summary-item-action {
  display: flex;
  padding: 0.8em;
  .ui.button {
    width: 6em;
    margin: 0 0 auto 0.5em;
  }
}
