.platform-desktop-video {
  background-color: @black;
  display: flex;
  width: 322px;
  height: 242px;
}
.platform-mobile-video {
  background-color: @black;
  display: flex;
  width: 140px;
  height: 242px;
}
