.maha-payment-methods {
  margin-bottom: 0.8em;
}
.maha-payment-options {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.28em;
  .maha-payment-option:last-child {
    border-bottom: none;
  }
}
.maha-payment-option {
  border-bottom: 1px solid fadeout(@black, 90);
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
.maha-payment-option-icon {
  padding: 0.8em 0 0.8em 0.8em;
  display: flex;
  .fa {
    font-size: 1.2em;
    margin: auto;
  }
  .fa-circle-o {
     color: fadeout(@black, 80);
   }
   .fa-check-circle {
     color: @blue;
   }
}
.maha-payment-option-mark {
  padding: 0.4em 0 0.4em 0.8em;
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 25px;
    display: block;
  }
}
.maha-payment-option-label {
  flex: 1;
  padding: 0.8em;
  display: flex;
  align-items: center;
}
