.maha-collection {
  flex: 1;
  display: flex;
  background-color: lighten(@black, 95);
}
.maha-collection-sidebar {
  flex: ~"0 0 calc(100% / 3)";
  max-width: 325px;
  display: flex;
  .maha-modal-panel {
    background-color: lighten(@black, 97);
  }
  .maha-modal-panel-header {
    flex: none;
  }
  .maha-modal-panel-header-title {
    padding: 0.65em 0;
  }
  .maha-modal-panel-header-navigation-item {
    padding: 0.65em 0.8em;
  }
}
.maha-collection-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-collection-header {
  background-color: @red;
  padding: 0 0.8em 0.8em;
}
.maha-collection-header-bar {
  background-color: fadeout(@white, 50);
  border-radius: 0.5em;
  display: flex;
  & > div {
    border-right: 1px solid @red;
  }
  .maha-searchbox {
    padding: 0;
  }
}
.maha-collection-header-action {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  flex: 0 0 2.5em;
  .fa {
    color: @white;
    margin: auto;
    font-size: 1.2em;
    line-height: 1em;
  }
  &:hover {
    background-color: fadeout(@white, 80);
  }
}
.maha-collection-body {
  flex: 1;
  display: flex;
  background-color: @white;
}
.maha-collection-footer {
  background-color: fadeout(@black, 10);
  display: flex;
}
.maha-collection-footer-count {
  padding: 0.6em 0.8em 0.6em 1.2em;
  color: @white;
  text-align: center;
}
.maha-collection-footer-text {
  color: @white;
  padding: 0.8em 0 0.8em 0.8em;
  line-height: 2.4em;
}
.maha-collection-footer-buttons {
  padding: 0.8em 0.4em;
  flex: 1;
}
.maha-collection-loader {
  flex: 0 0 3.5em;
  position: relative;
  background: #DDD;
}
.maha-collection-empty {
  flex: 1;
  display: flex;
  margin: 20px;
  border: 3px dashed #DDD;
  background-color: fadeout(@black, 98%)
}
.maha-collection-empty-message {
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 19em;
  h2 {
    margin: 0 0 20px;
    font-size: 50px;
    i {
      background-color: @white;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: fadeout(@black, 40);
  }
  p {
    margin: 0 0 20px;
    color: #888;
  }
  .ui.basic.red.button {
    display: block;
    background: @white !important;
  }
}

.maha-collection-footer {
  .translate-y-transition(100%, 0, .15s);
  flex: 0 0 4em;
  display: flex;
  background-color: @black;
  button.ui.button {
    &.disabled,
    &:disabled {
      opacity: 1 !important;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: fadeout(@white, 30);
      }
    }
  }
}
.maha-collection-footer-items {
  margin: auto;
  width: 100%;
  max-width: 800px;
  display: flex;
}
.maha-collection-footer-item {
  flex: 1;
  display: flex;
  padding: 0 0.5em;
  & > * {
    margin: auto !important;
  }
}

.maha-collection-dropdown {
  position: absolute;
  right: 0;
  min-width: 150px;
  border-radius: 0.3em;
  background-color: @white;
  border: 1px solid fadeout(@black, 95);
  z-index: 2;
  font-weight: normal;
  box-shadow: 0 3px 8px fadeout(@black, 70);
  top: ~"calc(100% + 10px)";
  &:after {
    bottom: 100%;
    border-bottom-color: @white !important;
  }
  &:before {
    bottom: 100%;
    border-bottom-color: fadeout(@black, 85) !important;
  }
  &:after,
  &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-width: 9px;
    margin-left: -9px;
    right: 10px;
  }
  &:before {
    border-width: 10px;
    margin-left: -10px;
    right: 9px;
  }
}
.maha-collection-dropdown-item {
  padding: 0.4em 0.8em;
  cursor: pointer;
  color: fadeout(@black, 50);
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
