.maha-collection {
  flex: 1;
  display: flex;
  background-color: lighten(@black, 95);
}
.maha-collection-sidebar {
  flex: ~"0 0 calc(100% / 3)";
  max-width: 350px;
  display: flex;
  .maha-modal-panel {
    background-color: lighten(@black, 97);
  }
  .maha-modal-panel-header {
    flex: none;
  }
  .maha-modal-panel-header-title {
    padding: 0.65em 0;
  }
  .maha-modal-panel-header-navigation-item {
    padding: 0.65em 0.8em;
  }
}
.maha-collection-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-collection-header {
  background-color: @red;
  padding: 0 0.8em 0.8em;
}
.maha-collection-header-bar {
  background-color: fadeout(@white, 50);
  border-radius: 0.5em;
  display: flex;
  overflow: hidden;
  & > div {
    border-right: 1px solid @red;
  }
  .maha-searchbox {
    padding: 0;
  }
}
.maha-collection-header-action {
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  flex: 0 0 2.5em;
  .fa {
    color: @white;
    margin: auto;
    font-size: 1.2em;
    line-height: 1em;
  }
  &:hover {
    background-color: fadeout(@white, 80);
  }
}
.maha-collection-body {
  flex: 1;
  display: flex;
  background-color: @white;
}
.maha-collection-tasks {
  overflow: hidden;
  display: flex;
}
.maha-collection-tasks-panel-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1;
}
.maha-collection-tasks-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.maha-collection-tasks-panel-header {
  border-bottom: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  text-align: center;
  display: flex;
  .maha-collection-tasks-panel-header-icon {
    &:first-child {
      padding: 1em 0 1em 1em;
    }
    &:last-child {
      padding: 1em 1em 1em 0;
    }
  }
}
.maha-collection-tasks-panel-header-icon {
  flex: 0 0 3em;
  display: flex;
  cursor: pointer;
  i {
    color: fadeout(@black, 80);
    margin: auto;
  }
}
.maha-collection-tasks-panel-header-title {
  flex: 1;
  padding: 1em 0;
  line-height: 1.4em;
  color: fadeout(@black, 50)
}
.maha-collection-tasks-panel-body {
  flex: 1;
  .scrollable();
}
.maha-collection-footer {
  background-color: fadeout(@black, 10);
  display: flex;
}
.maha-collection-footer-count {
  padding: 0.6em 0.8em 0.6em 1.2em;
  color: @white;
  text-align: center;
}
.maha-collection-footer-text {
  color: @white;
  padding: 0.8em 0 0.8em 0.8em;
  line-height: 2.4em;
}
.maha-collection-footer-buttons {
  padding: 0.8em 0.4em;
  flex: 1;
}
.maha-collection-tasks-panel .maha-task,
.maha-collection-tasks-panel-item {
  .hover(background-color, fadeout(@black, 95));
  line-height: 1.57em;
  padding: 0.8em;
  cursor: pointer;
  color: fadeout(@black, 50);
  i {
    margin-right: 1em;
  }
}
.maha-collection-loader {
  flex: 0 0 3.5em;
  position: relative;
  background: #DDD;
}
.maha-collection-empty {
  flex: 1;
  display: flex;
  margin: 20px;
  border: 3px dashed #DDD;
  background-color: fadeout(@black, 98%)
}
.maha-collection-empty-message {
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 19em;
  h2 {
    margin: 0 0 20px;
    font-size: 50px;
    i {
      background-color: @white;
    }
  }
  h3 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: fadeout(@black, 40);
  }
  p {
    margin: 0 0 20px;
    color: #888;
  }
  .ui.basic.red.button {
    display: block;
    background: @white !important;
  }
}

.maha-collection-tasks {
  display: flex;
  &.filter .maha-collection-filter,
  &.export .maha-collection-export {
    .translateX(0);
  }
}
.maha-collection-tasks-inner {
  flex: 1;
  position: relative;
}
.maha-collection-filter,
.maha-collection-export {
  flex: 1;
}

.maha-collection-footer {
  .translate-y-transition(100%, 0, .15s);
  flex: 0 0 4em;
  display: flex;
  background-color: @black;
  button.ui.button {
    &.disabled,
    &:disabled {
      opacity: 1 !important;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: fadeout(@white, 30);
      }
    }
  }
}
.maha-collection-footer-items {
  margin: auto;
  width: 100%;
  max-width: 800px;
  display: flex;
}
.maha-collection-footer-item {
  flex: 1;
  display: flex;
  padding: 0 0.5em;
  & > * {
    margin: auto !important;
  }
}
