


.expense-item-token {
  display: flex;
  .expense-item-token-details {
    flex: 1;
    padding: 1em;
    h2 {
      margin: 0;
      color: @black;
    }
  }
  .expense-item-token-badge {
    flex: 0 0 100px;
    display: flex;
    .expense-item-status {
      margin: auto;
    }
  }
}


.expense-type-token-description {
  color: fadeout(@black, 50);
}
