.maha-photoeditor {
  flex: 1;
  display: flex;
}
.maha-photoeditor-toolbar {
  flex: 0 0 ~"calc(100% / 3)";
  padding: 0.8em;
}
.maha-photoeditor-canvas {
  flex: 1;
  background-color: fadeout(@black, 30);
  padding: 0.8em;
  display: flex;
}
.maha-photoeditor-canvas-frame {
  border: 1px solid @white;
  margin: auto;
  canvas {
    display: block;
  }
}
