.maha-datefield-input {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &:focus {
    outline: none !important;
    border-color: #85B7D9;
    border-radius: .28571429rem;
    background: #FFF;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
}
.maha-datefield-field {
  padding: 0.8em;
  line-height: 1em;
  flex: 1;
  color: fadeout(@black, 70);
}
.maha-datefield-token {
  color: fadeout(@black, 40);
}
.maha-datefield-remove {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    margin: auto;
    line-height: 1em;
    color: fadeout(@black, 80);
    cursor: pointer;
  }
}
.maha-datefield-chooser {
  padding: 1em;
}
.maha-datefield-month {
  display: flex;
  flex-direction: column;
}
.maha-datefield-header {
  background-color: fadeout(@black, 80);
  flex: 1;
  display: flex;
}
.maha-datefield-weekdays {
  background-color: fadeout(@black, 90);
  flex: 1;
  display: flex;
}
.maha-datefield-previous,
.maha-datefield-title,
.maha-datefield-next,
.maha-datefield-weekday,
.maha-datefield-day {
  flex: 0 0 calc(100% / 7);
  border: 1px solid @white;
  text-align: center;
}
.maha-datefield-weekday {
  padding: 0.5em 0;
  font-size: 0.9em;
  text-transform: uppercase;
}
.maha-datefield-previous,
.maha-datefield-title,
.maha-datefield-next,
.maha-datefield-day {
  padding: 0.5em 0;
  text-align: center;
}
.maha-datefield-previous,
.maha-datefield-next {
  .hover(background-color, fadeout(@black, 85));
  cursor: pointer;
}
.maha-datefield-title {
  flex: 1;
}
.maha-datefield-week {
  flex: 1;
  display: flex;
}
.maha-datefield-day {
  .hover(background-color, fadeout(@black, 90));
  flex: 1;
  background-color: fadeout(@black, 95);
  cursor: pointer;
  color: fadeout(@black, 30);
  &.notmonth {
    color: fadeout(@black, 80);
  }
  &.today {
    color: @black;
    font-weight: bold;
  }
  &.selected {
    .hover(background-color, fadeout(@yellow, 80));
    background-color: fadeout(@yellow, 85);
  }
}
.error {
  .maha-datefield-input {
    border-color: #DB2828 !important;
    border-radius: 5px 5px 0 0;
  }
  .maha-datefield-icon {
    border-radius: 5px 0 0 0;
  }
}
