.maha-confirmation {
  border: 1px solid transparent;
  padding: 0 0.6em;
  border-radius: 0.3em;
  display: flex;
  cursor: pointer;
  .fa {
    font-size: 1.2em;
    margin: 0.1em 0.5em 0 0;
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
  .fa-square-o {
    color: fadeout(@black, 80);
  }
  .fa-check-square {
    color: @blue;
  }
}
.maha-confirmation-icon {
  flex: 0 0 1.7em;
}
.maha-confirmation-label {
  flex: 1;
  p:last-child {
    margin: 0 !important;
  }
}
