.colorfield {
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    border-radius: .28571429rem;
    background: @white;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
  }
}
.colorfield-color {
  width: 2em;
  height: 2em;
  cursor: pointer;
}
.colorfield-input {
  display: flex;
}
.colorfield-selected {
  padding: 0.4em 0 0.4em 0.4em;
  .colorfield-color {
    border: 1px solid lighten(@black, 90);
    &.null {
      background: linear-gradient(135deg, @white 0, @white 45%, @red 45%, @red 55%, @white 55%, @white 100%);
    }
  }
}
.colorfield-value {
  flex: 1;
  display: flex;
  input {
    flex: 1;
    border: none !important;
    outline: none !important;
    background: none !important;
    padding: 0.4em !important;
  }
}
.colorfield-clear {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
.colorfield-chooser {
  position: absolute;
  left: -1px;
  right: -1px;
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  padding: 0.4em;
  overflow: hidden;
  z-index: 2;
  &.down {
    top: ~"calc(100% - 0.25em)";
    border-radius: 0 0 0.3em 0.3em;
  }
  &.up {
    bottom: ~"calc(100% - 0.25em)";
    border-radius: 0.3em 0.3em 0 0;
  }
}
.colorfield-chooser-colors {
  width: ~"calc(14em + 2px)";
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid fadeout(@black, 90);
}
.colorfield-chooser-color {
  flex: 0 1.4em;
  height: 1.4em;
  position: relative;
  color: @white;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  &.null {
    background: linear-gradient(135deg, @white 0, @white 45%, @red 45%, @red 55%, @white 55%, @white 100%);
  }
  &:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: fadeout(@white, 80);
    content: ' ';
  }
  .fa {
    margin: auto;
    font-size: 1em;
    line-height: 1em;
  }
}
