.team-email-canvas {
  flex: 1;
  .scrollable();
}
.team-email {
  background-color: @white;
  display: flex;
  flex-direction: column;
  margin: 0.8em auto;
  width: 100%;
  max-width: 800px;
}
.team-email-header {
  background-color: lighten(@black, 97);
  display: flex;
}
.team-email-header-avatar {
  padding: 0.8em 0 0.8em 0.8em;
  .maha-avatar {
    width: 2.8em;
    height: 2.8em;
  }
}
.team-email-header-details {
  flex: 1;
  padding: 0.8em;
  color: fadeout(@black, 50);
  strong {
    color: @black;
  }
}
.team-email-body {
  background: @white;
  iframe {
     width: 100%;
     height: 80vh;
     border: none;
     display: block;
  }
}
.crm-form-card {
  .team-email-feed {
    padding: 0;
  }
}
.team-email-feed {
  padding: 0.8em;
  .team-email-feed-item:last-child {
    padding-bottom: 0;
    &:after {
      content: none;
    }
  }
}
.team-email-feed-item {
  display: flex;
  padding-bottom: 1em;
  position:relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 2px solid @blue;
    transform: translate(0.8em, 1.2em);
  }

}
.team-email-feed-item-icon {
  flex: 0 0 1.6em;
  display: flex;
  z-index: 1;
}
.team-email-feed-item-icon-badge {
  border: 2px solid @blue;
  margin: auto;
  width: 25px;
  height: 25px;
  background: @white;
  border-radius: 50%;
  display: flex;
  .fa {
    margin: auto;
    color: @blue;
    width: 1em;
    font-size: 0.7em;
  }
  .fa-paper-plane {
    transform: translateX(-0.1em);
  }
}
.team-email-feed-item-content {
  flex: 1;
  font-size: 0.8em;
  line-height: 1.2em;
  padding-left: 0.8em;
  color: @black;
}
.team-email-feed-item-timestamp {
  color: fadeout(@black, 60);
}
