@import '../../../../core/client/style.less';

.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body {
  height: auto;
  background: none;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.registration {
  display: flex;
  flex: 1;
}
.registration-main {
  display: flex;
  flex: 1;
}
.registration-sidebar {
  flex: 0 0 40%;
  max-width: 400px;
  background-color: fadeout(@blue, 90);
}

.registration-sidebar-image {
  img {
    width: 100%;
  }
}

.registration-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.registration-panel-body {
  flex: 1;
  padding: 0.8em;
  .scrollable();
}
.registration-panel-content {
  max-width: 580px;
  margin: 0 auto;
  width: 100%;
}
.registration-panel-footer {
  border-top: 1px solid fadeout(@black, 90);
  background: fadeout(@black, 97);
  display: flex;
  .registration-panel-footer-item:first-child {
    text-align: left;
  }
  .registration-panel-footer-item:last-child {
    text-align: right;
  }
}
.registration-panel-footer-item {
  flex: 1;
  padding: 0.8em;
}

@import './components/quantity/style.less';
@import './components/summary/style.less';
@import './components/tickets/style.less';
@import './tokens/organizer/style.less';
@import './tokens/organizer_avatar/style.less';
@import './tokens/session/style.less';
@import './tokens/ticket_type/style.less';
