@import '../../../../core/client/style.less';

.scrollable() {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body {
  height: auto;
  background: none;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

@import './components/quantity/style.less';
@import './components/registration/style.less';
@import './components/registration/step1/style.less';
@import './components/registration/step2/style.less';
@import './components/registration/step3/style.less';
@import './components/registration/step4/style.less';
@import './components/registration/complete/style.less';
@import './components/registration/steps/style.less';
@import './components/registration/summary/style.less';
@import './tokens/organizer/style.less';
@import './tokens/organizer_avatar/style.less';
@import './tokens/session/style.less';
@import './tokens/ticket_type/style.less';
