@keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes slide {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes bounce {
  0%,20%,40%,60%,80%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes bounceup {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(0, -200px, 0);
  }
  60% {
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes bouncedown {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(0, 200px, 0);
  }
  60% {
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes bounceright {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(200px, 0, 0);
  }
  60% {
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes bounceleft {
  0%,60%,75%,90%,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translate3d(-200px, 0, 0);
  }
  60% {
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes zoom {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes flip {
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes flipdown {
  0% {
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes flipup {
  0% {
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes flipright {
  0% {
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes flipleft {
    0% {
      transform-origin: center;
    }
    to {
      opacity: 1;
      transform: perspective(0) rotateY(0deg);
    }
}
@keyframes fold {
  to {
    opacity: 1;
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes folddown {
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes foldup {
  to {
    opacity: 1;
    transform: perspective(0) rotateX(0deg);
  }
}
@keyframes foldright {
  to {
    opacity: 1;
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes foldleft {
  to {
    opacity: 1;
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes roll {
  0% {
    transform-origin: center;
  }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
@keyframes rolldown {
  0% {
    transform-origin: top;
  }
  to {
    transform-origin: top;
    transform: none;
    opacity: 1;
  }
}
@keyframes rollup {
  0% {
    transform-origin: bottom;
  }
  to {
    transform-origin: bottom;
    transform: none;
    opacity: 1;
  }
}
@keyframes rollright {
  0% {
    transform-origin: right;
  }
  to {
    transform-origin: right;
    transform: none;
    opacity: 1;
  }
}
@keyframes rollleft {
  0% {
    transform-origin: left;
  }
  to {
    transform-origin: left;
    transform: none;
    opacity: 1;
  }
}
