<p><%= contact_name %>,</p>

<p>
  Your attraction has been approved and added to our directory!
  We may contact you if we need additional information about this attraction.
  <a href="http://eatfreshwny.com/<%= slug %>">Please review this page</a> and let us
  know if there are any errors.
</p>

<p>Thank you for joining EatFresh WNY!</p>

<p>
  Sincerely,<br/>
  The EatFresh WNY team
</p>
