.maha-form {
  flex: 1;
  padding: 0.8em;
  .scrollable();
}





.maha-input {
  border: 1px solid rgba(34,36,38,.15);
  background-color: @white;
  border-radius: 5px;
  display: flex;
  &:focus {
    outline: none !important;
    border-color: @lightblue;
    box-shadow: none;
  }
  &.disabled {
    background-color: fadeout(@black, 97);
    color: fadeout(@black, 90);
    * {
      color: fadeout(@black, 90) !important;
    }
  }
}
.maha-input-placeholder {
  color: fadeout(@black, 70);
  min-height: 2em;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  line-height: 2em;
}
.maha-input-tokens {
  padding: 0.2em;
  min-height: 2em;
  line-height: 2em;
}
.maha-input-token {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em 0.5em;
  background-color: fadeout(@black, 95);
  color: fadeout(@black, 40);
  border-radius: 0.2em;
  line-height: 1.7em;
}
.maha-input-field {
  flex: 1;
  display: flex;
  input {
    flex: 1;
    border: none !important;
    outline: none !important;
    background: none !important;
    padding: 0.8em !important;
  }
}
.maha-input-clear {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    .hover(color, fadeout(@black, 70));
    color: fadeout(@black, 80);
    margin: auto;
    cursor: pointer;
  }
}
