.crm-email-campaign-results-header {
  padding: 0.8em;
  overflow: hidden;
  .maha-progress-bar {
    margin: 0.8em 0;
  }
  ul {
    margin: 0;
    float: right;
    li:first-child {
      &:after {
        content: ' | ';
      }
    }
  }
  li {
    list-style: none;
    display: inline-block;
  }
}
