.flowchart-designer-blocks {
  flex: 1;
  .scrollable();
  padding: 0.8em;
}
.flowchart-designer-blocks-section-title {
  font-weight: bold;
  margin-bottom: 0.8em;
}
.flowchart-designer-blocks-section-items {
}
.flowchart-designer-block {
  display: flex;
  background-color: @white;
  margin-bottom: 0.8em;
  cursor: pointer;
  &:hover {
    background-color: lighten(@black, 97);
  }
  overflow: hidden;
}
.flowchart-designer-block-icon {
  display: flex;
  padding: 0.6em;
  color: @white;
  .fa {
    margin: auto;
  }
}
.flowchart-designer-block-label {
  border: 1px solid fadeout(@black, 90);
  border-left: none;
  color: fadeout(@black, 40);
  text-transform: uppercase;
  flex: 1;
  padding: 0.8em;
  font-size: 0.8em;
  font-weight: bold;
}
.flowchart-designer-block-draglayer {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid fadeout(@black, 80);
  border-radius: 50%;
  color: @white;
  display: flex;
  width: 2em;
  height: 2em;
  z-index: -1;
  border-radius: 50%;
  text-align: center;
  .fa {
    margin: auto;
  }
  .fa-phone {
    transform: rotate(135deg);
  }
  .fa-volume-control-phone {
    transform: rotate(-45deg);
  }
  .fa-comment {
    font-size: 0.8em;
  }
  .fa-phone-volume,
  .fa-question,
  .fa-clock-o {
    font-size: 1.2em;
  }
}
.designer-token {
  display: flex;
  &:hover {
    .designer-token-icon {
      visibility: visible;
    }
  }
}
.designer-token-label {
  flex: 1;
}
.designer-token-icon {
  visibility: hidden;
  cursor: pointer;
  &:hover .fa {
    color: fadeout(@black, 40);
  }
  .fa {
    color: fadeout(@black, 80);
  }
}
