.maha-phone-dialpad {
  display: flex;
  flex-direction: column;
}
.maha-phone-dialpad-header {
  padding: 0.8em 0.8em 0;
}
.maha-phone-dialpad-body {
  padding: 0 2.4em;
}
.maha-phone-dialpad-grid {
  display: flex;
  flex-wrap: wrap;
}
.maha-phone-dialpad-cell {
  flex: 1 0 ~"calc(100% / 3)";
  cursor: pointer;
  display: flex;
  padding: 1.2em 0.8em;
}
.maha-phone-dialpad-key {
  margin: auto;
  display: inline-block;
  text-align: center;
}
.maha-phone-dialpad-number {
  font-size: 1.2em;
  font-weight: bold;
  color: @black;
}
.maha-phone-dialpad-letters {
  font-size: 0.8em;
  color: fadeout(@black, 40);
}
.maha-phone-dialpad-action {
  display: flex;
  padding: 0.8em;
}
.maha-phone-dialpad-call {
  margin: auto;
  background-color: @green;
  color: @white;
  display: inline-flex;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  &.disabled {
    background-color: fadeout(@black, 90) !important;
  }
  &:hover {
    background-color: lighten(@green, 5);
  }
  .fa {
    font-size: 1.4em;
    margin: auto;
  }
}
