.finance-braintree-signup {
  padding: 0.8em;
  line-height: 1.6em;
  color: @white !important;
  &.warning {
    background-color: @yellow;
  }
  &.success {
    background-color: @green;
  }
  .ui.button {
    margin: 0 0.5em 0.5em 0;
  }
}
.finance-braintree-signup-text {
  margin-bottom: 0.8em;
}
