.maha-chart-header {
  padding: 0.8em;
  text-align: right;
}
.maha-chart-header {
  .maha-chart-range:last-child:after {
    content: '';
    margin: 0;
  }
}
.maha-chart-range {
  display: inline-block;
  &:after {
    content: '|';
    margin: 0 0.5em;
  }
}
.maha-chart-body {
  padding: 0.8em;
}
