.campaign-token {
  display: flex;
}
.campaign-token-icon {
  padding: 0.8em;
  display: flex;
  .fa {
    margin: auto;
    font-size: 1.4em;
  }
}
.campaign-token-label {
  padding: 0.8em 0.8em 0.8em 0;
  strong {
    color: @black;
  }
  color: fadeout(@black, 40);
}
