.platform-job {
  .maha-list-item {
    overflow: hidden;
  }
  .maha-list-item-component {
    width: 100%;
  }
}
.maha-code {
  line-height: 1.4em;
  font-size: 0.9em;
  padding: 0;
  pre {
    margin: 0;
  }
}
.platform-queue-count {
  margin: -0.8em 0;
  padding: 0.8em;
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 97);
  }
}
