.crm-contact-properties {
  background-color: @white;
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  overflow: hidden;
}
.crm-contact-properties-header {
  display: flex;
  background-color: fadeout(@black, 97);
  border-bottom: 1px solid fadeout(@black, 90);
  cursor: pointer;
  &:hover {
    background-color: fadeout(@black, 95);
  }
}
.crm-contact-properties-header {
  display: flex;
}
.crm-contact-properties-header-toggle {
  padding: 0.4em 0 0.4em 0.8em;
  color: fadeout(@black, 80);
  .fa {
    margin: auto;
  }
}
.crm-contact-properties-header-logo {
  padding: 0.4em 0 0.4em 0.8em;
  .maha-logo {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    font-size: 0.8em;
    overflow: hidden;
    border-radius: 0.3em;
    img {
      display: block;
    }
  }
}
.crm-contact-properties-header-title {
  padding: 0.4em 0.8em;
}
.crm-contact-properties-body {
  .maha-list {
    margin-bottom: 0;
  }
}
