.event-token {
  display: flex;
  flex: 1;
}
.event-token-logo {
  padding: 0.8em 0 0.8em 0.8em;
  .maha-logo {
    width: 1.8em;
    font-size: 0.8em;
  }
}
.event-token-label {
  padding: 0.8em;
  color: fadeout(@black, 40);
}
