.maha-checkbox {
  padding: .2em 0;
  line-height: 1em;
  &.toggle-disabled {
    .fa {
      cursor: default;
    }
  }
  .fa {
    font-size: 1.8em;
    margin: 0 0.2em 0 0;
    cursor: pointer;
  }
  .fa-toggle-off {
    color: fadeout(@black, 80);
  }
  .fa-toggle-on {
    color: @blue;
  }
  .disabled {
    color: fadeout(@black, 90);
  }
}
