.maha-checkbox {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.3em;
  padding: 0.6em;
  &.toggle-disabled {
    .fa {
      cursor: default;
    }
  }
  .fa {
    font-size: 1.8em;
    margin: 0 0.4em 0 0;
    cursor: pointer;
  }
  .fa-toggle-off {
    color: fadeout(@black, 80);
  }
  .fa-toggle-on {
    color: @blue;
  }
  .disabled {
    color: fadeout(@black, 90);
  }
}
