.maha-app-item {
  h3 {
    margin: 0;
    color: @black;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  p {
    margin: 0;
    color: lighten(@black, 40%);
    font-size: 1em;
    line-height: 1.2em;
  }
  .button {
    width: 90px;
  }
  .reframe-list-item-content {
    padding: 0;
  }
}


.maha-app-detail {
  flex: 1;
  .scrollable;
}
.maha-app-detail-header {
  text-align: center;
  padding: 1em;
  background-color: @black;
  font-size: 7em;
  line-height: 1em;
  .colorize(background-color);
  i {
    color: @white;
    margin: auto;
  }
}
.maha-app-detail-body {
  padding: 1em;
}
