.voice-designer {
  flex: 1;
  display: flex;
  background-color: @white;
}
.voice-designer-main {
  background-color: #e9ebee;
  flex-direction: column;
  flex: 1;
  display: flex;
}
.voice-designer-sidebar {
  border-left: 1px solid fadeout(@black, 70);
  flex: 0 0 ~"calc(100% / 3)";
  max-width: 500px;
  min-width: 350px;
  display: flex;
  .maha-modal-panel-header {
    background-color: @grey !important;
  }
  & > * {
    flex: 1;
  }
}




.flowchart-canvas {
  flex: 1;
  display: flex;
  padding: 0.8em;
  overflow: scroll;
}
.flowchart {
  margin: 0.8em auto;
}
.flowchart-box-padding {
  padding: 0 0.4em;
}
.flowchart-box {
  position: relative;
  border-radius: 0.3em;
  border: 2px solid fadeout(@black, 80);
  font-weight: bold;
  background-color: @white;
  color: fadeout(@black, 40);
  padding: 1.2em 0.4em 0.8em;
  text-align: center;
  margin: 0 auto;
  width: 175px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: lighten(@black, 95);
  }
}
&.flowchart-box-beginning .flowchart-box-icon {
  background-color: @green;
}
&.flowchart-box-verb .flowchart-box-icon {
  background-color: @olive;
}
&.flowchart-box-conditional .flowchart-box-icon {
  background-color: @blue;
}
&.flowchart-box-delay .flowchart-box-icon {
  background-color: @purple;
}
&.flowchart-box-action .flowchart-box-icon {
  background-color: @teal;
}
&.flowchart-box-goal .flowchart-box-icon {
  background-color: @pink;
}
&.flowchart-box-ending .flowchart-box-icon {
  background-color: @red;
}
&.flowchart-box-ending .fa-phone {
  transform: rotate(135deg);
}
&.flowchart-box-action .fa-volume-control-phone {
  transform: rotate(-45deg);
}
.flowchart-box-icon {
  border: 2px solid fadeout(@black, 80);
  border-radius: 50%;
  color: @white;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 1.7em;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}
.flowchart-box-label {
  text-align: center;
  font-size: 0.8em;
  line-height: 2em;
}
.flowchart-connector {
  display: flex;
}
.flowchart-branches {
  display: flex;
}
.flowchart-connector {
  & > .flowchart-line {
    padding: 1em;
  }
  & > .flowchart-line:before {
    border-left: 2px solid lighten(@black, 75);
    left: 50%;
  }
}
.flowchart-branch {
  & > .flowchart-line {
    padding: 2.4em;
  }
  & > .flowchart-line:before {
    border-left: 2px solid lighten(@black, 75);
    left: 50%;
    width: 100%;
  }
  & > .flowchart-line:after {
    border-top: 2px solid lighten(@black, 75);
    width: 100%;
    left: 0;
  }
}
.flowchart-branches {
  .flowchart-branch:first-child > .flowchart-line:after {
    left: 50% !important;
    width: 50%;
  }
  .flowchart-branch:last-child > .flowchart-line:after {
    left: 0 !important;
    width: 50%;
  }
  .flowchart-branch:last-child > .flowchart-line:before {
    border-left: none !important;
    border-right: 2px solid lighten(@black, 75);
    left: 0 !important;
    width: 50%;
  }
}
.flowchart-line {
  flex: 1;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
  }
}
.flowchart-line-label {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border: 2px solid fadeout(@black, 80);
  background-color: @white;
  color: fadeout(@black, 40);
  text-align: center;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding: 0 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
