.maha-phone-contacts-result-token {
  flex: 1;
}
.maha-phone-contacts-result-proceed {
  padding: 0.8em 0.8em 0.8em 0;
  display: flex;
  .fa {
    margin: auto;
    color: fadeout(@black, 80);
  }
}
.maha-phone-contact-container {
  .scrollable();
  flex: 1;
}
.maha-phone-contact {
  flex-direction: column;
  display: flex;
}
.maha-phone-contact-header {
  text-align: center;
  .contact-avatar-token {
    width: 8em;
    margin: 1.6em auto;
  }
  .maha-avatar-text {
    font-size: 3em;
  }
  h2 {
    margin: 0;
  }
  p {
    line-height: 1.6em;
    color: fadeout(@black, 60);
    margin: 0;
  }
  .maha-phone-actions {
    margin-bottom: 1.4em;
  }
}
.maha-phone-contact-title {
  padding: 0.2em 0.8em;
  font-size: 0.8em;
  text-transform: uppercase;
  background-color: fadeout(@black, 70);
  color: @white;
}
.maha-phone-contact-body {
  border-top: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  flex: 1;
}
