.maha-composer {
  border: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 97);
  border-radius: 0.5em;
  display: flex;
  padding: 0;
  flex: 1;
}
.maha-composer-attachments-icon {
  padding: 0.6em 0 0.6em 0.8em;
  display: flex;
  cursor: pointer;
  &:hover .fa {
    color: red;
  }
  .fa {
    color: fadeout(@black, 60);
    margin: auto;
    font-size: 1.4em;
  }
}
.maha-composer-input {
  flex: 1;
}
.maha-composer-camera {
  &:hover .fa {
    color: @red;
  }
}
.maha-composer-editor {
  flex-direction: column;
  min-height: 100%;
  display: flex;
  flex: 1;
}
.maha-composer-emojis {
  .fa {
    font-size: 1.4em;
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.maha-composer-emojis {
  border-right: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  display: flex;
  text-align: center;
  cursor: pointer;
  .fa {
    line-height: 1em;
    margin: 0 auto;
    color: fadeout(@black, 60);
  }
}
.maha-composer-link {
  width: 100%;
  max-width: 370px;
  position: relative;
  .fa-times {
    text-shadow: 0 0 1px fadeout(@black, 25);
    position: absolute;
    color: darken(@white, 5);
    right: 0.4em;
    top: 0.4em;
    cursor: pointer;
    &:hover {
      color: @white;
    }
  }
}

.maha-composer-textarea {
  display: flex;
  flex: 1;
}
.maha-composer-textarea-field {
  flex: 1;
  word-break: break-word;
  padding: 0.6em 0.8em 0.6em 1.05em;
  textarea {
    background-color: transparent;
    resize: none;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0 0.2em 0 0;
    outline: none;
    display: block;
    overflow: hidden;
    &::-webkit-input-placeholder {
      opacity: 0.5;
    }
    &:-moz-placeholder {
      opacity: 0.5;
    }
    &::-moz-placeholder {
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      opacity: 0.5;
    }
  }
}


@media (max-width: 768px) {
  .maha-composer {
    .maha-emojis {
      display: none;
    }
  }
}
