.maha-comment-composer {
  background-color: @white;
  padding: 0 0.4em 0.4em 0.4em;
  display: flex;
}
.maha-comment-composer-component {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.5em;
  display: flex;
  padding: 0;
  flex: 1;
}
.maha-comment-composer-attachment {
  padding: 0.8em 0 0.8em 0.6em;
}
.maha-comment-composer-send {
  padding: 0.8em 0.8em 0.6em 0;
}
.maha-comment-composer-attachment {
  border-right: 1px solid fadeout(@black, 90);
  background-color: fadeout(@black, 95);
  &:hover {
    background-color: fadeout(@black, 92);
  }
  .fa {
    font-size: 1.2em;
  }
}
.maha-comment-composer-emojis {
  .fa {
    font-size: 1.4em;
    &:hover {
      color: fadeout(@black, 40);
    }
  }
}
.maha-comment-composer-attachment,
.maha-comment-composer-emojis {
  border-right: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  display: flex;
  text-align: center;
  cursor: pointer;
  .fa {
    line-height: 1em;
    margin: 0 auto;
    color: fadeout(@black, 60);
  }
}

.maha-comment-composer-photo {
  flex: 0 0 1em;
  font-size: 1.3em;
  display: flex;
  cursor: pointer;
  color: fadeout(@black, 60);
  .hover(color, @red);
  padding: 0;
}
.maha-comment-composer-editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.maha-comment-composer-mention {
  color: @blue;
}
@media (max-width: 768px) {
  .maha-comment-composer {
    .maha-emojis {
      display: none;
    }
  }
}
