.field-invalid {
  .maha-checkboxes {
    border-color: @red;
  }
}
.maha-checkboxes {
  border: 1px solid fadeout(@black, 90);
  border-radius: 0.28em;
  min-height: 2.4em;
  &:focus {
    outline: -webkit-focus-ring-color auto 2px !important;
    outline-offset: -3px;
  }
}
.maha-checkbox {
  display: flex;
  cursor: pointer;
}
.maha-checkbox-icon {
  flex: 0 0 1.6em;
  display: flex;
  padding: 0.4em 0 0.4em 0.4em;
  .fa {
    margin: auto;
    font-size: 1.2em;
    &:focus {
      outline: -webkit-focus-ring-color auto 2px !important;
    }
  }
  .fa-square-o,
  .fa-circle-o {
    color: fadeout(@black, 80);
  }
  .fa-check-square,
  .fa-check-circle {
    color: @blue;
  }
}
.maha-checkbox-label {
  padding: 0.4em;
  flex: 1;
}
