.crm-trigger-type-token {
  padding: 0.8em;
  display: flex;
}
.crm-trigger-type-token-icon {
  &.response {
    background-color: @blue;
  }
  &.open {
    background-color: @red;
  }
  &.click {
    background-color: @green;
  }
  &.manual {
    background-color: @teal;
  }
  margin: auto;
  display: flex;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: 2px solid fadeout(@black, 80);
  .fa {
    margin: auto !important;
    color: @white;
    font-size: 0.8em;
  }
}
