@red: #DB2828;
@orange: #F2711C;
@yellow: #FBBD08;
@olive: #B5CC18;
@green: #21BA45;
@teal: #00B5AD;
@blue: #2185D0;
@violet: #6435C9;
@purple: #A333C8;
@pink: #E03997;
@brown: #A5673F;
@black: #000000;
@white: #FFFFFF;

body {
  position: relative;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.table {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.table-head {
  background: fadeout(@black, 90);
  padding-right: 8px;
}
.table-body {
  flex: 1;
  display: flex;
  .table-cell {
    border-right-color: transparent;
  }
}
.table-row {
  flex: 1;
  display: flex;
  border-bottom: 1px solid fadeout(@black, 90);
  .table-cell:last-child {
    border-right: none;
  }
}
.table-cell {
  border-right: 1px solid fadeout(@black, 90);
  padding: 0.8em;
  overflow: hidden;
}
.table-scrollable {
  flex: 1;
  &::-webkit-scrollbar-track {
    background: fadeout(@black, 92) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: fadeout(@black, 80) !important;
  }
  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }
}
