.maha-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  .fa-caret-down,
  .fa-caret-up,
  .fa-chevron,
  .fa-circle-o,
  .fa-check-circle {
    font-size: 1.2em;
    line-height: 1em;
  }
  .fa-circle-o {
    color: fadeout(@black, 90);
  }
  .fa-check-circle {
    color: @blue;
  }
}
.maha-table-head {
  background: fadeout(@black, 90);
  padding-right: 8px;
  .maha-table-row {
    border-bottom: 1px solid fadeout(@black, 90);
  }
  .maha-table-cell {
    &:hover {
      background-color: fadeout(@black, 95);
    }
    font-weight: bold;
    position: relative;
    cursor: pointer;
    color: fadeout(@black, 50);
    &.config {
      padding: 0.8em;
    }
    &.next {
      min-width: 2.8em !important;
    }
    .fa {
      margin: 0;
    }
    .fa-ellipsis-v,
    .fa-caret-up,
    .fa-caret-down {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      color: fadeout(@black, 50);
    }
  }
}
.maha-table-body {
  flex: 1;
  display: flex;
  .maha-table-row {
    background-color: @white;
    overflow: hidden;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid fadeout(@black, 90);
    }
  }
  .maha-table-cell {
    border-right-color: transparent;
    & > div {
      flex: 1;
    }
    &.centered {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
    &.fa {
      padding: 0.8em;
    }
    &.padded {
      padding: 0.8em;
    }
    .fa {
      margin: 0;
    }
    .fa-chevron-right, .fa-ellipsis {
      color: fadeout(@black, 80) !important;
    }
    .fa-ellipsis {
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
.maha-table-scrollable {
  flex: 1;
  &::-webkit-scrollbar-track {
    background: fadeout(@black, 92) !important;
  }
  &::-webkit-scrollbar-thumb {
    background: fadeout(@black, 80) !important;
  }
  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }
}
.maha-table-row {
  flex: 1;
  display: flex;
  border-top: 1px solid fadeout(@black, 90);
  .maha-table-cell {
    &:last-child {
      flex: 0 1 40px;
      display: flex;
      .fa {
        margin: auto;
      }
    }
  }
}
.maha-table-cell {
  border-right: 1px solid fadeout(@black, 90);
  display: flex;
  align-items: center;
  &.padded {
    padding: 0.8em;
  }
}
.maha-table-link {
  &:hover {
    background-color: fadeout(@black, 95);
  }
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .maha-table-cell {
    &:not(.mobile),
    &:not(.mobile) {
      display: none;
    }
  }
}
